
{% if events_headline is null %}
	{% set events_headline = 'Research Events' %}
{% endif %}

{% if 'narrow' not in events_list_style_modifier %}
	{% set headline_style_modifier = 'section-title' %}
{% endif %}


<div class="events-list {{ events_list_style_modifier }}">
	{% include 'molecules-headline-group' with {
		superhead: events_superhead,
		headline: events_headline,
		style_modifier: headline_style_modifier
	} %}

	<div class="events">
		<ul>
			{% for i in 0..4 %}
			<li>
				{% include 'molecules-event' %}
			</li>
		{% endfor %}
		</ul>
	</div>

	{% if buttons %}
		{% include 'molecules-button-group' with {
			buttons: buttons
		} %}
	{% endif %}
</div>