

<div class="twitter-feed">
	{% include 'molecules-headline-group' with {
		headline: 'Follow Us',
		style_modifier: 'section-title'
	} %}

	<div class="feed">
		{# with no height #}
		{# <a class="twitter-timeline" data-link-color="#0033A0" href="https://twitter.com/ResearchKY">Tweets by ResearchKY</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script> #}

		{# height 750 #}
		<a class="twitter-timeline" data-height="750" data-link-color="#0033A0" href="https://twitter.com/ResearchKY">Tweets by ResearchKY</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
	</div>
</div>