<div class="event">
	<div class="datebox">
		<div class="month">Jan</div>
		<div class="date">28</div>
	</div>
	<div class="event-details">
		<div class="event-category">{{ fake('bs')|capitalize }}</div>
		<div class="event-name"><a href="#">{{ fake('bs')|capitalize }}</a></div>
		<div class="event-location">Location of the Event</div>
		<div class="event-time">Time of the Event</div>
	</div>
</div>
