{% if icon %}
	{% set stats_block_modifier = stats_block_modifier ~ ' shield' %}
{% endif %}

{% if not number %}
	{% set number = random(200) %}
{% endif %}

{% if number_subhead is null %}
	{% set number_subhead = 'million' %}
{% endif %}

{% if stat_text is null %}
	{% set stat_text = fake('bs')|capitalize %}
{% endif %}

<div class="stats-block {{ stats_block_modifier }}">

	{% if icon %}
		<div class="shield-icon">{{ svg.ref(icon,icon,icon) }}</div>
	{% endif %}

	{% include 'molecules-headline-group' with {
		subhead: number_subhead,
		headline: number,
		style_modifier: ''
	} %}
	<div class="stat-text">
		<p>{{ stat_text }}</p>
	</div>
</div>