@use 'color-functions';

$gradients: (
    dark-wildcat:(color(dark-blue), color(wildcat-blue))
  );
  // These are color schemes that map the colors above
  // to specific elements. In general we try to keep
  // css rules that specify color in the "usescheme"
  // mixin; this makes it easy to ensure that color
  // schemes remain consistent.
  //
  // $scheme-light is the default.
  //
  // You can create a new scheme by copying this
  // map and giving it a new name.
  //
  // color(key,scheme) will return the hex value
  // of the color in that space; typically you
  // do not use color(key,scheme) except in the
  // usescheme() mixin below.
  $scheme-light: (
    scheme-name: 'scheme-light',
    link: color-functions.color(wildcat-black),
    link-active: color-functions.color(wildcat-blue),
    menu-icon-color: color-functions.color(wildcat-blue),
    menu-icon-color-active: color-functions.color(wildcat-blue),
    text: color-functions.color(wildcat-black),
    accent: color-functions.color(sunset),
    button-border: color-functions.color(wildcat-blue),
    button-background: color-functions.color(wildcat-blue),
    button-text: color-functions.color(wildcat-white),
    button-disabled-border: color-functions.color(subtle-gray),
    button-disabled-background: color-functions.color(subtle-gray),
    button-disabled-text: color-functions.color(dark-gray),
    button-hover-border: color-functions.color(wildcat-blue),
    button-hover-background: color-functions.color(wildcat-white),
    button-hover-text: color-functions.color(wildcat-blue),
    button-active-border: color-functions.color(wildcat-blue),
    button-active-background: color-functions.color(wildcat-blue),
    button-active-text: color-functions.color(wildcat-white),
    button-focus-border: color-functions.color(bluegrass),
    button-focus-background: color-functions.color(wildcat-white),
    button-focus-text: color-functions.color(wildcat-blue),
    headline-group-super: color-functions.color(dark-gray),
    headline-group-head: color-functions.color(wildcat-black),
    headline-group-sub: color-functions.color(dark-gray),
    media-citation: color-functions.color(dark-gray),
    carousel-single-button: color-functions.color(dark-gray),
    carousel-single-button-art: color-functions.color(wildcat-white),
    carousel-center-button: color-functions.color(dark-gray),
    carousel-center-button-art: color-functions.color(wildcat-white),
    carousel-dot: color-functions.color(bluegrass),
    carousel-dot-active: color-functions.color(wildcat-black),
    carousel-center-caption: color-functions.color(wildcat-black),
    media-background: color-functions.color(wildcat-blue),
    statistic-head-color: color-functions.color(wildcat-blue),
    statistic-subhead-color: color-functions.color(bluegrass),
    logo-color: color-functions.color(wildcat-blue),
    wordmark-color: color-functions.color(wildcat-black),
    dashed-border-color: rgba(#2c2a29, .3),
    form-borders: color-functions.color(cool-neutral)
  );
  
  // This scheme applies lighter colors to child elements,
  // and should be invoked by darker-background containing elements
  $scheme-dark: (
    scheme-name:'scheme-dark',
    link: color-functions.color(wildcat-white),
    link-active: color-functions.color(sky),
    menu-icon-color: color-functions.color(cool-neutral),
    menu-icon-color-active: color-functions.color(cool-neutral),
    text: color-functions.color(wildcat-white),
    accent: color-functions.color(river-green),
    button-border: color-functions.color(wildcat-white),
    button-background: color-functions.color(wildcat-white),
    button-text: color-functions.color(wildcat-blue),
    button-disabled-border: rgba(#ededed, .66),
    button-disabled-background: rgba(#ededed, .66),
    button-disabled-text: color-functions.color(wildcat-blue),
    button-hover-border: color-functions.color(wildcat-white),
    button-hover-background: color-functions.color(wildcat-blue),
    button-hover-text: color-functions.color(wildcat-white),
    button-active-border: color-functions.color(dark-blue),
    button-active-background: color-functions.color(cool-neutral),
    button-active-text: color-functions.color(wildcat-blue),
    button-focus-border: color-functions.color(wildcat-white),
    button-focus-background: color-functions.color(cool-neutral),
    button-focus-text: color-functions.color(wildcat-blue),
    headline-group-super: color-functions.color(cool-neutral),
    headline-group-head: color-functions.color(wildcat-white),
    headline-group-sub: color-functions.color(cool-neutral),
    media-citation: color-functions.color(wildcat-white),
    carousel-single-button: color-functions.color(dark-gray),
    carousel-single-button-art: color-functions.color(wildcat-white),
    carousel-center-button: transparent,
    carousel-center-button-art: color-functions.color(wildcat-white),
    carousel-dot: color-functions.color(subtle-gray),
    carousel-dot-active: color-functions.color(sky),
    carousel-center-caption: color-functions.color(wildcat-black),
    media-background: color-functions.color(wildcat-black),
    statistic-head-color: color-functions.color(wildcat-white),
    statistic-subhead-color: color-functions.color(sky),
    logo-color: color-functions.color(wildcat-white),
    wordmark-color: color-functions.color(wildcat-white),
    dashed-border-color: rgba(#fff, .3),
    form-borders: transparent
  );
  
  
  
  // convenience aliases
  $white: color-functions.color(wildcat-white);
  $black: color-functions.color(wildcat-black);
  $color-text: color-functions.color(text);
  $color-link: color-functions.color(link);
  
  
  
  // This mixin generates all of the color CSS that
  // marries the color schemes above with CSS selectors.
  // This can generate a considerable amount of CSS,
  // so it's probably a good place for some reengineering
  // and refactoring. When I went down this road, I was
  // really only expecting to change colors for a handful
  // of items -- but by the end it had become pretty
  // elaborate.
  