// This is the color palette. Colors should never be
// referenced with literals. These names are preferred.
//
// color(key) will return the hex value here.
//
// Seriously, do not pollute the sass with color literals.
// new colors: July 2019
$colors: (
  // primary
  wildcat-blue: #0033a0,
  wildcat-white: #fff,
  // secondary
  bluegrass: #0071eb,
  sky: #B1C9E8,
  midnight: #041E42,
  goldenrod: #FFDC00,
  sunset: #FFA360,
  river-green: #4CBCC0,
  // neutral
  cool-neutral: #DCDDDE,
  warm-neutral-20: #F9F9F5,
  warm-neutral-60: #EFEBE2,
  warm-neutral: #D6D2C4,
  wildcat-black: #000000,
  // old colors
  light-blue: #1897d4,
  medium-blue: #2b3a82,
  dark-blue: #1f2c5e,
  almost-wildcat-blue: #002678,
  light-blue-tint: #a1d3ed,
  light-blue-shade: #106693,
  blue-black: #000500,
  light-gray: #c8c8c7,
  subtle-gray: #ebebeb,
  barely-gray: #f4f4f5,
  dark-gray: #515664,
  blue-gray: #eff4fd,
  success: #7cfc00,
  warning: #ff8c00,
  alert: #c12c2b,
  info: #a1d3ed,
);

$color-undefined: #aaa;
