<div class="calendar-preview {{ "slab--" ~ calendar_date_color|default('wildcat-white') }}">
    {% include 'atoms-stacked-date' with { heading_variant: heading_variant } %}
    {% include 'atoms-inline-heading' with { heading_variant: heading_variant } %}
</div>

