{% set link_description = true %}

<div class="described-links">
  {% for i in 1..3 %}
    <div class="described-links__item">
      {% if link_description is sameas(true) %}
        <div class="described-links__description">
          {% include 'atoms-paragraph' %}
        </div>
      {% endif %}
      <div class="described-links__link">
        {% include 'atoms-link' %}
      </div>
    </div>
  {% endfor %}
</div>
