
{% spaceless %}
<a href=""><span class="headline-group__head {{ headline_variant }}">
    {% if linked %}
        {% include 'atoms-link' with {label: text, link_variant: "underline-link"} %}
    {% else %}
        {{ text|default('bs') }}
    {% endif %}
</span></a>
{% endspaceless %}