<div class="statistic">
    <span class="statistic__super">{{ super|default('Label Above') }}</span>
    <span class="statistic__main">{{ main|default('Main Statistic') }}</span>
    <span class="statistic__sub">{{ sub|default('Label Below') }}</span>
</div>