<a href="/patternlab" class="lockup">
	<div class="lockup__main">
		<div class="lockup__logo">
			<img src="../../images/uk-logo.svg" alt="University of Kentucky Logo">
		</div>
		<div class="lockup__wordmark">
			<span class="lockup__wordmark__row">{{lockup_wordmark_1 | default('Department of Integrated') }}</span>
			<span class="lockup__wordmark__row">{{lockup_wordmark_2 | default('Strategic Comminication') }}</span>
		</div>
	</div>
	<div class="lockup__unit">{{ lockup_unit|default('College of Communication and Information') }}</div>
</a>