<a class="lockup" href="/patternlab">
    <div class="logo"><img src="../../images/uk-logo.svg" alt="University of Kentucky"></div>
    <div class="wordmark">{{ fake('catchphrase')|titleize }}</div>
    <div class="spacer"></div>
    <div class="unit">College of {{ fake('bs')|titleize }}</div>
</a>