{% if num_items is null %}
	{% set num_items = 3 %}
{% endif %}


<div class="rich-list">
	<ul>
		{% for i in 1 .. num_items %}
		<li>
			<a href="#">{{ fake('sentence') }}</a>
			{{ fake('paragraph') }}
		</li>
		{% endfor %}
	</ul>
</div>