<div class="teaser__media">
{% if teaser_media_type is sameas('image') %}
    {% include 'atoms-image' %}
{% endif %}
{% if teaser_media_type is sameas('video') %}
    {% include 'molecules-nice-video' %}
{% endif %}
{% if teaser_media_type is sameas('audio') %}
    {% include 'atoms-audio' %}
{% endif %}
</div>