/// This scss file renders to wysiwyg.scss, and can be used by rich text editors to style text in the editor.

// susy is a grid layout tool. This is used when grid or flexbox choices aren't appropriate
// http: //oddbird.net/susy/
// @import 'susy';

// mathsass exposes Javascript's Math class to sass. We are using a NewCity fork so we can provide trivial updates
// https: //github.com/newcity/eyeglass-math/
// @import 'math';

// mq is a sass/media-query library
// https://github.com/sass-mq/sass-mq
// @import 'sass-mq';

@use 'includes/root-rhythm';
@import 'includes/rem';
@import 'includes/math';
// @import 'includes/colors';
@import 'includes/variables';
@import 'includes/mixins';

:root {
  @include root-rhythm.rr-font-compute(r, tight);
  position: relative;
}

@import 'includes/fonts';
@import '../../intermediate/iconfont';


@import 'atoms/global';
@import 'atoms/icons';
@import 'atoms/text';
@import 'atoms/buttons';
@import 'atoms/lists';
@import 'atoms/media';

@import 'molecules/text';

@import 'components/blocks/editorial';
