.media-icon {
	width: rem-calc(50);
	height: rem-calc(50);
	background: $color-accent-secondary;
	position: relative;
	.icon-wrapper {
		svg {
			color: #fff;
			max-width: 70%;
			max-height: 70%;
			position: absolute;
			margin: auto;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
		}
	}

	&.small {
		width: rem-calc(26);
		height: rem-calc(26);
	}

	&.news {
		background: $color-quaternary;
	}
	&.video-camera {
		background: $color-accent-tertiary;
	}
	&.podcast {
		background: $color-accent-primary;
	}
	&.book-stack {
		background: $color-accent-quinary;
	}



	&.invert {
		background: transparent;
		.icon-wrapper {
			svg {
				color: $color-accent-secondary;
			}
		}
		&.video-camera {
			.icon-wrapper {
				svg {
					color: $color-accent-tertiary;
				}
			}
		}
		&.podcast {
			.icon-wrapper {
				svg {
					color: $color-accent-primary;
				}
			}
		}
		&.book-stack {
			.icon-wrapper {
				svg {
					color: $color-quaternary;
				}
			}
		}
		&.news {
			.icon-wrapper {
				svg {
					color: $color-quaternary;
				}
			}
		}
	}
}