{% set headline = title %}

<div class="unit-header">

	<div class="unit-header-wrapper">
		<div class="heading">
			{% include 'atoms-heading' with { headline: headline, level: 1 } %}
		</div>
		{% include 'atoms-tagline' %}

	</div>


</div>
