{% set headline_group_props = {
	"level":level|default(1),
	"headline_group_id":headline_group_id|default("headline-group"|uniqid),
	"headline_group_variant":headline_group_variant,
	"head": fake('sentence')|titleize,
}%}

{% set formatted_text_props = {
	content: text.editorial_paragraphs(1, 5)
}%}

{% set cta_group_props = {
    "cta_type":"mixed",
    "actions":[{
        "label":"Action 1",
        "url":"example.com"
    },
    {
        "label":"Action 2",
        "url":"example.com"
    }]
}%}


<div class="micro-teaser">
    {% include 'molecules-headline-group' with headline_group_props %}
    <div class="micro-teaser__wrapper">
    <div class="micro-teaser__media">
        <a href="#">{% include 'atoms-image' with {aspect: "1:1", width: 300} %}</a>
    </div>
    <div class="micro-teaser__content">
       	{% include "@limestone/formatted-text.twig" with formatted_text_props only %}
        {% include '@limestone/cta-group.twig' with cta_group_props only %}
    </div>
    </div>
</div>