.fast-fact {

  text-align: center;

  @at-root #{&}__stat {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
  }

  @at-root #{&}__main-stat {
    font-size: 3rem;
  }

  @at-root #{&}--reversed {
    flex-direction: column-reverse;
  }
}
