@use '../../tokens/color-schemes';
@use '../../includes/root-rhythm';
@use '../../includes/color-functions';

.global-header {
  @include usescheme(color-schemes.$scheme-dark);
  background-color: color-functions.color(wildcat-blue);

  .slab.global-header__nav-bar {
    display: none;
    padding: root-rhythm.rr-gridbase(2);
  }

  .slab.mobile-nav {
    padding: 0;
  }

  .utility-nav {
    display: none;
  }

  .menu-button:focus{
    border-color: #ffffff;
    outline: 2px solid #ffffff;
    background-color: #0033a0;
    color: #DCDDDE;
  }

  .menu-button:active {
    background-color: #0033a0;
    color: #DCDDDE;
  }
  button:focus {
    background-color: #0033a0;
    color: #DCDDDE;
  }
  button[aria-pressed='true']{
    background-color: #0033a0;
    color: #DCDDDE;
  }

  @include root-rhythm.rr-break-directive(l) {
    .slab.global-header__masthead {
      padding: root-rhythm.rr-gridbase(3) root-rhythm.rr-gridbase(2) root-rhythm.rr-gridbase(1);
    }

    .slab.global-header__nav-bar {
      display: block;
      position: relative;
    }

    .slab.mobile-nav {
      display: none;
    }

    .slab.global-header__nav-bar {

      .slab__wrapper {
        padding: root-rhythm.rr-grid-remainder(1px, 1.5) 0 root-rhythm.rr-gridbase(1.5);
        border-top: 1px color-functions.color(light-gray) solid;
      }
    }

    .utility-nav {
      display: block;
    }
  }

  @include root-rhythm.rr-break-directive(xl) {
    .slab.global-header__masthead {
      padding: root-rhythm.rr-gridbase(3) 0 root-rhythm.rr-gridbase(1);
    }

    .slab.global-header__nav-bar {
      padding-right: 0;
      padding-left: 0;
    }
  }
}

.global-header__banner {
  display: flex;
  position: relative;
  align-items: flex-end;
  justify-content: space-between;

  .uky-logo-main {
    width: 14.118rem;
    height: root-rhythm.rr-gridbase(7);
  }


  .toggle-button {
    align-self: center;
  }

  @include root-rhythm.rr-break-directive(l) {
    .toggle-button {
      display: none;
    }

    .menu-button {
      display: none;
    }

    .uky-logo-main {
      width: 23.118rem;
      height: root-rhythm.rr-gridbase(12);
    }
  }
}


