.global-header {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;	

	.utility-nav {
		display: none;
	}

	.menu-button {
		align-self: center;
	}	

	@include rr-break-directive(l) {
		
		.utility-nav {
			display: block;
		}
		
		.mobile-nav {
			display: none;
		}

		.toggle-button {
			display: none;
		}
	}
}

.mobile-nav {
	@include rr-break-directive(l) {
		display: none;
	}	
}
