.global-header {
  .slab.mobile-nav {
    padding: 0;
  }

  .slab.global-nav-bar {
    padding: 0;
  }

  @include rr-break-directive(l) {
    .slab.masthead {
      padding: rr-gridbase(3) 0 rr-gridbase;
    }

    .slab.mobile-nav {
      display: none;
    }

    .slab.global-nav-bar {
      padding: 0;

      .slab__wrapper {
        padding: rr-grid-remainder(1px, 2) 0 rr-gridbase(2);
        border-top: 1px color(light-gray) solid;
      }
    }
  }
}

.global-header__banner {
  display: flex;
  position: relative;
  align-items: flex-end;
  justify-content: space-between;

  .uky-logo-main {
    width: 23.118rem;
    height: rr-gridbase(12);
  }

  .utility-nav {
    display: none;

    a {
      @include link-colors($d: color(wildcat-blue), $h: color(light-blue));
      font-weight: 600;
    }
  }

  .toggle-button {
    align-self: center;
  }

  @include rr-break-directive(l) {
    .utility-nav {
      display: block;
    }

    .toggle-button {
      display: none;
    }

    .menu-button {
      display: none;
    }
  }
}


