.global-header {
	.slab.mobile-nav {
		padding: 0;
		
		@include rr-break-directive(l) {
			display: none;
		}	
	}
}

.global-header__banner {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;	

	.utility-nav {
		display: none;
	}

	.menu-button {
		align-self: center;
	}

	@include rr-break-directive(l) {
		
		.utility-nav {
			display: block;
		}
		
		.toggle-button {
			display: none;
		}
	}
}
