.mega-menu {
  position: relative;
  .mega-menu-nav-item {
    cursor: pointer;
  }
  .mega-menu__slab {
    background-color: color(dark-blue);
    position: relative;
    overflow: hidden;
    top: 0;
    width: 100%;
    &:not(.open) {
      max-height: 0px;
    }
    &.open {
      display: flex;
      flex-wrap: wrap;
      max-height: fit-content;
      padding: rr-gridbase(1);
    }
    .mega-menu__description,
    .mega-menu__submenus {
      flex: 1 0 100%;
      padding: rr-gridbase(1);
    }
    .mega-menu__submenus {
      display: flex;
      flex-wrap: wrap;
    }
  }
  @include rr-break-directive(l) {
    .mega-menu__slab {
      background-color: color(wildcat-blue);
      left: 0;
      position: absolute;
      top: 60px;
      width: 100vw;
      z-index: 100;
      &.open{
        padding: rr-gridbase(3);
      }
      .mega-menu__description,
      .mega-menu__submenus {
        flex: 1 0 50%;
        padding: rr-gridbase(3);
      }
    }
  }
}