.mega-menu {
  //position: relative;
  .mega-menu__nav-item {
    cursor: pointer;
    position: relative;
    &[aria-expanded=true]::after{
      //border-bottom: .25rem solid;
      //border-color: color(wildcat-white);

        display: block;
        position: absolute;
        bottom: -.25rem;
        left: 0;
        width:  3.125rem;
        height: .25rem;
        background-color: color(wildcat-white);
        content: '';
    }
  }
  .mega-menu__slab {
    background-color: color(dark-blue);
    //position: relative;
    overflow: hidden;
    top: 0;
    width: 100%;
    &:not(.open) {
      max-height: 0px;
      left:-9999px;
    }
    &.open {
      display: flex;
      flex-wrap: wrap;
      max-height: fit-content;
      padding: 0 rr-gridbase(1) rr-gridbase(1);
    }
    .mega-menu__description,
    .mega-menu__submenus {
      flex: 1 0 100%;
      //padding: rr-gridbase(1);
    }

    .mega-menu__description {
      display:none;
    }

    .mega-menu__submenus {
      //display: flex;
      //flex-wrap: wrap;
      a {
        @include rr-font-compute(r, medium);
        padding-bottom: rr-gridbase(1);
      }
    }


  }
  @include rr-break-directive(l) {
    .mega-menu__slab {
      background-color: color(wildcat-blue);
      left: 0;
      position: absolute;
      top: 100%;
      width: 100vw;
      z-index: 100;
      &.open{
        padding: 0 rr-gridbase(3) rr-gridbase(3);
      }
      .mega-menu__description,
      .mega-menu__submenus {
        @include rr-font-compute(r, medium);
      }
      .mega-menu__description {
        display:block;
      }
    }
  }

  &.mega-menu--mobile {
    &.open .mega-menu__level_1 {
      display:none;
    }
  }

  .mega-menu__mobile-slab {
    display: none;

    &.open {
    display:block;
  }
  }
}