@use 'root-rhythm';
@use 'color-functions';
@use 'typography';

.mobile-tab-nav {
  .utility-nav {
    display: block;
    margin-top: root-rhythm.rr-gridbase();
  }

  .universal-nav > * {
    padding: root-rhythm.rr-gridbase(1) root-rhythm.rr-gridbase(1) 0 0;

    &.my-uk-logo {
      padding: 0;
    }
  }

  .mobile-tab-nav__main-menu-panel {
    background-color: color-functions.color(wildcat-blue);
  }

  .mobile-tab-nav__menus {
    padding: root-rhythm.rr-gridbase(3);
    background-color: color-functions.color(dark-blue);
  }

  .mobile-tab-nav__universal {
    padding: root-rhythm.rr-gridbase(3) root-rhythm.rr-gridbase(3) 0;
  }

  .universal-breadcrumb {
    display: block;
  }

  .my-uk-logo {
    svg {
      width: 4.375rem;
      height: 1.875rem;
    }
  }

  .section-nav {
    padding: root-rhythm.rr-gridbase(3);

    li {
      display: none;

      &.current-item {
        display: list-item;
        @include root-rhythm.rr-font-compute(l, medium, typography.$fonts);

        a {
          pointer-events: none;
        }

        ul,
        ol {
          padding-top: root-rhythm.rr-grid-remainder(1px);
          padding-bottom: root-rhythm.rr-gridbase(1);
          border-top: 1px color-functions.color(light-blue) solid;
        }

        li {
          display: list-item;
        }
      }
    }
  }
}

.mobile-tab-nav--wildcat {
  .mobile-tab-nav__main-menu-tab[aria-selected='true'] {
    background-color: color-functions.color(wildcat-blue);
  }

  .mobile-tab-nav__menus {
    padding-bottom: 0;
    background-color: color-functions.color(wildcat-blue);
  }

  .mobile-tab-nav__universal {
    padding-top: 0;
  }
}

