.universal-header {
    display: none; // mobile first! Contents display in a for < m

    padding-top: rr-gridbase(1);
    padding-bottom: rr-gridbase(1);

    .universal-header__layout {
        justify-content: space-between;
        color: color(wildcat-black);

        @include rr-break-directive(m) {
            display: flex;
        }
    }

    .universal-header__breadcrumb {
        display: none;

        @include rr-break-directive(m) {
            display: block;
        }
    
        a {
            text-decoration: none;
            color: color(medium-blue);
            &:link, &:visited {
                color: color(medium-blue);     
            }
            &:hover, &:active {
                color: color(wildcat-blue);
            }
        }
    
        sub {
            font-size: inherit;
            position: relative;
            top: .1875rem;
            left: -.1875rem;
        }
    
    
        ul {
            @include rr-font-compute(s,tight);            
            list-style: none;
            margin: 0;
            padding: 0;
            font-family: $font-mercury;
            font-weight: normal;
            text-indent: -1.531em;
            padding-left: 1.531em;            

            @include rr-break-directive(m) {
                @include rr-font-compute(r,tight);
            }

            @include rr-break-directive(l) {
                @include rr-font-compute(l,tight);
            }

            @include rr-break-directive(xl) {
                @include rr-font-compute(xl,tight);
                text-indent: -1.531em;
                padding-left: 1.531em;                      
            }

            li {
                display: inline;
                        
                &::after {
                    content: '|';
                    padding-left: rr-gridbase(1);
                    padding-right: rr-gridbase(1);
                }

                &:first-child {
                    img {
                        
                    }
                }

                &:last-child::after {
                    display: none;
                }
            }
        }
    }

    @include rr-break-directive(l) {
        display: block;
        .universal-nav {
            .my-uk-logo {
                box-sizing: content-box;
                height: rr-gridbase(3);
                width: 3.4375;
                svg {
                    display: block;
                    height: rr-gridbase(3);
                    width: 3.4375;
                    margin: 0 auto;
                }
            }
            button {
                box-sizing: content-box;
                display: block;
                height: rr-gridbase(3);
            }
            .my-uk-logo, button {
                padding: rr-gridbase(1) rr-gridbase(1);
                background-color: color(blue-gray);
                margin-top: rr-gridbase(-1);
                margin-bottom: rr-gridbase(-1);
            }
            &:first-child:last-child {
                position: relative;
                width: 100%;
            } 
        }
    }
}