.universal-header {
  @include usescheme($text-colors-dark);
  display: none;
  padding-top: rr-gridbase(1);
  padding-bottom: rr-gridbase(1);
  background-color: color(wildcat-blue);

  .universal-header__layout {
    justify-content: space-between;
    @include rr-break-directive(m) {
      display: flex;
    }
  }

  @include rr-break-directive(l) {
    display: block;
  }
}
