@use 'root-rhythm';
@use 'typography';
.utility-nav {
  a {
    @include root-rhythm.rr-font-compute(l, medium, typography.$fonts, typography.$lineheights);
    display: block;
    margin-bottom: root-rhythm.rr-gridbase(2);
    transition: color .3s ease-in-out;
    font-weight: 500;
    text-transform: uppercase;

    &:link,
    &:visited {
      text-decoration: none;
    }

    &:hover,
    &:active,
    .global-header &:hover,
    .global-header &:active {
      text-decoration: underline;
      color: #ffffff;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  @include root-rhythm.rr-break-directive(l) {
    @include root-rhythm.rr-font-compute(r, medium, typography.$fonts, typography.$lineheights);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: root-rhythm.rr-gridbase(2);
    text-transform: none;

    a {
      display: inline;
      margin-bottom: 0;
      @include root-rhythm.rr-font-compute(r, tight, typography.$fonts, typography.$lineheights);
      margin-left: root-rhythm.rr-gridbase(6);
    }
  }
}
