{% set utility_label_id = "UtilityNavLabel"|uniqid %}
<nav id="{{ "UtilityNav"|uniqid }}" class="utility-nav" aria-labelledby="{{ utility_label_id }}">
    <div class="show-for-sr" id="{{ utility_label_id }}">Utility Navigation</div>    
    {% for link in links %}
        {% include '@limestone/link.twig' with { label: link.label} only %}
    {% endfor %}
</nav>