{% if media is empty %}
    {% set media = 'image' %}
{% endif %}
<div class="image-with-caption">
    {% embed 'molecules-figure' %}
        {% block figure_media %}
            <div class="image-with-caption__media">{% include media_pattern|default('atoms-image') %}</div>
        {% endblock %}
        {% block figure_caption %}
            {% include 'atoms-heading' with { level:level|default(2), heading_variant: heading_variant|default('font-usual') } %}
            {% include 'atoms-formatted-text' %}
            {% if cta_variant is sameas('cta--dark') %}
                <p>{% include 'atoms-button' with { button_variant: 'button--ghost', label: button_label } %}</p>
            {% else %}
                <p>{% include 'atoms-button' with { label: button_label, button_variant: button_variant } %}</p>
            {% endif %}
        {% endblock %}
    {% endembed %}
</div>