{% set headline_group_props = {
	"level":level|default(3),
	"headline_group_id":headline_group_id|default("headline-group"|uniqid),
	"headline_group_variant":headline_group_variant,
	"head": "Contact",
}%}

{% set formatted_text_props = {
	content: text.editorial_paragraphs(1, 2)
}%}

<div class="teaser teaser--blue-gray contact-info {{ contact_info_variant }}">
    {% if contact_info_variant is not sameas("contact-info--sheet") %}
    <div class="contact-info__heading">
        {% include '@limestone/headline-group.twig' with headline_group_props only %}
        {% include "@limestone/formatted-text.twig" with formatted_text_props only %}
    </div>
    {% endif %}
    <div class="contact-info__content">
        {% if hide_image is not sameas(true) %}
            <div class="contact-info__photo">
                {% include 'atoms-image' with {aspect: "1:1", width: 300 } %}
            </div>
        {% endif %}
        {% if contact_info_variant is not sameas("contact-info--sheet") %}
        <div class="contact-info__identity">
            <p>
                <span class="contact-info__name">{{ fake('name') }}</span>
                <span class="contact-info__title">{{ fake('jobTitle') }}</span>
            </p>
        </div>
        {% endif %}
        <dl class="invisible-labels">
            <dt>College or Department</dt>
            <dd>{% include '@limestone/link.twig' with { label:'College or Department', 'link_variant':'link--fancy' } %}</dd>
            <dt>Address</dt>
            <dd>117 Pence Hall</dd>
            <dt>Phone Number</dt>
            <dd>{% include '@limestone/link.twig' with { label:"859.257.7617",'link_variant':'link--fancy' } %}</dd>
            <dt>Email Address</dt>
            <dd>{%  include '@limestone/link.twig' with { label:fake('email') , 'link_variant':'link--fancy' } %}</dd>
        </dl>
    </div>
</div>