<table class="contact-table">
  <caption class="show-for-sr">Important Phone Numbers</caption>
  <tbody>
    <tr>
      <th scope="row">Phone</th>
      <td>859 257-9000</td>
    </tr>
    <tr>
      <th scope="row">Emergencies</th>
      <td>911 / #UKPD(#8573)</td>
    </tr>
    <tr>
      <th scope="row">UKPD Dispatch</th>
      <td>859 257-1616</td>
    </tr>
    <tr>
      <th scope="row">Environmental Health &amp; Safety</th>
      <td>859 257-1376</td>
    </tr>
  </tbody>
</table>