{% set quote %}
<p>
  {{ fake('paragraph',{nb: 1}) }}
</p>
{% endset %}

{% set props = {
  "first_line":attribution|default(fake('name')),
  "second_line":description|default(fake('jobTitle') ~ ', ' ~ fake('company')),
  "pullquote_variant":pullquote_variant,
  "quote":quote,
  "image_src":fake('imageUrl',{aspectRatio: "1:1", width: 200})
}%}

{% include "@limestone/pullquote.twig" with props only %}

