{% set text %}
  <p>
    {{ fake('paragraph',{nb: 1}) }}
  </p>
{% endset %}

{% set props = {
  "pulltext_variant":pulltext_variant,
  "text":text
}%}

{% include "@limestone/pulltext.twig" with props only %}
