{% set headline_group_props = {
	"level":level|default(2),
	"headline_group_id":headline_group_id|default("headline-group"|uniqid),
	"headline_group_variant":headline_group_variant,
	"head": 'Connect With Us' ,
}%}

<div class="social-media-links {{ social_media_links_variant }}">
    {% set headline_group_variant = (hide_heading) ? "show-for-sr" : "" %}
    {% include '@limestone/headline-group.twig' with headline_group_props only %}
    <div class="social-media-links__linkset">
        {% set icons = ['twitter','facebook','linkedin','instagram','pinterest','snapchat','youtube'] %}
        {% spaceless %}    
            {% for social in icons %}
                {% if social_icons_block %}{% set icon = social ~ '-block' %}{% else %}{% set icon = social %}{% endif %}
                <a href="http://www.{{ social }}.com/">{% include '@limestone/icon-label.twig' with { hide_label: true, icon: icon, label:social } only %}</a>
            {% endfor %}
        {% endspaceless %}
    </div>
</div>