{% set headline_group_props = {
	"level":level|default(2),
	"headline_group_id":headline_group_id|default("headline-group"|uniqid),
	"headline_group_variant":headline_group_variant,
	"head": "Filter " ~ contentType|default('content'),
}%}

<div class="content-filter">
    {% include '@limestone/headline-group.twig' with headline_group_props %}
    <form action="/news" method="get" id="views-exposed-form-news-page-1" accept-charset="UTF-8">
        <div class="form-item">
            <label for="edit-category">Category</label>
            <select data-drupal-selector="edit-category" id="edit-category" name="category" class="form-select">
                <option value="All" selected="selected">- Any -</option>
                {% for i in 0 .. 20 %}
                    <option value="{{ i }}">{{ fake('words',{nb: 2, asText: true}) }}</option>
                {% endfor %}
            </select>
        </div>
        <input value="Apply" class="button" type="submit">
    </form>
</div>
