{% embed 'molecules-slab' with {slab_variant: 'slab--placeholder'} %}
    {% block slab_inner %}
        <p>Placeholder: {{ title|default("Default Placeholder") }}</p>
    {% endblock %}
{% endembed %}
