{% if unit_header %}
	{% set main_header_modifier = main_header_modifier ~ ' unit-header' %}
{% endif %}
{% if center_header %}
	{% set main_header_modifier = main_header_modifier ~ ' center-header' %}
{% endif %}

<header class="main-header {{ main_header_modifier }}">
	<div class="main-header-wrapper">

		<div class="region-header-logo">
			<div>
				{% if not center_header %}
					{% include 'atoms-logo' %}
				{% else %}
					<a href="/" class="logo">
						{# <img src="../../images/center-logos/center-tracy-farmer.svg" alt="Name of Center Goes Here" /> #}
						{# <img src="../../images/center-logos/center-violence-against-women.svg" alt="Name of Center Goes Here" /> #}
						<img src="../../images/center-logos/center-ccts.svg" alt="Name of Center Goes Here" />
						{# <img src="../../images/center-logos/center-computational-sciences.svg" alt="Name of Center Goes Here" /> #}
						{# <img src="../../images/center-logos/center-survey-research.svg" alt="Name of Center Goes Here" /> #}
					</a>
				{% endif %}
			</div>
		</div>

		<div class="mobile__toggle">
			<button class="visibility-toggle">
				{{ svg.ref('navigation-drawer-2','Open Navigation','hamburger') }}
				<span class="sr-only">Open Navigation</span>
			</button>
		</div>

		<div class="navigation">
			<div class="top-bar-wrapper">
				{% if unit_header %}
					{% include 'molecules-unit-header' %}
				{% elseif center_header %}
					{% include 'atoms-tagline' %}
				{% else %}
					{% include 'molecules-top-nav' %}
				{% endif %}
				{% include 'molecules-utility-nav' %}
			</div>

			{% if unit_header or center_header%}
				{% include 'molecules-unit-nav' %}
			{% else %}
				{% include 'molecules-main-nav' %}
			{% endif %}
		</div>
	</div>
</header>

