{% set headline = title %}

<div class="page-header {{ page_header_modifier }}">

	<div class="page-header-wrapper">
		<div class="heading">
			{% include 'atoms-heading' with { headline: headline, level: 1 } %}
		</div>
		{% if tagline is not empty %}
			{% include 'atoms-tagline' %}
		{% endif %}
	</div>

	<div class="image">
		{# <img src="/images/sample/background1.jpg" alt="alt_text_here" /> #}
	</div>

</div>
