
// callout settings
// mostly for making the icon shields
$callout-padding: rem-calc(30);
$callout-stroke-width: $border-medium;
$default-stroke: $color-accent-secondary;

.callout {
	position: relative;
	width: 100%;
	border: $default-stroke $callout-stroke-width solid;
	padding: $callout-padding;
	margin-bottom: rem-calc(60);

	.callout-body {
		p {
			font-size: rem-calc(18);
			line-height: rem-calc(30);
		}

		.image {
			margin-bottom: rem-calc(20);
		}
	}

	.shield-icon {
		// just in case icon gets passed w/out shield setting on
		display: none;
	}

	.action-link {
		a {
			.icon-label {
				.label {
					max-height: none;
				}
			}
		}
	}



	&.shield {
		@include shield($default-stroke);
	}

	&:not(.action-buttonless) {
		.action-link {
			a {
				@extend .button;
				.icon-wrapper {
					display: none;
					.label {
						max-height: none;
					}
				}
			}
		}
	}

	&.action-buttonless {
		.action-link {
			a {
				font-weight: bold;
				font-size: rem-calc(18);
				font-weight: $weight-black;
				.icon-wrapper {
					margin-right: 0;
					svg {
						width: rem-calc(24);
						height: rem-calc(24);
						fill: $color-quaternary;
					}
				}
			}
		}
	}

	&.light {
		border-color: $color-shade-lightest;
	}
}


@import "callouts/dark";
@import "callouts/wide-layout";
@import "callouts/inner-stroke";
@import "callouts/social-callout";
@import "callouts/large-feature";
@import "callouts/simple";

