{% if media_type is null %}
	{% set media_type = "Media Type" %}
{% endif %}

<div class="news-meta {{ news_meta_modifier }}">
	<ul>
		{% if not hide_icon %}
		<li class="media-type-icon">
			{% include 'atoms-media-icon' with {
				'media_icon_modifier': 'small',
				'media_type': media_type
			} %}
		</li>
	{% endif %}
		{% if media_type %}<li>{{ media_type|capitalize }}</li>{% endif %}
		{# <li>{{ media_type|capitalize }}</li> #}
		<li>Feb 18 2017</li>
	</ul>

</div>