
{# set some defaults #}

{% if heading_level is null %}
	{% set heading_level = 4 %}
{% endif %}

{% if story_title is null %}
	{% set story_title = fake('sentence')|capitalize %}
{% endif %}

{% if show_summary is null %}
	{% set show_summary = true %}
{% endif %}



<div class="news-teaser {{ news_teaser_modifier }}">
	
	{% if show_large_media_icon %}
		<div class="large-media-icon">
			{% include 'atoms-media-icon' with {
				media_type: media_type,
				media_icon_modifier: ''
			} %}
		</div>
	{% endif %}


	{% if show_thumbnail %}
	<div class="story-thumbnail">
		<a href="#">
		{% if thumbnail_type == 'widescreen' %}
			{% include 'atoms-image'with { width: 800, height: 450 } %}
		{% elseif thumbnail_type == 'headshot' %}
			{% include 'atoms-image'with { width: 800, height: 800 } %}
		{% else %}
			{% include 'atoms-image' %}
		{% endif %}
		</a>

		{% if type_on_thumbnail %}
			{% include 'atoms-media-icon' with {
				media_type: media_type
			} %}
		{% endif %}
	</div>
	{% endif %}

	<div class="teaser-body">
		{% if show_meta %}
			{% include 'molecules-news-meta' with {
				media_type: media_type,
				hide_icon: meta_hide_icon
			} %}
		{% endif %}

		{% include 'atoms-heading' with {
			linked: true,
			level: heading_level,
			headline: story_title,
			style_modifier: 'story-title'
		} %}

		{% if show_summary %}
			<p>{{ fake('paragraph') }}</p>
		{% endif %}

		{% if show_button %}
			{% include 'atoms-button' with {label: 'All News'} %}
		{% endif %}
	</div>
</div>