<div class="news-story-credits">
	{% include 'atoms-heading' with {
		headline: 'Credits',
		level: 4
		} %}

	<div class="credits-list">
		<ul>
			{% for i in 0..2 %}
				<li>
					{{ fake('bs')|capitalize }}
					<a href="#">{{ fake('bs')|capitalize }}</a>
				</li>
			{% endfor %}
		</ul>
	</div>
</div>