@use 'color-schemes';
@use 'layout';
@use 'root-rhythm';
@use 'color-functions';

.page-header.page-header--split {
  padding: 0;
  background-color: color-functions.color(blue-gray);
  $colors: light-gray wildcat-blue dark-blue;

  @each $color in $colors {
    &.slab--#{$color} {
      padding-bottom: 0;
      border-width: 0;
      background-color: color-functions.color($color);
    }
  }

  .page-header__content {
    padding: root-rhythm.rr-gridbase(2) root-rhythm.rr-prop-for-breakpoint(s, offset);
    padding-bottom: root-rhythm.rr-gridbase(2);
    border-bottom: 4px color-functions.color(light-blue) solid;
  }

  .slab__wrapper {
    padding: 0;
    border-width: 0;
  }

  .cta-group {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    a {
      margin-bottom: root-rhythm.rr-gridbase(2);

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  @include root-rhythm.rr-break-directive(l) {
    .page-header--split__hero {
      width: 56%;
      margin-left: auto;
    }

    .slab__wrapper {
      display: flex;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 50%;
      align-items: center;
      width: 100%;
      max-width: layout.$global-width;
      transform: translateX(-50%);
      overflow: hidden;
    }

    .page-header__content {
      width: 50%;
      max-height: 100%;
      padding: root-rhythm.rr-gridbase(4) root-rhythm.rr-gridbase(6);
      background-color: color-functions.color(wildcat-blue);
      @include usescheme(color-schemes.$scheme-dark, 'l');
    }

    &.slab--light-gray {
      .page-header__content {
        background-color: color-functions.color(dark-blue);
        @include usescheme(color-schemes.$scheme-dark, 'l');
      }
    }

    &.slab--dark-blue {
      .page-header__content {
        background-color: color-functions.color(wildcat-white);
        @include usescheme(color-schemes.$scheme-light, 'l');
      }
    }

    &.slab--wildcat-blue {
      .page-header__content {
        background-color: color-functions.color(wildcat-white);
        @include usescheme(color-schemes.$scheme-light, 'l');
      }
    }
  }
}
