<div class="video-with-caption">
    {% include 'molecules-headline-group' with { head: 'Video Player Headline' } %}
    {% embed 'atoms-figure' %}
        {% block figure_media %}
            {% include 'molecules-nice-video' %}
        {% endblock %}
    {% endembed %}
</div>