<div class="audio-with-caption">
    {% include 'molecules-headline-group' with { head: 'Audio Player Headline' } %}
    {% embed 'atoms-figure' %}
        {% block figure_media %}
            {% include "atoms-audio" %}
        {% endblock %}
    {% endembed %}
</div>