{% set first_line = attribution|default(fake('name')) %}
{% set second_line = description|default(fake('jobTitle') ~ ', ' ~ fake('company')) %}
<div class="pullquote {{ pullquote_variant }}">
  <div class="pullquote__quote">
    {% include 'atoms-paragraph' %}
  </div>
  <div class="pullquote__meta">
    {% include 'atoms-image' with {aspect:"1:1", width:200} %}
    <cite class="pullquote__attribution">
      <span class="pullquote__first-line">{{ first_line }}</span>
      <span class="pullquote__second-line">{{ second_line }}</span>
    </cite>
  </div>
</div>
