<div class="link-collection">
    <div class="link-collection__header">
        {% include 'molecules-headline-group' with { super: 'Described Links Block', head: 'Link Collection' } %}
        {% include 'atoms-formatted-text' with { formatted_text_sentences : 2 } %}
    </div>
    <div class="link-collection__content">
        {% include 'molecules-described-links' %}
        {% include 'atoms-button' %}
    </div>
</div>