<div class="social-icons">
    {% include 'molecules-headline-group' with { head: 'Social Media Links' } %}
    {% set icons = ['facebook','flickr','instagram','linkedin','pinterest','rss','twitter','youtube'] %}
    {% for social in icons %}
        {% include 'atoms-svgref' with {svgid: social} %}
    {% endfor %}
</div>