<div class="contact-info">
    {% include 'molecules-headline-group' with { level: 0, headline_group_linked: true, head: fake('name'), sub: fake('jobTitle') } %}
    {% spaceless %}
        <ul>
            <li class="contact-info__terms">{% include 'molecules-term-list' %}</li>
            <li class="contact-info__location">Location / Office</li>
            <li class="contact-info__telephone">{% include 'atoms-link-phone' %}</span></li>
            <li class="contact-info__telephone">{% include 'atoms-link-email' %}</span></li>
        </ul>
    {% endspaceless %}
</div>