<div class="statistic">
    {% include 'molecules-headline-group' with { head: random(['99.99%','99th','9 out of 10','$9,999,999','9:10','98/99']), sub: fake('words',{nb: random(6), asText: true}) } %}
    {% include 'atoms-formatted-text' with { formatted_text_sentences : 1 } %}
</div>