{{ attach_script('jquery.fitvids') }}
<div class="{{ embedded_video_style|default('embedded-video') }}">
  <iframe src="https://www.youtube.com/embed/{{ youtube|default('UKBvaOLDem0') }}?rel=0&amp;autoplay=0" frameborder="0" allowfullscreen></iframe>
</div>
