<div class="fit-media {{ styleModifier }}">
	<div class="media-wrapper">
		<iframe src="https://player.vimeo.com/video/{{ vimeo|default('195261600') }}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
	</div>
	{% if show_caption %}
		{% include 'atoms-media-caption' %}
	{% endif %}
</div>