.image-with-caption {
  @include block-header-font;

  figcaption {
    margin-top: 1.25rem;
    font-size: .875rem;

    p {
      font-size: .875rem;
    }
  }

  @at-root .layout-grid--on #{&} {
    $grid-color: #dfafdf;

    h2,
    h3,
    h4,
    p {
      background-color: $grid-color;
    }
  }
}
