@use 'root-rhythm';

.item-list {
  .teaser {
    margin-bottom: root-rhythm.rr-gridbase(2);
  }

  .contact-info.contact-info--sheet {
    margin: 0;

    .contact-info__content {
      display: block;
    }

    .contact-info__photo {
      float: right;
    }

    .contact-info__identity {
      top: auto;
      margin-top: 0;
      border-top-width: 0;
    }
  }
  @include root-rhythm.rr-break-directive(l) {
    .teaser {
      display: flex;
      margin-bottom: root-rhythm.rr-gridbase(4);
    }

    .teaser__media {
      flex: 0 0 37%;
      width: 37%;
      height: auto;
      margin-right: root-rhythm.rr-gridbase(4);
    }
  }
}
