

.people-list {
    width: 100%;
    border-collapse: collapse;

    .contact-info--sheet {
        background-color: transparent;
        margin-left: 0;
        margin-right: 0;
    }

    dl {
        margin: 0;
    }

    caption {
        position: absolute;
        left: -999999em;
    }
    
    .contact-info {
        margin-bottom: 0;
        margin-top: 1rem;

        dd {
            @include rr-font-compute(r,medium);
            .link--fancy {
                @include rr-font-compute(r,medium);
            }
        }
    }

    .people-list--name {
        @include rr-font-compute(2xl,tight);
        font-family: $font-mercury;
        font-weight: 600;
    }
    
    thead {
        position: absolute;
        left: -99999999em;
    }
    
    tbody {
        tr {
            border-bottom: 1px dashed color(light-gray);
            &:last-child {
                border-width: 0;
            }
        }
        td {
            @include rr-font-compute(r,medium);
            padding: 1rem;
        }
    }

    @include rr-break-directive(m) {
        width: 100%;
        border-spacing: 0;
        td:nth-child(1) {
            width: 50%;
        }
    }

    @include rr-break-directive(l) {
        td:nth-child(1) {
            vertical-align: top;
            width: 20%;
        }
    }
    
    // This is the opposite of mobile-first but
    // is cleaner for responsifying tables. 
    // See http://adrianroselli.com/2017/11/a-responsive-accessible-table.html#Responsive
    @media all and (max-width: 58em) {
        table, tr, td {
            display: block;
            width: auto;
        }
        thead {
            display: none; // Headers are useless to screenreaders at this size
        }
        td {
            padding: rr-gridbase() rr-gridbase(2);
        }
    }

}