@use 'color-functions';
@use 'root-rhythm';

.grid--divided {
  .statistic {
    padding: root-rhythm.rr-gridbase(4);
  }
}

.grid--two-tone {
  .headline-group__head {
    color: color-functions.color(wildcat-white);
  }

  .headline-group__sub {
    color: color-functions.color(light-blue-tint);
  }

  .editorial::before {
    background-color: color-functions.color(light-blue-tint);
  }
}
