.page-title {
	margin-bottom: rem-calc(60);
	@include media-breakpoint-down(xs) {
		margin-bottom: rem-calc(30);
	}
	&:after {
		display: block;
		content: '';
		height: 3px;
		width: 100%;
		background: $rainbow1;
		margin-top: rem-calc(10);
		@include media-breakpoint-up(md) {
			width: rem-calc(350);
		}
	}
}