.unit-header {
	h1, .heading-level-1 {
		font-weight: $weight-black;
		font-size: rem-calc(35);
		line-height: rem-calc(37);
		margin-bottom: rem-calc(12);
		@include media-breakpoint-down(xs) {
			font-size: rem-calc(24);
			line-height: rem-calc(26);
		}
	}
	.tagline {
		opacity: 0.75;
		@include media-breakpoint-down(xs) {
			display: none;
		}
		span.tagline-intro,
		span.tagline-main {
			display: inline;
			margin: 0;
			padding: 0;
		}
		span.tagline-intro {
			border: 0;
			font-size: rem-calc(15);
			font-weight: bold;
			letter-spacing: rem-calc(1);
		}
		span.tagline-main {
			font-size: rem-calc(19);
			font-weight: normal;
		}
	}
}