{% spaceless %}
  <a class="link-expandable {{ classes }}"role="button" aria-haspopup="true" aria-expanded="false" tabindex="0">
    {% block link_content %}{{ label|default(fake('bs')) }}{% endblock %}
</a>
{% endspaceless %}

{#//FIXME: there are two link-expandable: one is just this atom link, the other is a molecule with a container and a button#}
