
{% if num_items is empty and items is empty %}
	{% set num_items = 7 %}
{% endif %}


<ul class="{{ style_modifier }}">

	{# if no items are passed, build sample list #}
	{% if items is empty %}
	{% for i in 0 .. num_items %}
		<li>
			{% if sample_as_links is sameas(true) %}
				{% include '@limestone/link.twig' %}
			{% else %}
				{{ fake('bs')|titleize }}
			{% endif %}
		</li>
	{% endfor %}
	
	{# otherwise build the list based on what's in the item object #}
	{% else %}
	{% for item in items %}
		<li>
			{% if item.linked is sameas(true) %}
				{% include '@limestone/link' with { 
					label: item.content|default(fake('bs')|titleize) 
				} %}
			{% else %}
				{{ item.content|default(fake('bs')|titleize) }}
			{% endif %}
		</li>
	{% endfor %}
	{% endif %}

</ul>
