{% spaceless %}
<h{{ level|default(1) }}{% if heading_variant is not empty %} class="{{ heading_variant }}"{% endif %}>
  {% if linked is sameas(true) %}
    {% include 'atoms-link' with { label: headline|default(fake('bs')|titleize) } %}
  {% else %}
    <span class="heading__text">{{ headline|default(fake('bs')|titleize) }}</span>
  {% endif %}
</h{{ level|default(1) }}>
{% endspaceless %}
