{% embed 'molecules-slab' with { slab_variant : 'slab--wildcat-white editorial' } %}
	{% block slab_inner %}
		<p>
			These are editorial headings, which are made available from <code>h2</code>
			through <code>h6</code>. These styles are applied to text within 
			<code>.editorial</code>-classed elements. These styles are applied to the
			bare elements within that context only.
		</p>
		{% for i in 2..6 %}
			{% set headline = 'Editorial heading level ' ~ i %}
			{% include 'atoms-heading' with { headline: headline, level : i } %}
			{% include 'atoms-heading' with { headline: headline, level : i, linked : true } %}
			{% if loop.last is not sameas(true) %}<hr />{% endif %}
		{% endfor %}
	{% endblock %}
{% endembed %}
