<div class="panel-media">
	{% embed 'molecules-one-column' %}
		{% block one_column_col %}
			{% include 'organisms-captioned-media' with { media_placeholder : 'molecules-nice-video', embedded_video_style : "embedded-widescreen-video" } %}
		{% endblock %}
	{% endembed %}
</div>
