.feature-block {
	border: $border-thick $color-shade-lightest solid;
	padding: rem-calc(40);
	@include media-breakpoint-down(xs) {
		padding: rem-calc(20);
		// border-right: 0;
		// border-left: 0;
		margin-right: rem-calc(-30);
		margin-left: rem-calc(-30);
		border-width: $border-medium;
		// border: 0;
		// padding: 0;
	}
}