@use 'color-schemes';
@use 'color-functions';
@use 'root-rhythm';
@use 'typography';

.banner-alert {
  padding: root-rhythm.rr-gridbase(2);
  background-color: color-functions.color(info);
  @include root-rhythm.rr-break-directive(l) {
    padding: root-rhythm.rr-gridbase(4);
  }

  a,
  p {
    @include root-rhythm.rr-font-compute(l, medium, typography.$fonts, typography.$lineheights);
  }

  &--emergency {
    background-color: color-functions.color(alert);
    @include usescheme(color-schemes.$scheme-dark);

    a {
      @include faux-underline($d: color-functions.color(wildcat-white), $h: color-functions.color(wildcat-white));
    }

  }

  &--brand {
    background-color: color-functions.color(wildcat-blue);
    @include usescheme(color-schemes.$scheme-dark);

    a {
      @include faux-underline($d: color-functions.color(wildcat-white), $h: color-functions.color(wildcat-white));
    }
  }
}
