.banner-alert {
    padding: rr-gridbase(2);
    background-color: color(info);

    @include rr-break-directive(l) {
        padding: rr-gridbase(4);
    } 

    li { 

    }

    a, p {
        @include rr-font-compute(l, medium);
    } 

    &--emergency {
        background-color: color(alert);
        @include usescheme($text-colors-dark);
        a {
            @include faux-underline($d: color(wildcat-white), $h:color(wildcat-white));
        }
    }

    &--brand {
        background-color: color(wildcat-blue);
        @include usescheme($text-colors-dark);
        a {
            @include faux-underline($d: color(wildcat-white), $h:color(wildcat-white));
        }
    }
}