<div class="with-sidebar {{ row_sidebar_position|default('with-sidebar--right') }}">
	<div class="with-sidebar__main">
		{% block sidebar_content %}
			{% include 'atoms-formatted-text' with { formatted_text_paragraphs : 3 } %}
		{% endblock %}
	</div>
	<div class="with-sidebar__sidebar">
		{% block sidebar_sidebars %}
			{% include 'atoms-formatted-text' %}
		{% endblock %}
	</div>
</div>
