$accordion-active-color: $color-shade-lightest;
// $accordion-active-color: $color-quaternary;

.accordion {
	margin-bottom: rem-calc(60);
	border-bottom: $border-hairline $color-shade-lighter solid;
	@include media-breakpoint-down(xs) {
		margin-right: rem-calc(-30);
		margin-left: rem-calc(-30);
	}
	.accordion-group {
		a.accordion-header {
			transition: all, $transition-time;
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: rem-calc(20) rem-calc(30);
			border-top: $border-hairline $color-shade-lighter solid;
			// background-color: $color-quaternary;
			// color: #fff;
			color: $color-primary;
			@include media-breakpoint-down(sm) {
				padding: rem-calc(10);
			}
			&:hover {
				color: $color-primary;
				background-color: lighten($color-shade-lightest, 3%);
				// background-color: lighten($color-quaternary, 5%);
				background-color: $accordion-active-color;
			}
			h2 {
				font-size: rem-calc(22);
				margin: 0;
				display: flex;
				align-items: center;
				@include media-breakpoint-down(sm) {
					font-size: rem-calc(20);
				}
				@include media-breakpoint-down(xs) {
					font-size: rem-calc(18);
				}
			}
			.icon-wrapper {
				width: rem-calc(30);
				height: rem-calc(30);
				@include media-breakpoint-down(sm) {
					width: rem-calc(24);
					height: rem-calc(24);
				}
				svg {
					// fill: $color-primary;
					fill: $color-primary;
					color: $color-primary;
					max-width: 100%;
					max-height: 100%;
				}
			}
			.action-icons {
				margin-right: rem-calc(10);
				line-height: 0;
				.icon-wrapper {
					svg {
						fill: $color-quaternary;
						color: $color-quaternary;
					}
				}
				.icon-plus {
					display: inline-block;
				}
				.icon-minus {
					display: none;
				}
			}
			&.active {
				background: $color-quaternary;
				// background: $color-primary;
				background-color: $accordion-active-color;
				// color: #fff;
				border-top-color: darken($color-shade-lightest, 10%);
				// color: $color-tertiary;
				.action-icons {
					.icon-plus {
						display: none;
					}
					.icon-minus {
						display: inline-block;
					}
					.icon-wrapper {
						svg {
							fill: $color-quaternary;
							color: $color-quaternary;
						}
					}
				}
				.icon-wrapper {
					svg {
						// fill: $color-tertiary;
						// color: $color-tertiary;
					}
				}
			}
		}
		.accordion-content {
			display: none;
			// padding: 0 rem-calc(20) rem-calc(40);
			padding: rem-calc(10 30);
			// margin-bottom: rem-calc(30);
			border: $border-medium $accordion-active-color solid;
			border-top: 0;
			@include media-breakpoint-down(sm) {
				padding-left: 0;
				padding-right: 0;
			}
			
			.link-collection__header {
				font-weight: $weight-black;
				font-size: rem-calc(20);
			}
			ul {
				@extend .angle-list;
				li {
					padding: rem-calc(10) 0;
					font-size: rem-calc(18);
					margin-bottom: 0;
					&:before {
						top: 14px;
					}
					a {
						// text-decoration: underline;
						@include fauxunderline(rgba($color-primary, 0.8));
						&:hover {
							@include fauxunderline(rgba($color-quaternary, 0.8));
						}
					}
				}
			}
			& > ul {
				& > li {
					padding: rem-calc(20) 0;
					// margin-bottom: 0;
					&:before {
						top: 24px;
					}
					& > a {
						@extend .link-collection__header;
					}
				}
			}
			
		}
	}
}