.announcements {
	margin-bottom: rem-calc(60);

	.headline-group {
		.head {
			text-transform: uppercase;
		}
	}

	.rich-list {
		@include media-breakpoint-down(xs) {
			// 
		}
	}

	&:not(.narrow) {
		.headline-group {
			@extend .section-title;
			@include media-breakpoint-down(sm) {
				margin-bottom: rem-calc(30);
				.head {
					font-size: rem-calc(30);
				}
			}
		}
		.rich-list {
			ul {
				padding-left: 0;
				display: flex;
				flex-flow: row wrap;
				justify-content: space-around;
				li {
					width: 32%;
					@include media-breakpoint-down(md) {
						width: 48%;
					}
					@include media-breakpoint-down(sm) {
						width: 100%;
					}
					&:before {
						display: none;
					}
					a {
						font-size: rem-calc(26);
						@include media-breakpoint-down(sm) {
							font-size: rem-calc(22);
						}
					}
				}
			}
		}
	}

	&.narrow {
		@include media-breakpoint-down(xs) {
			margin-left: rem-calc(-30);
			margin-right: rem-calc(-30);
		}
		.headline-group {
			// margin-left: rem-calc(50);
			@include fontstyle('h3');
			@include media-breakpoint-down(xs) {
				margin-left: rem-calc(30);
				.head {
					font-size: rem-calc(28);
				}
			}
		}
		.rich-list {
			border: $border-medium $color-shade-lightest solid;
			padding: rem-calc(20) rem-calc(40) rem-calc(10) rem-calc(20);
			@include media-breakpoint-down(xs) {
				padding: rem-calc(10);
			}
			ul {
				@include media-breakpoint-down(xs) {
					padding-left: rem-calc(20);
				}
				li {
					margin-bottom: rem-calc(30);
					&:last-child {
						margin-bottom: 0;
					}
				}
			}
		}
	}
}