.stats-list {
	margin-bottom: rem-calc(60);
	text-align: center;
	.blocks {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
		.stats-block {
			width: 31%;
			margin-bottom: rem-calc(30);
			// width: 33.3333%;
			// margin-right: rem-calc(30);
			@include media-breakpoint-down(lg) {
				width: 48%;
			}
			@include media-breakpoint-down(sm) {
				width: 100%;
			}
			&:last-child {
				margin-right: 0;
			}
		}
	}
	.button-group {
		margin-top: 0;
		.button {
			margin-top: 0;
		}
	}
}