.toggle-content {
	button {
		@extend .button;
		margin-bottom: rem-calc(30);
		.content-visible-text {
			display: none;
		}
	}
	.to-toggle {
		// padding-top: rem-calc(30);
		display: none;
	}

	&.exposed {
		button {
			.content-visible-text {
				display: inline-block;
			}
			.content-hidden-text {
				display: none;
			}
		}
		.to-toggle {
			display: block;
		}
	}
}