.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.text-justify {
	text-align: justify;
}

.text-justified-and-ancient {
	text-align: justify;
	font-family: fantasy;
}
