@use 'root-rhythm';
@use 'color-functions';
@use 'typography';

.calendar-preview {
  color: color-functions.color(wildcat-blue);
  height: 6rem;
  padding: 15px;
  .stacked-date {
    @include root-rhythm.rr-font-compute(4xl, squeeze, typography.$fonts);
    border-right: solid 2px color-functions.color(wildcat-blue);
    display: inline-block;
    font-weight: 600;
    height: 100%;
    width: 33%;
  }
  .calendar-heading {
    display: inline-block;
    height: 100%;
    padding:root-rhythm.rr-gridbase(2);
    vertical-align: top;
    width: 60%;
  }
}