@use '../../includes/root-rhythm';
@use '../../includes/color-functions';
@use '../../tokens/typography';



// Normalize heading sizes; headings in a
// display context should have an additional
// font style applied to them.

h1,
h2,
h3,
h4,
h5,
h6 {
  @include root-rhythm.rr-font-compute(l, tight);
  font-weight: normal;
}

.editorial {
  @each $tag, $config in typography.$editorial-headings {
    #{$tag},
    #{$tag}.headline-group .headline-group__head {
      @include root-rhythm.rr-heading($tag, typography.$editorial-headings);
      margin-top: 0;
      margin-bottom:root-rhythm.rr-gridbase(2);
      font-family: typography.$font-avenirnext;
      font-weight: bold;
    }


    aside h2 {
      font-family: typography.$font-avenirnext;
    }
  }
}

.heading--display {
  @include root-rhythm.rr-font-compute(3xl, tight);
  position: relative;
  margin-bottom: 2rem;
  // font-family: $font-mercury;

  span {
    display: inline-block;
    position: relative;
    padding-right: 2rem;
    background-color: color-functions.color(wildcat-white);
    z-index: 1;
  }

  &::after {
    position: absolute;
    right: 0;
    bottom: .15em;
    left: 0;
    height: 2px;
    background-image: repeating-linear-gradient(to right, #{color-functions.color(light-gray)}, #{color-functions.color(light-gray)} 3px, transparent 3px, transparent 7px);
    content: '';
    z-index: 0;
  }

  @at-root .slab #{&}:last-child {
    margin-bottom: 2rem;
  }

  @at-root .grid__column--major #{&} {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  @include root-rhythm.rr-break-directive('m') {
    margin-bottom: 3rem;
    @at-root .slab #{&}:last-child {
      margin-bottom: 3rem;
    }
  }

  @include root-rhythm.rr-break-directive('l') {
    margin-bottom: 5.5rem;
    @at-root .slab #{&}:last-child {
      margin-bottom: 5.5rem;
    }
  }
}


