.icon-label {
	white-space: nowrap;
	display: inline-block;
	// font-weight: 800;

	.arrow,
	.icon-wrapper,
	.label {
		display: inline-block;
		vertical-align: top;
		max-height: 1em;
	}

	.icon-wrapper:first-child {
		margin-right: 0.5em;
	}

	icon-wrapper:last-child {
		margin-left: 0.5em;
	}

	.arrow {
		font-family: arial, helvetica, sans-serif;
	}

	.label {
		white-space: normal;
	}
}
