.icon-label {
	white-space: nowrap;
	.ic {
		display: inline-block;
		vertical-align: baseline;
		font-size: .8em;
	}

	.label {
		white-space: normal;
		margin-left: 0.3em;
	}
}

// Just to let you know this is an option.
// This tweaks the icon-label styles so the
// label and the icons line up
.align-icons {
	@include icon-label-align;
}
