a {
  transition: color .3s ease-in-out, background-color .3s ease-in-out;
}

.underline-link,
.editorial a {
  @include underline-link;
  text-decoration: none;
}

// We include the editorial link styles here
// because ".editorial a" has styles that implement
// the underline. 
.link--fancy,
.link--fancy-reverse,
.editorial .link--fancy,
.editorial .link--fancy-reverse {
  @include rr-font-compute(xl, tight);
  @include link-colors($d: color('medium-blue'), $h: color('light-blue'));
  display: inline-block;
  position: relative;
  padding-left: rr-gridbase(3);
  transition: color .2s ease-in-out;
  font-weight: 500;
  text-decoration: none;

  &::before {
    position: absolute;
    left: .25em;
    transition: left .3s ease-in-out;
    color: color(light-blue);
    font-family: iconfont;
    font-size: .7em;
    content: $icon-angle-right;
  }

  &:hover,
  &:active {
    &::before {
      left: .5em;
    }
  }
}

.link--fancy-reverse,
.editorial a.link--fancy-reverse {
  &::before {
    left: .25em;
    content: $icon-angle-left;
  }

  &:hover,
  &:active {
    &::before {
      left: 0;
    }
  }
}

// Tweak the font size
.editorial .link--fancy,
.editorial .link--fancy-reverse {
  @include rr-font-compute(l, tight);
}
