@use 'root-rhythm';
@use 'typography';
p {
  // @include root-rhythm.rr-font-compute(l, tight, typography.$fonts, typography.$lineheights);
  margin-bottom:root-rhythm.rr-gridbase(2);
  font-family: typography.$font-roboto;
  font-size: 1.125rem;
  line-height: 1.6;
  // color: rgb(51, 51, 51)

}

// Fix this style so it can be set on a wrapping container or the paragraph itself.
.intro {
  @include root-rhythm.rr-font-compute(xl, medium, typography.$fonts, typography.$lineheights);

  p {
    @include root-rhythm.rr-font-compute(xl, medium, typography.$fonts, typography.$lineheights);
  }
}

code {
  // have to make this text slightly smaller than the surround to keep from
  // interfering with the line height.
  font-size: .8em;
}
