{% set default_headline = fake('words',{ nb: 3 + random(5), asText: true }) %}

{% set headline_group_props = {
	"level":level|default(1),
	"headline_group_id":headline_group_id|default("headline-group"|uniqid),
	"headline_group_variant":headline_group_variant,
	"head": head|default(default_headline)|titleize, 
}%}


{% set cta_group_props = {
    "cta_type":"mixed",
    "button_style": button_style,
    "actions":[{
        "label":"Action 1",
        "url":"example.com"
    },
    {
        "label":"Action 2",
        "url":"example.com"
    }]
}%}

{% embed '@limestone/slab.twig' with {slab_variant : slab_variant|default('slab--wildcat-white') ~ " page-header page-header--split " ~ hero_variant} %}
    {% block slab_outer %}
        <div class="page-header--split__hero">
            {% include 'atoms-image' with {aspect: "4:3", width: 1800} %}
        </div>
        <div class="slab__wrapper">
            <div class="page-header__content">
                {% include '@limestone/headline-group.twig' with headline_group_props only %}
                {% if with_cta %}
                    {% include "@limestone/cta-group.twig" with cta_group_props only %}
                {% endif %}
            </div>
        </div>
    {% endblock %}
{% endembed %}