<div class="image-gallery">
    {% for i in 1..11 %}
    <a class="image-thumbnail" href="https://magicyeti.us/1000/750/*/?v={{i}}" title="Caption for image #{{i}}">
        <img src="https://magicyeti.us/600/450/*/?v={{i}}" alt="Image Alt Tag" />
    </a>
    {% endfor %}
</div>