@import 'global/colors';
@import 'global/font-styles';
@import 'global/placeholder';


body {
	margin: 0;
	padding: 0;
}

// Prep images to be responsive
img {
	width: 100%;
	height: auto;
	display: block;
}

hr {
	border-width: 0 0 1px;
	padding-bottom: rr-grid-remainder(1px);
}