@import 'global/colors';
@import 'global/font-styles';
@import 'global/placeholder';


body {
	margin: 0;
	padding: 0;

	@include usescheme($text-colors);
}

.default-colors {
	@include usescheme($text-colors);
}

.dark-colors {
	@include usescheme($text-colors);
}

// Prep images to be responsive
img {
	width: 100%;
	height: auto;
	display: block;
}

hr {
	border-width: 0 0 1px;
	padding-bottom: rr-grid-remainder(1px);
}

// Hide component from sighted users,
// maintain for screen readers
.show-for-sr {
	display: block;
	position: absolute;
	top: -999999em;
	left: -999999em;
}