@use 'root-rhythm';
@use 'tokens/typography';
ul,
ol {
  li {
    @include root-rhythm.rr-font-compute(r, medium, typography.$fonts);
    margin-bottom:root-rhythm.rr-gridbase();
  }

  &.no-decoration {
    @include no-decoration;
  }
}

dl {
  dt {
    @include root-rhythm.rr-font-compute(l, medium, typography.$fonts);
    margin-bottom:root-rhythm.rr-gridbase(1);
    font-weight: 500;
  }

  dd {
    @include root-rhythm.rr-font-compute(r, medium, typography.$fonts);
    margin-bottom:root-rhythm.rr-gridbase(2);
    margin-left: 0;
  }

  &.described-links {
    dt {
      margin-bottom: 0;
    }

    dd {
      margin-left: .75rem; // matches padding on fancy links
    }
  }

  &.invisible-labels {
    dt {
      display: none;
    }

    dd {
      margin-bottom: 0;
    }
  }
}
