{% if standalone %}
<div class="skip-nav-demo-wrapper">
{% endif %}
    {% include '@limestone/link.twig' with {'link_variant':'skip-nav', 'href':'#main-content', 'label':'Skip to main'}%}
{% if standalone %}
</div>
{% endif %}



