<div class="link-expandable">
<a class="link-expandable__button {{ classes }}"role="button" aria-haspopup="true" aria-expanded="false" tabindex="0">
    {% block link_expandable_link %}{{ label|default('Resources') }}{% endblock %}
</a>
<div class="link-expandable__container">
  {% block link_expandable_container %}
  <ul class="no-decoration">
    {% for i in 0..11 %}
      {% set label = fake('words', {nb: 1 + random(5), asText: true} )|capitalize %}
      <li>{% include '@limestone/link.twig' with {'label':label} only %}</li>
    {% endfor %}
  </ul>
  {% endblock %}
</div>
</div>
