<div class="pagination">
	<ul>
		<li class="first"><a href="#">First</a></li>
		<li class="previous"><a href="#">Previous</a></li>
		<li class="current"><a href="#">1</a></li>
		<li><a href="#">2</a></li>
		<li><a href="#">3</a></li>
		<li><a href="#">4</a></li>
		<li><a href="#">5</a></li>
		<li><a href="#">6</a></li>
		<li class="next"><a href="#">Next</a></li>
		<li class="last"><a href="#">Last</a></li>
	</ul>
</div>