<div class="universal-breadcrumb">
  {# Breadcrumb should be university, parent of current site only #}
  <ul>
    <li><a class="link--fancy-reverse" href="https://www.uky.edu" title="Back to University of Kentucky home page">University of Kentucky</a></li>
    <li><a href="#">College of {{ fake('bs')|titleize }}</a></li>
  </ul>
</div>