
<nav class="breadcrumbs">
  <ul class="no-decoration">
    <li>{% include '@limestone/link.twig' with { label: 'Home' } only %}</li>
    {% for i in 0 .. 3 %}
      <li>{% include '@limestone/link.twig' with { label: fake('words',{nb: 1 + random(10), asText: true})|capitalize } only %}</li>
    {% endfor %}
  </ul>
</nav>
