{% set default_headline = fake('words',{ nb: 3 + random(5), asText: true }) %}

{% set headline_group_props = {
	"level":level|default(1),
	"headline_group_id":headline_group_id|default("headline-group"|uniqid),
	"headline_group_variant":headline_group_variant,
	"head": head|default(default_headline)|titleize,
}%}

{% set cta_group_props = {
    "cta_type":"mixed",
    "button_style": button_style,
    "actions":[{
        "label":"Action 1",
        "url":"example.com"
    },
    {
        "label":"Action 2",
        "url":"example.com"
    }]
}%}

{% set popout_class = no_popout ? ' popout' : '' %}
{% embed '@limestone/slab.twig' with {slab_variant : slab_variant|default('slab--wildcat-white') ~ " page-header page-header--hero " ~ hero_variant ~ popout_class } %}
    {% block slab_outer %}
        {% if ambient_video %}
            {% include 'molecules-ambient-video' %}
        {% else %}
            {% include 'atoms-image' with {aspect: "16:9", width: 2400} %}
        {% endif %}
        {% if no_popout %}
            {# TODO: create molecule for the plain text headline #}
            {% include 'molecules-headline-group--popout' with { level : 1, head:head|default(default_headline)|titleize } %}
            {# <h1>Perserverance<br>pays off</h1> #}
        {% else %}
            <div class="slab__wrapper">
                <div class="page-header__content">
                    {% include '@limestone/headline-group.twig' with headline_group_props only %}
                    {% if with_cta %}
                        {% include "@limestone/cta-group.twig" with cta_group_props only %}
                    {% endif %}
                </div>
                {% if secondary_image %}
                    <div class="page-header__secondary-img">
                        {% include 'atoms-image' with {aspect: "1:1", width: 710} %}
                    </div>
                {% endif %}
            </div>
        {% endif %}
    {% endblock %}
{% endembed %}