
{% embed 'molecules-slab' %}
	{% block slab_content %}
		{% include 'atoms-heading' with { level: 2, headline: 'Icon Set'} %}
		<ul class="icon-catalog">
		{% for icon in [
				'alert',
				'angle-left',
				'angle-right',
				'angle-up',
				'audio',
				'bolt',
				'camera',
				'clock',
				'close',
				'checker-3-fill',
				'checker-4-nofill',
				'event',
				'gallery-open',
				'home',
				'info',
				'magnify',
				'menu',
				'pause',
				'play-triangle',
				'popup',
				'quote-open',
				'quote-close',
				'video',
				'facebook',
				'instagram',
				'linkedin',
				'pinterest',
				'rss',
				'snapchat',
				'twitter',
				'youtube',
				'facebook-block',
				'instagram-block',
				'linkedin-block',
				'pinterest-block',
				'snapchat-block',
				'twitter-block',
				'youtube-block',				
			]
		%}
			
		<li>{% include 'atoms-icon-label' with { icon: icon, label: icon|capitalize ~ ' | ' ~ 'ic--' ~ icon }  %}</li>
			
		{% endfor %}
		</ul>
	{% endblock %}
{% endembed %}

