
{% apply spaceless %}
<span class="headline-group__head {{ headline_variant }}">
    {% if linked %}
        {% include '@limestone/link.twig' with {'label': text, 'link_variant': "underline-link"} %}
    {% else %}
        {{ text|default('bs') }}
    {% endif %}
</span>
{% endapply %}
