<span class="term-list">
    {% set taxonomy = fake('words',{nb:3}) %}
    <p>
        {% for term in taxonomy %}
            {% include '@limestone/link.twig' with { 'label': term} %}{% if not loop.last %}, {% endif %}
        {% endfor %}
    </p>
</span>