/**
 * This stylesheet is for styles you want to include only when displaying demo
 * styles for grids, animations, color swatches, etc.
 * These styles will not be your production CSS.
 */
@import 'root-rhythm';
@import 'includes/design-variables';
@import 'includes/colors';
@import 'includes/fonts';

#sg-patterns {
  max-width: 100%;
}

.demo-animate {
  background: #ddd;
  padding: 1em;
  margin-bottom: 1em;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
}

.sg-colors {
  margin-left: 0;
  list-style: none;
  @include css-grid-columns(map-get($rr-grids,6-up));
}

.sg-colors__column {
  border: 2px solid color(light-gray);
  border-radius: 8px;
  padding: rr-grid-remainder(2px);
  overflow: hidden;
  @include font-compute(m, tight);

  margin {
    top: rr-gridbase() * 2;
    bottom: rr-gridbase() * 2;
  }  
}

.sg-colors pre {
  @include font-compute(xs,tight);
  margin-bottom: rr-gridbase();
}

.sg-swatch {
  display: block;
  height: rr-gridbase() * 10;
  margin-bottom: rr-gridbase();
  border-radius: 5px;
  padding: rr-grid-remainder(5px);
}

.sg-pattern-example {
	overflow: hidden;
}

.sg-pattern {
  margin-bottom: rr-gridbase() * 4;
}

.sg-pattern-head {
  @include font-compute(m);
  padding: rr-gridbase();
}

.sg-pattern-title {
  padding {
    top: rr-gridbase() * 2;
    bottom: rr-gridbase() * 2;
  }
  a {
    padding: 0;
    border-bottom-width: 0;
  }
}

.sg-pattern-extra {
  display: none;
}