/**
 * This stylesheet is for styles you want to include only when displaying demo
 * styles for grids, animations, color swatches, etc.
 * These styles will not be your production CSS.
 */
@import 'root-rhythm';
@import 'includes/design-variables';
@import 'includes/mixins/m_typography';
@import 'includes/colors';
@import 'includes/fonts';

#sg-patterns {
  max-width: 100%;
}

.demo-animate {
  background: #ddd;
  padding: 1em;
  margin-bottom: 1em;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
}

.sg-colors {
  margin-left: 0;
  list-style: none;
  @include css-grid-columns(map-get($rr-grids,6-up));
}

.sg-colors__column {
  border: 2px solid color(light-gray);
  border-radius: 8px;
  padding: rr-grid-remainder(2px);
  overflow: hidden;
  @include rr-font-compute(r, tight);

  margin {
    top: rr-gridbase() * 2;
    bottom: rr-gridbase() * 2;
  }  
}

.sg-colors pre {
  @include rr-font-compute(xs,tight);
  margin-bottom: rr-gridbase();
}

.sg-swatch {
  display: block;
  height: rr-gridbase() * 10;
  margin-bottom: rr-gridbase();
  border-radius: 5px;
  padding: rr-grid-remainder(5px);
}

.sg-pattern-example {
	overflow: hidden;
}

.sg-pattern {
  margin-bottom: rr-gridbase() * 4;
}

.sg-pattern-head {
  @include rr-font-compute(r);
  padding: rr-gridbase();
}

.sg-pattern-title {
  padding {
    top: rr-gridbase() * 2;
    bottom: rr-gridbase() * 2;
  }
  a {
    padding: 0;
    border-bottom-width: 0;
  }
}

.sg-pattern-extra {
  display: none;
}

.sg-image-grid {
  .sg-image-grid-tile {
    margin-bottom: 2rem;
  }

  @media screen and ( min-width: 44rem ) {
    display: flex;
    margin-left: -1rem;
    margin-right: -1rem;

    .sg-image-grid-tile {
      margin-left: 1rem;
      margin-right: 1rem;
      margin-bottom: 0;
    }
  }
}

body.layout-grid--on {
  @include rr-grid-overlay;
}

.toggleGroup {
  position: absolute;
  right: 1rem;
  top: 1rem;
  z-index: 999;

  button {
    display: inline-block;

    background-color: black;
    border-color: black;
    font-size: 12px;
    font-weight: bold;
    padding: 2px 8px;
    line-height: 1;
    border-radius: 8px;
  }
}

.twig-include {
  position: relative;
}

.twig-include__label {
  display: none;

  position: absolute;
  right: 1rem;
  top: 0rem;
  color: red;
  z-index: 998;
}

body.twig-includes--on {
  .twig-include {
    border: 2px solid red;
  }
  .twig-include__label {
    display: block;
  }
}
