//
// This stylesheet is for styles you want to include only when displaying demo
// styles for grids, animations, color swatches, etc.
// These styles will not be your production CSS.
//

@import 'root-rhythm';
@import 'includes/design-variables';
@import 'includes/mixins/m_typography';
@import 'includes/colors';
@import 'includes/fonts';

//sass-lint:disable no-ids
#sg-patterns {
  max-width: 100%;
}
//sass-lint:enable no-ids

.demo-animate {
  margin-bottom: 1em;
  padding: 1em;
  border-radius: 8px;
  background: color(dark-gray);
  text-align: center;
  cursor: pointer;
}

.sg-colors {
  margin-left: 0;
  list-style: none;
  @include css-grid-columns(map-get($rr-grids, 4-up));
}

.sg-colors__column {
  padding: rr-grid-remainder(2px);
  border: 2px solid color(light-gray);
  border-radius: 8px;
  overflow: hidden;
  @include rr-font-compute(r, tight);

  margin {
    top: rr-gridbase(2);
    bottom: rr-gridbase(2);
  }
}

.sg-colors pre {
  @include rr-font-compute(xs, tight);
  margin-bottom: rr-gridbase();
}

.sg-swatch {
  display: block;
  height: rr-gridbase(10);
  margin-bottom: rr-gridbase();
  padding: rr-grid-remainder(5px);
  border-radius: 5px;
}

.sg-pattern-example {
  overflow: hidden;
}

.sg-pattern {
  margin-bottom: rr-gridbase(4);
}

.sg-pattern-head {
  @include rr-font-compute(r);
  padding: rr-gridbase();
}

.sg-pattern-title {
  padding {
    top: rr-gridbase(2);
    bottom: rr-gridbase(2);
  }

  a {
    padding: 0;
    border-bottom-width: 0;
  }
}

.sg-pattern-extra {
  display: none;
}

.sg-image-grid {
  .sg-image-grid-tile {
    margin-bottom: 2rem;
  }

  @media screen and ( min-width: 44rem ) {
    display: flex;
    margin-right: -1rem;
    margin-left: -1rem;

    .sg-image-grid-tile {
      margin-right: 1rem;
      margin-bottom: 0;
      margin-left: 1rem;
    }
  }
}

body.layout-grid--on {
  @include rr-grid-overlay;
}

.toggleGroup {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 999;

  button {
    display: inline-block;

    padding: 2px 8px;
    border-radius: 8px;
    border-color: color(wildcat-black);
    background-color: color(wildcat-black);
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
  }
}

.twig-include {
  position: relative;
}

.twig-include__label {
  display: none;

  position: absolute;
  top: 0;
  right: 1rem;
  color: color(alert);
  z-index: 998;
}

body.twig-includes--on {
  .twig-include {
    border: 2px solid color(alert);
  }

  .twig-include__label {
    display: block;
  }
}
