@use 'includes/root-rhythm';
@use 'includes/color-functions';
@use 'tokens/typography';
// susy is a grid layout tool. This is used when grid or flexbox choices aren't appropriate
// sshttp: //oddbird.net/susy/
// @import 'susy';

// mathsass exposes Javascript's Math class to sass. We are using a NewCity fork so we can provide trivial updates
// https: //github.com/newcity/eyeglass-math/
// @import 'math';

// mq is a sass/media-query library
// https://github.com/sass-mq/sass-mq
// @import 'sass-mq';


@import 'includes/rem';
@import 'includes/math';
// @import 'includes/colors';
@import 'includes/variables';
@import 'includes/mixins';

@import 'includes/design-variables';

:root {
  @include root-rhythm.rr-font-compute(r, tight, typography.$fonts);
  position: relative;
}

body {
  background-color: color-functions.color(wildcat-blue);
}