// susy is a grid layout tool. This is used when grid or flexbox choices aren't appropriate
// sshttp: //oddbird.net/susy/
@import 'susy';

// mathsass exposes Javascript's Math class to sass. We are using a NewCity fork so we can provide trivial updates
// https: //github.com/newcity/eyeglass-math/
@import 'math';

// mq is a sass/media-query library
// https://github.com/sass-mq/sass-mq
@import 'sass-mq'; 

@import 'root-rhythm';
// Config for root-rhythm

@import "includes/rem";
@import "includes/math";
@import "includes/colors";
@import "includes/variables";
@import "includes/mixins";

@import "includes/design-variables";

:root {
    font-size: 18px;
    position: relative;
    
}

body.layout-grid--on {
    @include rr-grid-overlay;
}

.gridToggle {
    position: absolute;
    right: 1rem;
    top: 1rem;
    background-color: black;
    border-color: black;
    font-size: 12px;
    font-weight: bold;
    padding: 2px 8px;
    line-height: 1;
    border-radius: 8px;
}

/* Slick */
@import "../bower_components/slick-carousel/slick/slick.scss";
@import "includes/slick-settings";
@import "../bower_components/slick-carousel/slick/slick-theme.scss";
@import "includes/fonts.scss";

/*
 * Patterlab styles
 */
@import "atoms/global";
@import "atoms/icons";
@import "atoms/text";
@import "atoms/buttons";
@import "atoms/lists";
@import "atoms/media";

@import "molecules/text";
@import "molecules/layouts";
@import "molecules/page-layouts";
@import "molecules/navigation";
@import "molecules/interactive";
@import "molecules/data";

@import "components/clamp";
@import "components/blocks";
@import "components/panels";
@import "components/asides";
@import "components/teasers";
@import "components/collections";
@import "components/editorial";

// Grid overlay

// Template, page styles could go below here
// but if you have any you might want to rethink
// your approach.
