@use 'includes/root-rhythm';
@use 'includes/color-functions';

// susy is a grid layout tool. This is used when grid or flexbox choices aren't appropriate
// sshttp: //oddbird.net/susy/
// @import 'susy';

// mathsass exposes Javascript's Math class to sass. We are using a NewCity fork so we can provide trivial updates
// https: //github.com/newcity/eyeglass-math/
// @import 'math';

// mq is a sass/media-query library
// https://github.com/sass-mq/sass-mq
// @import 'sass-mq';

@import 'includes/rem';
@import 'includes/math';
// @import 'includes/colors';
@import 'includes/variables';
@import 'includes/mixins';

@import 'includes/design-variables';

:root {
  @include root-rhythm.rr-font-compute(r, tight);
  position: relative;
}

@import 'includes/fonts';
@import '../../intermediate/iconfont';

@import 'includes/slick-settings';
@import 'includes/slick';
@import 'includes/slick-theme';
@import 'includes/magnific-popup';

// Patterlab styles
@import 'atoms/global';
@import 'atoms/icons';
@import 'atoms/text';
@import 'atoms/buttons';
@import 'atoms/lists';
@import 'atoms/media';

@import 'molecules/text';
@import 'molecules/content-layouts';
@import 'molecules/page-layouts';
@import 'molecules/navigation';
@import 'molecules/interactive';
@import 'molecules/data';
@import 'molecules/media';

@import 'components/clamp';
@import 'components/page-headers';
@import 'components/alerts';
@import 'components/asides';
@import 'components/blocks';
@import 'components/teasers';
@import 'components/collections';
@import 'components/forms';

@import 'overrides/overrides';

// Grid overlay

// Template, page styles could go below here
// but if you have any you might want to rethink
// your approach.
