// susy is a grid layout tool. This is used when grid or flexbox choices aren't appropriate
// sshttp: //oddbird.net/susy/
@import 'susy';

// mathsass exposes Javascript's Math class to sass. We are using a NewCity fork so we can provide trivial updates
// https: //github.com/newcity/eyeglass-math/
@import 'math';

// mq is a sass/media-query library
// https://github.com/sass-mq/sass-mq
@import 'sass-mq'; 

// Config for root-rhythm

@import "includes/rem";
@import "includes/math";
@import "includes/colors";
@import "includes/variables";
@import "includes/mixins";

$rr-grid-divisions: 2;

$rr-blend-mode: multiply;

$rr-grid-settings: ( 
    s: ( 
        mq: max-width, 
        size: 35rem, 
        columns: 4, 
        gutter: 1rem / $rr-grid-divisions, 
        offset: 1rem, 
        vspace: 2,
        column_color: rgba(200, 200, 200, .2),
        baseline_color: rgba(128, 128, 200, .2)
    ), 
    m: ( 
        mq: min-width, 
        size: 35rem, 
        columns: 8, 
        offset: 2rem,
        vspace: 3
    ), 
    l: ( 
        size: 48rem, 
        columns: 12 
    ), 
    xl: ( 
        size: $global-width + 4rem, 
        offset: 0,
        vspace: 4
    )
);


@import 'root-rhythm';

/* Slick */
@import "../bower_components/slick-carousel/slick/slick.scss";
@import "includes/slick-settings";
@import "../bower_components/slick-carousel/slick/slick-theme.scss";

/*
 * Patterlab styles
 */


//@import "includes/root-rhythm";
@import "atoms/global";
@import "atoms/icons";
@import "atoms/text";
@import "atoms/buttons";
@import "atoms/lists";
@import "atoms/media";

@import "molecules/text";
@import "molecules/layouts";
@import "molecules/page-layouts";
@import "molecules/navigation";
@import "molecules/interactive";
@import "molecules/data";

@import "organisms/clamp";
@import "organisms/panels";
@import "organisms/asides";
@import "organisms/teasers";
@import "organisms/collections";
@import "organisms/editorial";

// Grid overlay

// Template, page styles could go below here
// but if you have any you might want to rethink
// your approach.
