@use '../../includes/root-rhythm';

.pagination {
  margin: root-rhythm.rr-gridbase(4) 0;

  a {
    @include underline-link();
    margin: root-rhythm.rr-gridbase(1);
    text-align: center;
    text-decoration: none;

    &:focus {
      text-decoration: underline;
    }
  }


  ul {
    margin: 0;
    text-align: center;

    li {
      @include root-rhythm.rr-font-compute(l, tight);
      display: none;
      margin: 0;


      @include root-rhythm.rr-break-directive(m) {
        display: inline-block;
      }
    }
  }

  .current a {
    display: inline-block; // foundation override
    background-image: none;
    pointer-events: none;
  }

  .first,
  .previous,
  .next,
  .last {
    display: inline-block;

    &::before,
    &::after {
      display: inline-block;
      position: relative;
      bottom: .1em;
    }
  }

  .first a {
    &::before {
      display: inline-block;
      margin-right: .3em;
      content: '\00ab';
    }
  }

  .previous a {
    &::before {
      display: inline-block;
      margin-right: .3em;
      content: '\2039';
    }
  }

  .next a {
    &::after {
      display: inline-block;
      margin-left: .3em;
      content: '\203a';
    }
  }

  .last a {
    &::after {
      display: inline-block;
      margin-left: .3em;
      content: '\00bb';
    }
  }
}
