<div class="teaser {{ teaser_variant }}">
	<div class="teaser__media">
		{% include 'atoms-image' with { width: 600, aspect: "3:2"} %}
	</div>
	<div class="teaser__content">
		{% block teaser_content %}
			{% include 'molecules-teaser-headline-group' with {level:level|default(3), sub:"Optional Subhead", super:"Optional Superhead", headline_group_linked: true, super: "Optional Superhead", sub:"Optional Subhead" } %}
			{% include 'molecules-content-meta' %}
			{% include 'atoms-formatted-text' %} 
		{% endblock %}
	</div>
</div>
