
{# defaults for demo page #}

{% if collection_headline is null %}
	{% set collection_headline = fake('bs') %}
{% endif %}

{% if num_stories is null %}
	{% set num_stories = 4 %}
{% endif %}

{% if collection_summary is same as(true) %}
	{% set collection_summary =
		{
			headline: fake('bs')|capitalize,
			summary: fake('paragraph'),
			link: "View Collection"
		} %}
{% endif %}

{% if collection_summary is not null %}
	{% set news_collection_modifier = news_collection_modifier ~ ' has-collection-summary' %}
{% endif %}

{% if 'narrow' in news_collection_modifier %}
	{% set thumbnail_type = 'headshot' %}
	{% set collection_headline_level = '3' %}
{% endif %}

{% if 'feature-grid' in news_collection_modifier %}
	{% set is_feature_grid = true %}
{% endif %}

{% if collection_headline is same as(false) and collection_jumplink_target is not empty %}
	{% set collection_container_jumplink = 'id=' ~ collection_jumplink_target %}
	{# {% set collection_container_jumplink = collection_jumplink_target %} #}
{% endif %}

<div class="news-collection {{ news_collection_modifier }}" {{ collection_container_jumplink }}>

	{% if collection_headline %}
		{% include 'molecules-headline-group' with {
			superhead: collection_superhead,
			headline: collection_headline,
			subhead: collection_subhead,
			style_modifier: collection_headline_modifier,
			level: collection_headline_level,
			jumplink_target: collection_jumplink_target
		} %}
	{% endif %}

	{% if feature_story %}
		{% for story in feature_story %}

		{% embed 'molecules-feature-block' with { feature_block_modifier: 'feature-story ' } %}

			{% block feature_block_content %}
				{% include 'molecules-news-teaser' with { 
				show_thumbnail: story.show_story_thumbnail,
				thumbnail_type: story.thumbnail_type,
				show_summary: story.show_story_summary,
				show_meta: story.show_story_meta,
				media_type: story.story_media_type
			} %}
			{% endblock %}

		{% endembed %}

		{% endfor %}
	{% endif %}


	{% if collection_summary %}

		{% embed 'molecules-feature-block' with { feature_block_modifier: 'collection-summary ' } %}
			{% block feature_block_content %}
				{% if collection_summary.headline %}
					{% include 'atoms-heading' with {
						level: 4,
						headline: collection_summary.headline,
						style_modifier: 'collection-summary-headline'
					} %}
				{% endif %}
				{% if collection_summary.summary %}
					{% include 'atoms-paragraph' with {
						text: collection_summary.summary
					} %}
				{% endif %}
				{% if collection_summary.link %}
					{% include 'atoms-button' with {
						label: collection_summary.link
					} %}
				{% endif %}
			{% endblock %}
		{% endembed %}

	{% endif %}


	{% if is_feature_grid or is_feature_list %}
		<div class="feature-wrapper">
	{% endif %}

	{% if secondary_headline %}
		{% include 'molecules-headline-group' with {
			superhead: secondary_superhead,
			headline: secondary_headline,
			subhead: secondary_subhead,
			style_modifier: 'secondary-headline',
			level: 4
		} %}
	{% endif %}

	<div class="stories-wrapper"> 
		<ul class="stories-list">

			{% for story in 1 .. num_stories %}
				{% if story_media_type_randomize %}
					{% set story_media_type = random(['podcast','article','video']) %}
				{% endif %}
				<li>
				{% include 'molecules-news-teaser' with { 
					show_thumbnail: show_story_thumbnails,
					thumbnail_type: thumbnail_type,
					show_summary: show_story_summaries,
					show_meta: show_story_meta,
					media_type: story_media_type,
					type_on_thumbnail: story_type_on_thumbnail,
					meta_hide_icon: story_hide_meta_icon,
					show_large_media_icon: story_show_large_media_icon
				} %}
				</li>
			{% endfor %}
		</ul>
	</div>


	{% if buttons %}
		{% include 'molecules-button-group' with {
			buttons: buttons
		} %}
	{% endif %}


	{% if is_feature_grid %}
		</div>
	{% endif %}
	

</div>