.page-section {
	width: 100%;
	margin: 0 auto;
	padding: rem-calc(0 30 30 30);

	@include media-breakpoint-up(lg) {
		display: flex;
		&.no-sidebar {
			display: block;
		}
	}

	@include media-breakpoint-up(xl) {
		max-width: $max-width;
		padding: rem-calc(0 0 50 0);
	}


	@at-root #{&}__main {
		// flex: 7 1 auto;
		width: 100%;
		@include media-breakpoint-up(lg) {
			margin-right: rem-calc(50);
			width: 70%;
		}
		@include media-breakpoint-up(xl) {
			margin-right: rem-calc(100);
		}
	}

	@at-root #{&}__sidebar {
		// flex: 3 1 auto;
		width: 100%;
		@include media-breakpoint-up(lg) {
			// min-width: rem-calc(400);
			width: 30%;
		}
	}

	&.narrow-sidebar {
		// mostly for news detail, put this modification here later
	}
}

