$two-column-qualifiers: 'left','right';

.two-columns {
	@include grid-row;

	@each $i in $two-column-qualifiers {
		@at-root #{&}__#{$i} {
			@include grid-column;
		}
	}

	@at-root #{&}__left {
		border-bottom: 1px $color-shade-darker solid;
		margin-bottom: 1rem;
	}

	@include breakpoint(medium) {
		@each $i in $two-column-qualifiers {
			@at-root #{&}__#{$i} {
				@include grid-column(6);
				border-bottom-width: 0;
				margin-bottom: 0;
			}
		}
	}
}
