$with-sidebar-qualifiers: 'main','sidebar';

.with-sidebar {
	@include grid-row;

	@each $i in $with-sidebar-qualifiers {
		@at-root #{&}__#{$i} {
			@include grid-column;
		}
	}

	@at-root #{&}__main {
		border-bottom: 1px $color-shade-darker solid;
		margin-bottom: 1rem;
	}
}

@include breakpoint(medium) {
	.with-sidebar {
		@each $i in $with-sidebar-qualifiers {
			@at-root #{&}__#{$i} {
				@if $i == 'main' {
					@include grid-column(7);
				} @else {
					@include grid-column(5);
				}
				border-bottom-width: 0;
				margin-bottom: 0;
			}
		}
	}
}
