@use 'root-rhythm';
@use 'colors';
@use 'color-functions';
@use 'typography';
@import 'page-headers/text-header';
@import 'page-headers/hero';
@import 'page-headers/overlay-hero';
@import 'page-headers/split';

.page-header {
  position: relative;
  padding-top: root-rhythm.rr-grid-remainder(2px, 6);

  @each $color, $color-value in colors.$colors {
    &.slab--#{""+$color} {
      @if ($color ne 'wildcat-white') {
        padding-top: root-rhythm.rr-gridbase(6);
        border-width: 0;
      }
    }
  }

  &.slab--blue-gray,
  &.slab--dark-blue,
  &.slab--wildcat-blue {
    padding-bottom: root-rhythm.rr-grid-remainder(4px, 6);

    .slab__wrapper {
      padding-bottom: 0;
      border-width: 0;
    }
  }

  &.slab--dark-blue,
  &.slab--wildcat-blue {
    border-bottom-color: color-functions.color(light-blue);
  }

  .slab__wrapper {
    padding-bottom: root-rhythm.rr-grid-remainder(4px, 5);
    border-bottom: 4px color-functions.color(almost-wildcat-blue) solid;
  }

  h1 {
    &.headline-group {
      margin-bottom: 0;
    }

    &.headline-group__popout {
      color: color-functions.color(wildcat-white);
      left: 5%;
      max-width: 100%;
      position: absolute;
      top: 40%;
    }

    .headline-group__head {
      @include root-rhythm.rr-font-compute(1xl, tight, typography.$fonts);
      font-weight: 600;
    }

    .headline-group__super {
      @include root-rhythm.rr-font-compute(l, tight, typography.$fonts);
    }

    .headline-group__sub,
    .headline-group__super {
      font-weight: 600;
    }

    .headline-group__sub {
      margin-top: root-rhythm.rr-gridbase(2);
    }

    .headline-group__super {
      margin-bottom: root-rhythm.rr-gridbase(0);
    }
  }

  .cta-group {
    margin-top: root-rhythm.rr-gridbase(4);
  }

  @include root-rhythm.rr-break-directive(m) {

    h1 {
      .headline-group__head {
        @include root-rhythm.rr-font-compute(5xl, medium, typography.$fonts);
        font-weight: 600;
      }
  
      .headline-group__super {
        @include root-rhythm.rr-font-compute(1xl, tight, typography.$fonts);
      }
  
      .headline-group__sub,
      .headline-group__super {
        font-weight: 600;
      }
    }


  }
}
