<div class="nice-video">
	{% include 'atoms-image' with { aspect: "16:9", width: 600 } %}
	<a href="https://www.youtube.com/watch?v={{ youtube|default('UKBvaOLDem0') }}" class="nice-video--control">
		{% include 'atoms-icon-label' with { icon: 'play-triangle', label: 'Play Video' } %}
	</a>		
</div>
 