{% set className = ['js-tablist__link', tab_tab_variant] %}
<li class="js-tablist__item">
    <a href="#{{ tab_target }}" id="label_{{ tab_target }}" class="{{ className|join(' ') }}">{{ tab_label }}</a>
</li>