	<!--DO NOT REMOVE-->
	{{ patternLabFoot|raw }}

	<!-- Spritesheet -->
	<div style="height:0; width: 0; position: absolute; left: -99999em; top: -9999em">
	{{ svgspritesheet(null,[],true) }}
	</div> 
	<!-- / Spritesheet -->
	
	<script src="../../js/jquery.min.js" defer></script>
	<script src="../../js/jquery.magnific-popup.js" defer></script>
	<script src="../../js/modernizr-custom.js" defer></script>
	
	<!-- / bootstrap dependencies -->
	<script src="../../js/alert.js" defer></script>
	<script src="../../js/button.js" defer></script>
	<script src="../../js/carousel.js" defer></script>
	<script src="../../js/collapse.js" defer></script>
	<script src="../../js/dropdown.js" defer></script>
	<script src="../../js/modal.js" defer></script>
	<script src="../../js/scrollspy.js" defer></script>
	<script src="../../js/tab.js" defer></script>
	<script src="../../js/util.js" defer></script>
	
	<!-- / custom dependencies -->	
  	<script src="../../js/main.js" defer></script>
	<script src="../../js/accordion.js" defer></script>
	<script src="../../js/sticky.js" defer></script>
	<script src="../../js/gallery.js" defer></script>

	  <script>
		window.frontback = {
			repo: 'https://gitlab.com/newcity/kentucky-research',
			postUrl: 'https://magicyeti.us/frontback'
		};
		var script = document.createElement('script');
		script.src = frontback.postUrl + '/assets/js/frontback.js';
		document.body.appendChild(script);
		</script>
	</body>
</html>
