{% if (is_main) %}
    {% set logo = 'atoms-uky-logo-main'%}
{% else %}
    {% set logo = 'molecules-site-identity'%}
{% endif %}

{% set clamp_variant = (is_main) ? 'clamp--main' %}
{% set nav_molecule = nav_molecule ? nav_molecule : 'molecules-global-nav' %}
{% include 'components-universal-header' with { universal_header_variant : clamp_variant, hide_breadcrumb: is_main } %}
<header id="MainHeader" class="global-header {{ clamp_variant }}">

{% embed 'molecules-slab' with { slab_variant: 'global-header__masthead'} %}
    {% block slab_content %}
        <div class="global-header__banner">
            {% include logo %}
            {% include 'molecules-utility-nav' %}
            {% include 'molecules-menu-button' %}
        </div>
    {% endblock %}
{% endembed %}
{% embed 'molecules-slab' with { slab_variant: 'global-header__nav-bar' } %}
    {% block slab_content %}
        {% include nav_molecule with {menus:menus} %}
    {% endblock %}
{% endembed %}

{% embed 'molecules-slab' with { slab_variant: 'mobile-nav', props: ['hidden'], attrs: { id : 'MobileNav' } } %}
    {% block slab_content %}
        {% include 'components-mobile-tab-nav' with {nav_molecule:nav_molecule, menus:menus}%}
    {% endblock %}
{% endembed %}

</header>