{% set hide_heading = false %}
{% embed 'molecules-slab' with { slab_variant: 'global-footer' } %}
  {% block slab_content %}  
    {# this is designed for three columns of content #}
    <div class="global-footer__column">
      {% block footer_left %}
        {% include second_col|default('components-address') %}
      {% endblock %}
    </div>
    <div class="global-footer__column">
      {% block footer_mid %}
        {% include first_col|default('molecules-link-group') %}
      {% endblock %}
    </div>
    <div class="global-footer__column">
      {% block footer_right %}
        {% include 'components-search-form' %}
        {% include 'atoms-art-link' %}
        {% include 'components-social-media-links' with { social_media_links_variant : "social-media-links--row" } %}
      {% endblock %}
    </div>
  {% endblock %}
{% endembed %}