{# If there's no section, we can spit out the same panel component but with only one tab #}
{% set show_section_tab = not is_home %}

{% set tabs_variant = [
        'mobile-tab-nav',
        (is_main) ? 'mobile-tab-nav--wildcat' : ''
    ] %}

{% set tab_1_content%}
    <div class="mobile-tab-nav__menus">
        {% include nav_molecule with {menus:menus, mobile: true} %}
        <hr>
        {% include 'molecules-utility-nav' %}
    </div>
    <div class="mobile-tab-nav__universal">
        {% if not is_main %}
            {% include 'molecules-universal-breadcrumb' %}
        {% else %}
           <hr>
        {% endif %}
        {% include '@limestone/universal-nav.twig' with { extra_links: ['#UKY4Y','Resources'] } %}
    </div>
{% endset %}

{% set tab_2_content%}
    {% include 'molecules-section-nav' %}
{% endset %}

{% if show_section_tab %}
    {% set tabs = [
        {
            "label":"Main Menu",
            "content": tab_1_content
        },
        {
            "label":"This Section",
            "content": tab_2_content
        }
    ] %}

{% else %}
    {% set tabs = [{
        "label":"Main Menu",
        "content": tab_1_content
    }] %}
{% endif %} 

    {% set tabs_props = {
        "tabs_variant":tabs_variant,
        "tabs":tabs
    }%}



{% embed '@limestone/tabs.twig' with { tabs_variant: tabs_variant|join(' ') } %}
{% endembed %}