.content-meta {
  margin-bottom: rr-gridbase(1);

  .byline,
  .location,
  .date {
    @include rr-font-compute(l, medium);
  }

  .byline, 
  .date,
  .who-when {
    font-weight: 500;
  }

  .taxonomy-list {
    display: block;
    font-style: italic;
  }

  a {
    @include underline-link;
  }

  span + span {
    &::before {
      content: ' | ';
    }
  }
}
