@use 'root-rhythm';
@use 'typography';

.described-links {
  margin-bottom: root-rhythm.rr-gridbase(3);

  .editorial p {
    @include root-rhythm.rr-font-compute(r, medium, typography.$fonts);
  }

  dd {
    padding-left: root-rhythm.rr-gridbase(2); // matches padding on fancy links
  }
}
