$sizelist: 4xl 3xl 2xl 2xl xl xl;

.headline-group {
  // Since the meaning of & changes depending on nesting.
  $bem-root: #{&};
  display: block;
  margin-top: 0;
  margin-bottom: rr-gridbase(2);
  line-height: auto;

  #{$bem-root}__super,
  #{$bem-root}__sub {
    display: block;
  }

  // Default non-semantic headline group
  @at-root #{$bem-root} {
    #{$bem-root}__super {
      @include rr-font-compute(r, tight);
      text-transform: uppercase;
    }

    #{$bem-root}__sub {
      @include rr-font-compute(l, tight);
      font-style: italic;

      i,
      em {
        font-style: normal;
      }
    }

    #{$bem-root}__head {
      @include rr-font-compute(2xl, tight);
    }
  }

  // Headline groups in teasers
  @at-root .teaser,
  .link-collection,
  .image-gallery-block,
  .editorial aside {
    #{$bem-root} {
      #{$bem-root}__super, {
        @include rr-font-compute(l, tight);
        color: color(dark-gray);
        font-weight: 500;
      }

      #{$bem-root}__sub {
        @include rr-font-compute(xl, tight);
        color: color(dark-gray);
        font-weight: 500;
      }

      #{$bem-root}__head {
        font-weight: 500;
        @include rr-font-compute(3xl, tight);

        .underline-link {
          &:link,
          &:visited {
            color: color(dark-blue);
          }
        }
      }
    }
  }

  // Semantic headline groups
  // eg h1.headline-group, h2.headline-group
  @for $pos from 1 through 6 {
    $size: nth($sizelist, $pos);
    $supersize: map-offset-from($font-sizes, $size, -2);
    $subsize: map-offset-from($font-sizes, $size, -1);
    @at-root h#{$pos}#{&} {
      #{$bem-root}__super {
        @include rr-font-compute($supersize, tight);
      }
      #{$bem-root}__sub {
        @include rr-font-compute($subsize, tight);
      }

      #{$bem-root}__head {
        @include rr-font-compute($size, tight);
      }
    }
  }
}
