@use 'root-rhythm';
@use 'color-functions';
@use 'typography';

.lockup {
  display: block;
  position: relative;
  font-family: typography.$font-mercury;
  font-size: 0;

  &:link,
  &:visited {
    color: color-functions.color(light-gray);
    text-decoration: none;
  }

  &:active,
  &:hover {
    color: color-functions.color(wildcat-white);
    text-decoration: none;
  }

  &__main {
    word-wrap: none;
  }

  &__logo {
    display: inline-block;
    color: color-functions.color(wildcat-white);
    vertical-align: middle;
    word-wrap: none;

    svg {
      width: 10vw; // (80% of full size)
      height: auto;
      margin-right: 1.5vw;
    }
  }

  &__wordmark {
    display: inline-block;
    font-size: 5vw; // ( logo width * .494117647 )
    font-weight: 500;
    line-height: 1; // Line-height is proportional already
    vertical-align: middle;
    color: color-functions.color(wildcat-white)
  }

  &__wordmark__row {
    display: block;
  }

  &__unit {
    @include root-rhythm.rr-font-compute(s, tight);
    margin-top: .2rem;
    margin-left: 0;
    font-style: italic;
    font-weight: 500;
  }

  @include root-rhythm.rr-break-directive(m) {
    &__logo {
      vertical-align: baseline;

      svg {
        width: 3.71875rem; // (80% of full size)
        height: 3.01875rem;
        margin-right: .7875rem;
      }
    }

    &__wordmark {
      margin-top: 0;
      font-size: 1.8375rem; // ( logo width * .494117647 )
      line-height: .97674; // Line-height is proportional already
      vertical-align: baseline;
    }

    &__unit {
      margin-left: 4.50625rem; // logo width + logo right margin
    }
  }

  @include root-rhythm.rr-break-directive(l) {
    &__main {
      min-height: root-rhythm.rr-gridbase(9);
    }

    &__logo svg {
      width: 4.25rem; // (80% of full size)
      height: 3.45rem;
      margin-right: .9rem;
    }

    &__wordmark {
      font-size: 2.1rem; // ( logo width * .494117647 )
    }

    &__unit {
      margin-left: 5.15rem; // logo width + logo right margin
    }
  }

  @include root-rhythm.rr-break-directive(xl) {
    &__main {
      min-height: root-rhythm.rr-gridbase(11);
    }

    &__logo svg {
      width: 5.3125rem;
      height: 4.312500001rem;
      margin-right: 1.125rem;
    }

    &__wordmark {
      font-size: 2.625rem; // ( logo width * .494117647 )
    }

    &__unit {
      margin-left: 6.4375rem; // logo width + logo right margin
      font-size: 1.1875rem; // ( wordmark font size * .452380952 )
    }
  }
}
