<div class="child-alignment-{{ child_alignment|default('center') }} {{ style_modifier }}">
	{% block row_contents %}
	<div style="background-color: #eee">
		<p>First Child</p>
	</div>
	<div style="background-color: #ccc">
		<p>Second Child</p>
	</div>
	<div style="background-color: #aaa">
		<p>Third Child</p>
	</div>
	{% endblock %}
</div>
