{% if has_sidebar is null %}
	{% set has_sidebar = true %}
{% else %}
	{% set page_section_modifier = page_section_modifier ~ ' no-sidebar' %}
{% endif %}

<div class="page-section {{ page_section_modifier }}">
	{% if has_sidebar %}
	<div class="page-section__main">
		<div class="main-wrapper">
	{% endif %}
			{% block page_section_content %}
				{% include 'atoms-paragraph' %}
			{% endblock %}
	{% if has_sidebar %}
		</div>
	</div>
	{% endif %}
	
	{% if has_sidebar %}
		<div class="page-section__sidebar">
			{% block page_section_sidebar %}
			{% endblock %}
		</div>
	{% endif %}

</div>
