<div class="link-group-dropdown"  aria-expanded="false">
  {% set heading_variant = (hide_heading) ? "show-for-sr" : "link-group-dropdown__button" %}
  {% include 'atoms-link' with { url:'#', heading_variant: heading_variant, label: 'Resources'} %}
  <div class="link-group-dropdown__menu">
      <ul class="no-decoration">
    {% for i in 0..11 %}
      {% set label = fake('words', {nb: 1 + random(5), asText: true} )|capitalize %}
      <li>{% include 'atoms-link' %}</li>
    {% endfor %}
      </ul>
  </div>
</div>
