<div class="link-group">
	{% for i in 1..link_group_number|default(3) %}
		{% include 'atoms-link' with { link_style: 'arrow', label : fake('words',{nb:3,asText: true})|titleize } %}
	{% endfor %}
</div>
