{% set navid = "UniversalNavLabel"|uniqid %}
<nav class="universal-nav" aria-labelledby="{{ navid }}">
    <div class="show-for-sr" id="{{ navid }}">University-wide Navigation</div>

    {% include 'atoms-my-uk-logo' %}
    {% include 'molecules-search-control' %}
</nav>
