<nav class="breadcrumbs">
	<ul>
	{% for i in 1..4 %}
		<li>
			{% include 'atoms-link' with {label: fake('words',{nb:2,asText:true})|capitalize }%}
			<span class="icon">
				<div class="cell icon-wrapper">
					{{ svg.ref('design--angle-right','design--angle-right','design--angle-right') }}
				</div>
			</span>
		</li>
	{% endfor %}
	</ul>
</nav>