{% if buttons is null %}
	{% set buttons =  [
		{
			button_text: 'Button'
		},
		{
			button_text: 'Another Button',
			button_style: 'accent'
		},
		{
			button_text: 'One More Button',
			button_style: 'tertiary'
		},
		]
	%}
{% endif %}

<div class="button-group">
	{% for button in buttons %}
		{% include 'atoms-button' with {
			label: button.button_text,
			style_modifier: button.button_style
		} %}
	{% endfor %}
</div>