<div class="search-bar">
	<form class="search-bar__form">
		<div class="input-group">
			<label><span class="sr-only">Search Keywords</span>
			<input class="input-group-field" type="text" placeholder="Search This Site"></label>
			<div class="input-group-button">
				<button class="submit-button" type="submit">
					{{ svg.ref('search','Submit Search','search') }}
					<span class="sr-only">Search</span>
				</button>
			</div>
			<button class="visibility-toggle">
				{{ svg.ref('close','Cancel Search','close-search') }}
				<span class="sr-only">Cancel Search</span>
			</button>
		</div>
	</form>
	<div class="search-bar__toggle">
		<button class="visibility-toggle">
			{{ svg.ref('search','Begin Search','search') }}
			<span class="sr-only">Begin Search</span>
		</button>
	</div>
</div>
