{% embed '@limestone/slab.twig' with { slab_variant: slab_variant } %}
    {% block slab_outer %}
        {% if head %}
        <div class="slab__wrapper">
            {% include 'atoms-heading' with { heading_variant:"heading--display", level: 2, headline:head|default("Grid Headline") } %}
        </div>
        {% endif %}
        {% include 'molecules-grid' %}
    {% endblock %}
{% endembed %}