<div class="three-columns {{ row_constraint }}">
	<div class="three-columns__left">
		{% block three_columns_left %}
			{% include 'atoms-paragraph' %}
		{% endblock %}
	</div>
	<div class="three-columns__center">
		{% block three_columns_center %}
			{% include 'atoms-paragraph' %}
		{% endblock %}
	</div>
	<div class="three-columns__right">
		{% block three_columns_right %}
			{% include 'atoms-paragraph' %}
		{% endblock %}
	</div>
</div>
