.callout.dark {
	background: $color-secondary;
	border-color: $dark-stroke;
	color: #fff;
	.headline-group {
		.subhead,
		.superhead {
			color: #fff;
		}
	}
	&.action-buttonless {
		.action-link {
			a {
				color: #fff;
				.label {
					padding-bottom: rem-calc(20);
				}
				:hover {
					.label {
						text-decoration: underline;
					}
				}
			}
		}
	}
}