.callout.large-feature {
	border: rem-calc(30) $color-shade-lightest solid;
	margin-bottom: rem-calc(60);
	@include media-breakpoint-down(xs) {
		padding: rem-calc(20);
		// margin-left: rem-calc(-30);
		// margin-right: rem-calc(-30);
		border-width: $border-medium;
		width: auto;
	}

	.callout-headline-wrapper {
		margin-bottom: rem-calc(36);
		svg {
			display: inline-block;
			vertical-align: middle;
			width: rem-calc(50);
			height: rem-calc(70);
			margin-right: rem-calc(20);
			color: $color-primary; 
			@include media-breakpoint-down(xs) {
				display: block;
				margin: 0 auto;
				width: rem-calc(30);
				height: rem-calc(50);
			}
		}
		.headline-group {
			display: inline-block;
			vertical-align: middle;
			max-width: calc(100% - #{rem-calc(80)});
			line-height: rem-calc(34);
			@include media-breakpoint-down(xs) {
				text-align: center;
				display: block;
				max-width: none;
			}
		}
	}

	.callout-content {
		p {
			font-size: rem-calc(20);
			line-height: rem-calc(34);
			@include media-breakpoint-down(xs) {
				font-size: rem-calc(18);
				line-height: rem-calc(32);
			}
		}
	}

	.callout-images {
		margin-top: rem-calc(40);
		ul {
			@include strip-list;
			display: flex;
			justify-content: space-between;
			@include media-breakpoint-down(sm) {
				flex-flow: column wrap;
			}
			li {
				// margin-right: rem-calc(20);
				flex: 0 1 32%;
				@include media-breakpoint-down(sm) {
					margin-right: 0;
					margin-bottom: rem-calc(20);
				}
				&:last-child {
					margin-right: 0;
					@include media-breakpoint-down(sm) {
						margin-bottom: 0;
					}
				}
			}
		}
	}
}