.social-callout {
	border: $border-medium $color-shade-lightest solid;
	padding: rem-calc(40);
	margin-bottom: rem-calc(40);

	.headline-group {
		margin-bottom: rem-calc(30);
	}

	&.wide-layout {
		border: 0;
		background-color: $color-secondary;
		margin-bottom: 0;
		color: #fff;
		position: relative;

		.social-callout-content {
			position: relative;
			z-index: 2;
			max-width: $max-width;
			margin: 0 auto;
			display: flex;
			justify-content: space-between;
			align-items: center;
			.headline-group {
				width: 70%;
			}
			@include media-breakpoint-down(lg) {
				.headline-group,
				.social-icons {
					width: 48%;
				}
			}
			@include media-breakpoint-down(sm) {
				flex-flow: row wrap;
				.headline-group,
				.social-icons {
					width: 100%;
				}
			}
		}

		.headline-group {
			margin-bottom: 0;
			.superhead,
			.subhead {
				color: #fff;
			}
			.head {
				font-size: rem-calc(38);
			}
		}

		.social-icons {
			ul {
				justify-content: flex-end;
				@include media-breakpoint-down(sm) {
					justify-content: flex-start;
					margin-top: rem-calc(20);
				}
				li {
					a {
						color: #fff;
						.icon-wrapper {
							svg {
								fill: #fff;
							}
						}
					}
				}
			}
		}

		.background-image {
			background-image: url('../images/sample/background1.jpg');
			background-size: cover;
			background-position: center center;
			position: absolute;
			z-index: 1;
			width: 100%;
			margin: 0 auto;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			opacity: 0.2;
		}
	}
}