@use 'root-rhythm';
@use 'typography';
.content-meta {
  margin-bottom: root-rhythm.rr-gridbase(1);

  .byline,
  .location,
  .date {
    @include root-rhythm.rr-font-compute(l, medium, typography.$fonts, typography.$lineheights);
  }

  .byline,
  .date,
  .who-when {
    font-weight: 500;
  }

  .taxonomy-list {
    @include root-rhythm.rr-font-compute(r, medium, typography.$fonts, typography.$lineheights);
    display: block;
    font-style: italic;
  }

  a {
    @include underline-link;
  }

  span + span {
    &::before {
      content: ' | ';
    }
  }
}
