{% set slabstyles = ["wildcat-white","wildcat-blue"] %}

{% for skin in slabstyles %}
    {% embed '@limestone/slab.twig' with { slab_variant: 'slab--' ~ skin } %}
        {% block slab_content %}
            {% set sizes = ['small','','large'] %}
            {% for size in sizes %}
                {% if size is not sameas('') %}
                    {% set sizeclass = 'button--' ~ size %}
                    {% set sizelabel = size|capitalize %}
                {% else %}
                    {% set sizeclass = '' %}
                    {% set sizelabel = 'Default' %} 
                {% endif %}
                {% include '@limestone/heading.twig' with { headline: sizelabel ~ ' Buttons'} %}
                <p>
                    {% include '@limestone/link.twig' with { link_variant: 'button ' ~ sizeclass, 'label' : 'Link Button' } %}
                    {% include '@limestone/button.twig' with { button_variant: sizeclass, label : 'Button' } %}
                    {% include '@limestone/button.twig'  with { button_variant: 'button--ghost ' ~ sizeclass, label : 'Ghost' } %}
                    {% include '@limestone/button.twig'  with { button_variant: sizeclass, label : 'Disabled', disabled: true } %}
                    {% include '@limestone/button.twig'  with { button_variant: 'button--ghost ' ~ sizeclass, disabled: true, label : 'Disabled Ghost' } %}
                </p>            
            {% endfor %}
        {% endblock %}
    {% endembed %}
{% endfor %}