{% set default_headline = fake('words',{ nb: 3 + random(5), asText: true }) %}
{% set popout_class = no_popout ? ' popout' : '' %}
{% embed 'molecules-slab' with {slab_variant : slab_variant|default('slab--wildcat-white') ~ " page-header page-header--hero " ~ hero_variant ~ popout_class } %}
    {% block slab_outer %}
        {% if ambient_video %}
            {% include 'molecules-ambient-video' %}
        {% else %}
            {% include 'atoms-image' with {aspect: "16:9", width: 2400} %}
        {% endif %}
        {% if no_popout %}
            {# TODO: create molecule for the plain text headline #}
            {% include 'molecules-headline-group--popout' with { level : 1, head:head|default(default_headline)|titleize } %}
            {# <h1>Perserverance<br>pays off</h1> #}
        {% else %}
            <div class="slab__wrapper">
                <div class="page-header__content">
                    {% include 'molecules-headline-group' with { level : 1, head:head|default(default_headline)|titleize } %}
                    {% if with_cta %}
                        {% include 'molecules-cta-group' %}
                    {% endif %}
                    {% if secondary_image %}
                        <div class="page-header__secondary-img">
                            {% include 'atoms-image' with {aspect: "1:1", width: 710} %}
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    {% endblock %}
{% endembed %}