{% if icon %}
	{% set callout_style_modifier = callout_style_modifier ~ ' shield' %}
{% endif %}


<div class="callout {{ callout_style_modifier }}">

	{% if icon %}
		<div class="shield-icon">{{ svg.ref(icon,icon,icon) }}</div>
	{% endif %}

	<div class="callout-body">
		<div class="callout-headline-wrapper">
			{% include 'molecules-headline-group' with { 
				superhead : false, 
				linked: false,
				level: 4
			} %}
		</div>
	
		<div class="callout-content">
			{% if image %}
			<div class="image">
				{% include 'atoms-image' with {width: image_width|default(800), height: image_height|default(600)} %}
			</div>
			{% endif %}

			{% block callout_content %}
				{% include 'atoms-paragraph' %}
			{% endblock %}
		</div>

	</div>

	{% if action_link %}
		<div class="action-link">
			<a href="#">
				{% include 'atoms-icon-label' with { 
					icon: 'angle-double-right',
					label: 'Optional Call to Action Link'
					}
				%}

			</a>
		</div>
	{% endif %}

		
</div>
