
{% if social_headline is null %}
	{% set social_headline = "Stay up to Date" %}
{% endif %}

<div class="social-callout {{ social_callout_modifier }}">

	<div class="social-callout-content">
		{% include 'molecules-headline-group' with {
			superhead: social_superhead,
			headline: social_headline,
			style_modifier: headline_style_modifier,
			level: 3
		} %}

		<div class="social-icons">
			<ul>
				<li><a href="#">{% include 'atoms-icon' with { icon: 'twitter-square' }%}</a></li>
				<li><a href="#">{% include 'atoms-icon' with { icon: 'facebook-square' }%}</a></li>
				<li><a href="#">{% include 'atoms-icon' with { icon: 'soundcloud' }%}</a></li>
				<li><a href="#">{% include 'atoms-icon' with { icon: 'youtube-square' }%}</a></li>
				<li><a href="#">{% include 'atoms-icon' with { icon: 'instagram' }%}</a></li>
				<li><a href="#">{% include 'atoms-icon' with { icon: 'linkedin-square' }%}</a></li>
			</ul>
		</div>
	</div>

	<div class="background-image"></div>

</div>