@mixin fontstyle($stylename: "default") {
	@if $stylename == "h1" {
		font: normal 300 rem-calc(38) $font-secondary;
		line-height: 1.5;
		text-transform: none;
	}
	@elseif $stylename == "h2" {
		font: normal normal rem-calc(24) $font-secondary;
		line-height: 1.5;
		text-transform: none;
	}
	@elseif $stylename == "h3" {
		font: normal bold rem-calc(21.3) $font-tertiary;
		line-height: 1.5;
		text-transform: none;
	}
	@elseif $stylename == "h4" {
		font: italic normal rem-calc(18.7) $font-tertiary;
		line-height: 1.5;
		text-transform: none;
	}
	@elseif $stylename == "h5" {
		font: normal bold rem-calc(16) $font-primary;
		line-height: 1.5;
		text-transform: none;
	}
	@elseif $stylename == "h6" {
		font: italic normal rem-calc(16) $font-primary;
		line-height: 1.5;
		text-transform: none;
	}
	@elseif $stylename == "button" {
		font: normal bold 1rem $font-primary;
		line-height: 1;
		text-transform: none;
	}
	@else {
		font: normal normal $base-font-size $font-primary;
		text-transform: none;
		line-height: 1.5;
	}
}

/* This is an example of setting color themes for text
   with a mixin. You can/should make several of these. */
@mixin ondark {
	color: $white;

	abbr {
		color: $white;
	}

	a {
		&:link,
		&:visited {
			color: $white;
		}
		&:hover,
		&:active {
			color: $color-brand-alt;
		}
	}
}

.ondark {
	@include ondark;
}
