/*
 * This mixin produces a font size / line-height pair 
 * that fits the font size into a specific vertical rhythm. 
 * 
 * $size: the size, in px (no units please).
 * $spacing: How many increments to increase the line height.
 *   This will return a line-height that is the minimum to fit
 *   For example, assuming an 8px grid, a geometic progression,
 *	 and a font at 16px, a spacing value of `1` will return a line height of 1, 
 *   
 */

$font-primary: sans-serif;
$font-secondary: serif;

// Font sizing
$base-font-size: 16;
 

// Adjusting this ratio will change how rapidly the font sizes grow.
$space-ratio: 1.25;

@mixin fontstyle($style) {
	@include fontsize();
}

@mixin fontsize($step: 0, $spacing : 1, $px_offset: 0) {
	$fontsize: $base-font-size * pow($space-ratio,$step);
	$lineheight: $base-font-size * pow($space-ratio, $step + $spacing);
	// Make sure our lineheight is some multiple of 8?
	font-size: rem(#{$fontsize}px);
	line-height: $lineheight / $fontsize;
}

/* This is an example of setting color themes for text
   with a mixin. You can/should make several of these. */

.ondark {
	@include ondark;
}
