@function map-offset-from($fontsizelist, $key, $offset) {
    $keypos: index($fontsizelist,$key);
    $length: length($fontsizelist);
    @if not $keypos {
        @return null;
    }
    $offsetpos: $keypos + $offset;

    // bounds checking
    @if $offsetpos < 1 {
        $offsetpos : 1;
    }
    @else if $offsetpos > $length {
        $offsetpos : $length;
    }

    @return nth($fontsizelist,$offsetpos);
}