@use 'root-rhythm';
@use 'color-functions';
@use 'typography';

.breadcrumbs {
  ul {
    margin: 0;
    padding: 0;
  }

  li {
    @include root-rhythm.rr-font-compute(s, medium, typography.$fonts, typography.$lineheights);
    display: inline-block;

    &::after {
      margin-right: .3em;
      margin-left: .5em;
      content: '/';
    }

    &:last-child::after {
      display: none;
    }
  }

  a {
    @include underline-link;
    font-weight: 300;

    &:link,
    &:visited {
      color: color-functions.color(dark-blue);
    }
  }
}
