.button-group {
	margin-top: rem-calc(30);
	display: flex;
	justify-content: center;
	align-items: center;
	@include media-breakpoint-down(xs) {
		display: block;
		text-align: center;
		// margin-left: rem-calc(10);
		// margin-right: rem-calc(10);
	}
	.button {
		margin-right: rem-calc(30);
		@include media-breakpoint-down(xs) {
			margin-right: 0;
			margin-bottom: rem-calc(10);
			display: block;
		}
		&:last-child {
			margin-right: 0;
			@include media-breakpoint-down(xs) {
				margin-bottom: 0;
			}
		}
	}
}