.cta-group {
    display: flex;
    align-items: center;
    margin-left: -.5rem;
    margin-right: -.5rem;

    a {
        margin: .5rem 0;
    }

    @include rr-break-directive(m) {
        display: flex;        
        margin-left: -.5rem;
        margin-right: -.5rem;        

        a {
            margin: 0 .5rem;
        }        
    }
}