.filters {
	margin-bottom: rem-calc(60);
	border: $color-shade-lightest $border-medium solid;
	padding: rem-calc(30);
}

.filters form, form .filters {
	label {
		font-weight: bold;
		display: block;
		margin-bottom: rem-calc(5);
	}
	select {
		display: block;
		margin-bottom: rem-calc(30);
		width: 100%;
	}
	.button-wrapper, #edit-actions {
		text-align: center;
	}
}