.global-nav {

  a {
    @include rr-font-compute(r, medium);
    transition: opacity .3s ease-in-out;
    font-weight: 500;

    &:last-child {
      border-bottom-width: 0;
    }

    &:link,
    &:visited {
      //color: color(wildcat-white);
      text-decoration: none;
      opacity: .85;
    }

    &:hover,
    &:active {
      //color: color(wildcat-white);
      text-decoration: underline;
      opacity: 1;
    }
  }

  @media screen and (max-width: #{rr-prop-for-breakpoint(l, size)}) {
    $border-tint: rgba(0, 0, 0, .1);

    .ic::before {
      font-size: .9em;
    }

    a {
      display: block;
      padding: rr-gridbase(1);
      border-bottom: 1px $border-tint solid;

      .show-for-sr {
        display: inline;
        position: static;
        margin-left: .55em;
      }
    }
  }

  @include rr-break-directive(l) {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    a {
      margin-right: rr-gridbase(4);
    }
  }

  @include rr-break-directive(xl) {
    a {
      margin-right: rr-gridbase(6);
      @include rr-font-compute(l, medium);
    }
  }
}

.global-nav-bar {
  display: none;
  @include rr-break-directive(l) {
    display: block;
  }
}
