@use 'root-rhythm';


.global-nav {

  a {
    @include root-rhythm.rr-font-compute(l, tight);
    display: block;
    margin-bottom: root-rhythm.rr-gridbase(2);
    font-weight: 500;

    &.ic--home {
      display: none;
    }

    &:last-child {
      border-bottom-width: 0;
    }

    &:link,
    &:visited {
      text-decoration: none;
    }

    &:hover,
    &:active {
      text-decoration: underline;
      color: #ffffff;
    }
  }

  @include root-rhythm.rr-break-directive(l) {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    a {
      @include root-rhythm.rr-font-compute(l, medium);
      margin-right: root-rhythm.rr-gridbase(3.5);
      margin-bottom: 0;
      transition: margin-right .3s ease-in-out;
    }
  }

  @include root-rhythm.rr-break-directive(xl) {
    a {
      margin-right: root-rhythm.rr-gridbase(6);
    }
  }
}

