@use 'root-rhythm';
@use 'color-functions';
@use 'layout';

.link-expandable {
  position:relative;
  a {
    //@include root-rhythm.rr-font-compute(l, tight);
    font-weight: 500;

    &:link,
    &:visited {
      text-decoration: none;
    }

    &:hover,
    &:active {
      text-decoration: underline;
    }
  }
}


.link-expandable__container {
  display:none;
  position: absolute;
  padding: root-rhythm.rr-gridbase(2);
  top: calc( 100% + #{rr-gridbase(1.5)});
  left:0;
  z-index: 1000;

  width: calc(layout.$global-width/4);

  &--dark {
    background-color: color-functions.color(midnight);
  }
}


.link-expandable__button[aria-expanded="true"] + .link-expandable__container{
  display: block;
}
