.pagination {
	ul {
		@include strip-list;
		display: flex;
		margin-bottom: rem-calc(30);
		@include media-breakpoint-down(sm) {
			flex-flow: row wrap;
			justify-content: center;
		}
		li {
			margin: 0 rem-calc(5);
			@include media-breakpoint-down(sm) {
				margin-bottom: rem-calc(10);
			}
			&.is-active {
				a {
					color: $white;
					background-color: $color-primary;
				}
			}
			a {
				display: inline-block;
				padding: rem-calc(7 16);
				background: darken($color-shade-lightest, 2%);
				transition: background-color 0.5s;
				font-weight: $weight-bold;
				font-size: rem-calc(16);
				border: rgba(#000, 0.1) $border-thin solid;
				text-align: center;
				&:hover {
					background: lighten($color-shade-lightest, 3%);
				}
			}
			&.first,
			&.previous,
			&.next,
			&.last {
				@include media-breakpoint-down(sm) {
					width: 100%;
					a {
						width: 100%;
					}
				}
			}
		}
	}
}