.search-bar {
	.search-bar__toggle {
		display: none;
	}

	button {
		cursor: pointer;
		font-size: rem-calc(24);
		svg {
			position: relative;
			top: 4px;
			width: 1em;
			height: 1em !important;
		}
	}
}

.search-bar__toggle {
	transition: width 3s;
}

.search-bar__form {
	transition: width 3s;
	.submit-button {
		padding: rem-calc(3) rem-calc(10);
		font-size: rem-calc(18);
		background: rgba(#000, 0.5);
	}
	.visibility-toggle {
		display: none;
		font-size: rem-calc(22);
		.close-search {
			margin-left: rem-calc(7);
		}
	}

	label {
		width: 100%;
		margin-bottom: 0;
		input {
			width: 100%;
		}
	}
}

.search-bar--exposed {
	.search-bar__toggle {
		// width: 0;
		display: none;
	}
	.search-bar__form {
		// width: 100%;
		display: block;
	}
}


// @include media-breakpoint-up(md) {
.search-bar {
	padding: 0;
}

.search-bar__form {
	.visibility-toggle {
		display: block;
	}
}

.search-bar--initialized {
	display: flex;
	align-items: center;

	.search-bar__toggle {
		display: block;
	}

	.search-bar__form {
		// width: 0;
		overflow: hidden;
		display: none;

		.input-group {
			margin-bottom: 0;
		}
	}
}
// }

