@use 'root-rhythm';
@use 'color-functions';
@use 'colors';
@use 'color-schemes';
@use 'typography';

.section-nav {

  + label {
    font-size: 1.1667rem;
    line-height: 1.5rem;
    display: block;
    margin-bottom: 1rem;
    font-weight: 500;
    text-transform: uppercase;
  }

  h2,
  h3,
  h4 {
    margin: 0;
  }
  
  ol,
  ul {
    margin: root-rhythm.rr-gridbase() 0;
    padding-left: root-rhythm.rr-gridbase(0);
    list-style: none;

    li {
      padding-bottom: root-rhythm.rr-gridbase(1);
      @include root-rhythm.rr-font-compute(r, medium, typography.$fonts);

      &:last-child {
        padding-bottom: 0;
      }

      a {
        text-decoration: none;
      }
      
      a.is-active {
          font-weight: bold;
        }
    }

    @include root-rhythm.rr-break-directive(m) {
      padding-left: root-rhythm.rr-gridbase(3);
    }
  }

  @at-root .js-tabcontent #{&} {
    margin: root-rhythm.rr-gridbase(2) root-rhythm.rr-gridbase(4);
  }

  // We need to hide the sidebar navigation
  // in the sidebar on screens where it's 
  // injected into the mobile navigation
  @at-root .grid__column--minor #{&} {
    display: none;

    @include root-rhythm.rr-break-directive(l) {
      display: block;
    }
  }
}

.section-nav--bordered {
  @include block-spacing;
}

@each $name, $color in colors.$colors {
  .section-nav--#{""+$name} {
    @include block-spacing;
    border-color: $color;
    background-color: $color;

    @if (color-functions.contrast($color, color-functions.color(wildcat-black)) < 4.5) {
      @include usescheme(color-schemes.$scheme-dark);
    }

    @include root-rhythm.rr-break-directive(m) {
      nav {
        margin-left: root-rhythm.rr-gridbase(-3);
      }
    }
  }
}
