.section-nav {
    h2, h3, h4 {
        margin: 0;
    }

    ol {
        margin: rr-gridbase() 0;
        list-style: none;
        padding-left: rr-gridbase(3);   
        li {
            padding-bottom: rr-gridbase(1);
            @include rr-font-compute(r,medium);
            &:last-child {
                padding-bottom: 0;
            }

            a {
                text-decoration: none;
                transition: .2s background-position ease-out;
                @include faux-underline();

                &:active, 
                &:hover {
                    background-position: 0 0, 1000px 2px;
                }                
            }
        }            
    }
}

.section-nav--bordered {
    @include block-spacing;
}

// For these solid-block backgrounds, we can pull
// the links back into the padding area so their
// left margins can align with other blocks; the 
// arrow on the parent page link will then 
// overlap the block padding
.section-nav--wildcat-blue {
    @include block-spacing;
    @include usescheme($text-colors-dark);
    background-color: color(wildcat-blue);

    nav {
        margin-left: rr-gridbase(-3);
    }
}

.section-nav--wildcat-black {
    @include block-spacing;
    @include usescheme($text-colors-dark);    
    background-color: color(wildcat-black);
    nav {
        margin-left: rr-gridbase(-3);
    }      
}

.section-nav--subtle-gray {
    @include block-spacing(subtle-gray);
    background-color: color(subtle-gray);
    nav {
        margin-left: rr-gridbase(-3);
    }    
}

.section-nav--light-gray {
    @include block-spacing(light-gray);
    background-color: color(light-gray);
    nav {
        margin-left: rr-gridbase(-3);
    }    
}