@use 'root-rhythm';
@use 'color-functions';
@use 'typography';

.skip-nav {
  @include root-rhythm.rr-font-compute(l, wide, typography.$fonts);
  display: flex;
  position: absolute;
  top: -5rem;
  justify-content: center;
  width: 100%;
  padding: root-rhythm.rr-gridbase(2);
  transition: top .5s;
  background-color: color-functions.color(wildcat-black);
  font-weight: bold;
  z-index: 99999;

  &:link,
  &:visited,
  &:hover,
  &:active {
    color: color-functions.color(wildcat-white);
  }

  &:focus {
    top: 0;
    
  }
}
