@use 'root-rhythm';

.universal-nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  > * {
    flex: 0 1 auto;
    margin-bottom: root-rhythm.rr-gridbase(2);
  }

  a {
    font-weight: 500;
    text-decoration: none;
  }

  @include root-rhythm.rr-break-directive(l) {
    justify-content: flex-end;

    > * {
      margin-bottom: 0;
      margin-left: root-rhythm.rr-gridbase(2);
    }

    .my-uk-logo {
      width: 3.4375;
      height: root-rhythm.rr-gridbase(3);
      box-sizing: content-box;

      svg {
        display: block;
        width: 3.4375em;
        height: root-rhythm.rr-gridbase(3);
        margin: 0 auto;
      }
    }

    .my-uk-logo,
    .search-control {
      margin-top: root-rhythm.rr-gridbase(-1);
      margin-bottom: root-rhythm.rr-gridbase(-1);
    }

    &:first-child:last-child {
      position: relative;
      width: 100%;
    }
  }
}
