.universal-nav {
    
    display: flex;
    justify-content: flex-end;
    align-items: center;

    > * {
        margin-left: rr-gridbase(2);
    }
        
    .search-control {
        padding: rr-gridbase(1);
        background-color: transparent;
        color: color(medium-blue);
        border-width: 0;
        font-family: $font-avenirnext;
        @include rr-font-compute(s,tight);

        &:hover, &:active {
            background-color: color(light-blue-tint);
            color: color(wildcat-blue);
        }
        &:before {
            content: $icon-magnify;
            font-family: iconfont;
            vertical-align: text-bottom;
            margin-right: .3em;
        }
    }    
}
