.universal-nav {
    
    display: flex;
    justify-content: flex-end;
    align-items: center;

    > * {
        margin-left: rr-gridbase(2);
    }
    
    
    .search-control {
        &:hover, &:active {
            background-color: transparent;
        }
        &:before {
            content: $icon-magnify;
            font-family: iconfont;
            vertical-align: text-bottom;
            margin-right: .3em;
        }
    }    
}
