.unit-nav {
	ul {
		@extend .strip-list;
		li {
			display: inline-block;
		}
	}

	// home icon that's sometimes shown in the unit nav
	.unit-home {
		svg {
			height: 1.5rem;
			width: 1.5rem;
		}
	}
}


