.utility-nav {
	ul {
		@extend .strip-list;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		height: 100%;
		@include media-breakpoint-down(sm) {
			justify-content: flex-start;
		}
		li {
			// display: inline-block;
			a.myuk {
				text-indent: -999999px;
				display: inline-block;
				width: rem-calc(50);
				height: rem-calc(30);
				background-position: center center;
				background-size: contain;
				background-repeat: no-repeat;
				background-image: image-url('my-UK.png');
				margin-right: rem-calc(20);
			}
		}
	}
	@include media-breakpoint-up(md) {
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}
}


