.utility-nav {
    
    a {
        @include rr-font-compute(r, medium);
        font-weight: 500;
        transition: color .3s ease-in-out;

        &:link, &:visited {
            text-decoration: none;
        }
        &:hover, &:active {
            text-decoration: underline;
        }
    }
    
	@media screen and (max-width: #{rr-prop-for-breakpoint(l,size)}) {
		a {
			padding: rr-gridbase(1);
            border-top: 1px rgba(0,0,0,.1) solid;
            display: block;
			.show-for-sr {
				position: static;
				display: inline;
				margin-left: .55em;
			}
		}
	}    


    @include rr-break-directive(l) {
        display: flex;
        justify-content: flex-end;
        align-items: center;               
        margin-top: rr-gridbase(2);
        
        a {
            margin-left: rr-gridbase(6);
        }
    }
}
