.utility-nav {
    display: flex;
    flex-direction: column;
    
    margin-top: rr-gridbase(2);
    

    a {
        @include rr-font-compute(r, medium);
        font-weight: 500;
        transition: color .3s ease-in-out;

        &:link, &:visited {
            color: color(dark-blue);
            text-decoration: none;
        }
        &:hover, &:active {
            color: color(wildcat-blue);
            text-decoration: underline;
        }
    }    


    @include rr-break-directive(l) {
        display: flex;
        justify-content: flex-end;
        align-items: center;               

        a {
            margin-left: rr-gridbase(6);
        }
    }
}
