<div class="{{ styleModifier }}">
	{% for icon in [
			'design--angle-right',
			'design--angle-double-right',
			'design--cog-box',
			'design--home',
			'design--magnify',
			'design--navigation-drawer-2',
			'social--facebook',
			'social--flickr',
			'social--instagram',
			'social--linkedin',
			'social--pinterest',
			'social--rss',
			'social--twitter',
			'social--youtube'
		]
	%}
		<div class="cell icon-wrapper">
			{{ svg.ref(icon,icon,icon) }}
		</div>
	{% endfor %}
</div>
