{{ attach_library('carousel') }}
<div class="carousel {{ carousel_style|default('carousel--single') }} {{ carousel_variant }}">
    {% for i in 0 .. 6 %}
        {% include 'components-media-with-caption' with {lazy: true, level: level|default(2), aspect : '16:9', } %}
    {% endfor %}
</div>