<div class="nice-video">
	{#
		Inlining the background image style lets us provide the image in the CMS.
		We use a background image to make sure the preview image covers the aspect
		ratio of the video, which depends on the size of the source.
	 #}
	{% spaceless %}
	<div
		class="nice-video__preview"
		{% if show_preview_image %}
			{% set imageUrl = fake('imageUrl',{width:1200,height:800}) %}
			style="background-image:url('{{ imageUrl }}')"
		{% endif %}
	>
	</div>
	{% endspaceless %}
	<div class="nice-video__player">
		{% include 'atoms-embedded-video' %}
	</div>
	<button>Play Video</button>
	{% if show_transcript %}
		<div class="nice-video__transcript"><a href="#">Transcript</a></div>
	{% endif %}
</div>
