<form class="search-bar">
	<div class="search-bar__form">
		<div class="input-group">
			<input class="input-group-field" type="text" placeholder="Search This Site">
			<div class="input-group-button">
				<input type="submit" class="button" value="Search">
			</div>
		</div>
	</div>
	<div class="search-bar__toggle">
		<a href="#" class="visibility-toggle">Search</a>
	</div>
</form>
