<div class="vcard">
    <a class="fn org url" href="http://www.insidenewcity.com/">NewCity</a>
    <div class="adr">
        <div class="street-address">301 South Main St. Suite 207</div>
        <span class="locality">Blacksburg</span>,
        <abbr class="region" title="Virginia">VA</abbr>&nbsp;&nbsp;
        <span class="postal-code">24060</span>
        <div class="country-name">USA</div>
    </div>
    <div class="tel">
        (540) 552-1320
    </div>
</div>
