
ul.angle-list {
	list-style: none;
	li {
		margin-bottom: rem-calc(16);
		position: relative;
		&::before {
			display: inline-block;
			height: 1em;
			width: 1em;
			content: '';
			position: absolute;
			top: 4px;
			left: -20px;
			background-position: center bottom;
			background-size: contain;
			background-repeat: no-repeat;
			background-image: image-url('angle-bullet.svg');
		}
		ul {
			list-style: none;
		}
	}
}