<div class="editorial {{ editorial_style }}">
	{% if aside is not empty %}
	<div class="editorial__asides">
		{% include aside %}
	</div>
	{% endif %}
	{% if not hide_editorial %}
	<div class="editorial__content">
		{% include 'atoms-formatted-text' with { heading_frequency : 2, formatted_text_paragraphs : paragraphs|default(10) } %}
	</div>
	{% endif %}
</div>
