<aside class="pullquote">
  <blockquote class="pullquote__quote">
    {% include 'atoms-paragraph' %}
  </blockquote>
  <div class="pullquote__attribution">
    <p>Name Namerson</p>
    <p>Optional Title Line</p>
  </div>
</aside>
