<div class="tagline">
	<span class="tagline-intro">Transforming tomorrow</span>
	<span class="tagline-main">

		{% if tagline is empty or tagline is same as(true) %}
			{{ (fake('bs')) }}
		{% else %}
			{{ tagline }}
		{% endif %}
	</span>
</div>
