<div class="pl-icons"> 
	{% for icon in [
			'angle-double-right',
			'angle-right',
			'book-stack',
			'book',
			'building',
			'caret-right',
			'chart',
			'chevron-right',
			'close',
			'circles',
			'dna',
			'flask',
			'flask2',
			'flask3',
			'folder-up-arrow',
			'graduate-cap',
			'home',
			'institution',
			'lightbulb',
			'long-arrow-right',
			'magnify',
			'megaphone',
			'microscope',
			'minus',
			'molecule',
			'navigation-drawer-2',
			'news',
			'petri-dish',
			'play-circle',
			'plus',
			'podcast',
			'quote-left',
			'quote-right',
			'satellite-dish',
			'search',
			'share',
			'thermometer',
			'syringe',
			'university',
			'user',
			'users',
			'video-camera',
			'video-play-screen',
			'facebook-square',
			'instagram',
			'linkedin-square',
			'soundcloud',
			'twitter-square',
			'youtube-square'
		]
	%}
		<div class="cell">
		<p>{{ icon }} : </p>
		{% include 'atoms-icon' with { icon: icon, icon_alt: icon } %}
		</div>
	{% endfor %}
</div>
