
{% if media_type is same as('article') %}
	{% set icon = 'news' %}
	{% set media_icon_modifier = media_icon_modifier ~ ' news' %}
{% elseif media_type is same as('video') %}
	{% set icon = 'video-camera' %}
	{% set media_icon_modifier = media_icon_modifier ~ ' video-camera' %}
{% elseif media_type is same as('podcast') %}
	{% set icon = 'podcast' %}
	{% set media_icon_modifier = media_icon_modifier ~ ' podcast' %}
{% else %}
	{% set icon = 'megaphone' %}
{% endif %}


<div class="media-icon {{ media_icon_modifier }}">
	<div class="icon-wrapper">
		{{ svg.ref(icon,icon,icon) }}
	</div>
</div>