.button,
button {
	@include fontstyle('button');

	border-radius: 0;
	border-width: 0;
	display: inline-block;
	padding: rem-calc(12 20);
	background-color: $color-link;
	color: $white;

	.arrow {
		display: inline-block;
		margin-right: 0.3em;
		font-family: arial, helvetica, sans-serif;
	}

	&.button-secondary {
		background-color: $color-quaternary;
	}

	&.button-ghost {
		padding: rem-calc(10 18);
		border: 2px $color-link solid;
		background-color: $white;
		color: $color-link;

		.arrow {
			color: $color-quaternary;
		}

		&.button-secondary {
			border-color: $color-quaternary;
			color: $color-quaternary;

			.arrow {
				color: $color-link;
			}
		}
	}
}

.button {
	&:link,
	&:visited {
		color: $white;
		text-decoration: none;

		&.button-ghost {
			color: $color-link;

			&.button-secondary {
				color: $color-quaternary;
			}
		}
	}

	&:hover,
	&:active {
		color: $white;
		text-decoration: none;

		&.button-ghost {
			color: $color-link;

			&.button-secondary {
				color: $color-quaternary;
			}
		}
	}
}
