button, a.button {
    @include rr-font-compute(m,tight);
    
    font-weight: 500;
    font-family: $font-avenirnext;
    text-transform: uppercase;
    text-align: center;
    padding: rr-grid-remainder(3px, 2);
    padding-left: 1.667rem;
    padding-right: 1.667rem;
    margin: 0;
    
    border: 3px solid color(wildcat-blue);
    background-color: color(wildcat-blue);
    color: color(wildcat-white);
    display: inline-block;
    text-decoration: none;

    transition: .3s ease-in-out;

    &.button--ghost {
        background-color: transparent;
        color: color(wildcat-blue);
    }

    /* Variants */
    &.button--small {
        @include rr-font-compute(s, tight);
        padding: rr-grid-remainder(2px, 1);
        padding-left: 1rem;
        padding-right: 1rem;
    }

    &.button--large {
        @include rr-font-compute(xl, tight);
        padding: rr-grid-remainder(4px, 2);
        padding-left: 2.112rem;
        padding-right: 2.112rem;
        border-width: 4px;
    }

    /* States */
    &[disabled] {
        background-color: color(subtle-gray) !important;
        border-color: color(subtle-gray) !important;
        color: color(dark-gray) !important;
    }

    &:hover {
        background-color: color(light-blue);
        border-color: color(light-blue);
        color: color(wildcat-white);

    }

    &:active {
        background-color: color(medium-blue);
        border-color: color(medium-blue);
        color: color(wildcat-white);
        &.button--ghost {
            background-color: transparent;
        }        
    }

    &:focus {
        background-color: color(light-blue);
        outline: none;
        color: white;        
        
        &.button--ghost {
            background-color: transparent;
        }
    }
}