button, a.button, input.button {
    @include rr-font-compute(l,tight);
    
    font-weight: 500;
    font-family: $font-avenirnext;
    text-transform: uppercase;
    text-align: center;
    margin: 0;

    // Avenir is not quite centered in the lineheight
    // because of weird font metrics, so in order to get
    // text visibly aligned I have to provide unique padding
    // values for top and bottom.
    padding: {
        top: calc(1rem - 2px);
        bottom: calc(1rem - 4px);
        left: calc(1.875rem - 3px);
        right: calc(1.875rem - 3px);        
    }
    
    display: inline-block;
    text-decoration: none;

    border-width: 3px;
    border-style: solid;
    transition: .3s ease-in-out;

    &.button--ghost {
        background-color: transparent;
        color: color(wildcat-blue);
    }

    &.button--transparent {
        background-color: transparent;
        border-color: transparent;
        color: color(wildcat-blue);
    }

    /* Variants */
    &.button--small {
        @include rr-font-compute(s, tight);
        padding: {
            left: calc(1.625rem - 3px);
            right: calc(1.625rem - 3px);
        }
    }

    &.button--large {
        @include rr-font-compute(l, tight);
        padding: {
            left: calc(2rem - 3px);
            right: calc(2rem - 3px);
        }        
    }
}

button.video-button {
    display: block;

    .video-button__pause {
        display: block;
    }
    .video-button__play {
        display: none;
    }
    &.video-button--paused {
        .video-button__pause {
            display: none;
        }
        .video-button__play {
            display: block;
        }
    }
}



