@use '../../includes/root-rhythm';
@use '../../includes/color-functions';

.micro-teaser {
  .headline-group {
    .headline-group__head {
      @include root-rhythm.rr-font-compute(3xl, medium);
      font-weight: 500;
    }
  }

  .micro-teaser__wrapper {
    margin-top: root-rhythm.rr-gridbase(2);
  }

  .micro-teaser__media {
    margin-bottom: root-rhythm.rr-gridbase(2);

    a {
      display: block;
      background-color: color-functions.color(wildcat-blue);

      img {
        transition: .3s opacity ease-in-out;
      }

      &:hover,
      &:visited {
        img {
          opacity: .7;
        }
      }
    }
  }

  .editorial {
    margin-bottom: root-rhythm.rr-gridbase(2);

    p {
      @include root-rhythm.rr-font-compute(l, medium);
    }
  }

  .cta-group {
    flex-direction: column;

    a {
      margin-bottom: 1rem;
    }
  }

  @include root-rhythm.rr-break-directive(m) {
    .micro-teaser__wrapper {
      display: flex;
      margin-top: root-rhythm.rr-gridbase(3);
    }

    .micro-teaser__media {
      flex: 1 0 26%;
      margin-right: root-rhythm.rr-gridbase(3);
      margin-bottom: 0;
    }

    .micro-teaser__content {
      flex: 1 1 100%;
    }
  }

  @include root-rhythm.rr-break-directive(l) {
    .micro-teaser__wrapper {
      display: flex;
      margin-top: root-rhythm.rr-gridbase(4);
    }

    .micro-teaser__media {
      flex: 1 0 26%;
      margin-right: root-rhythm.rr-gridbase(4);
    }
  }

  @include root-rhythm.rr-break-directive(xl) {
    .micro-teaser__wrapper {
      display: flex;
      margin-top: root-rhythm.rr-gridbase(6);
    }

    .micro-teaser__media {
      flex: 1 0 26%;
      margin-right: root-rhythm.rr-gridbase(6);
    }

    .cta-group {
      flex-direction: row;

      a {
        margin-bottom: 0;
      }
    }
  }
}
