.micro-teaser {
    .headline-group {
        .headline-group__head {
            @include rr-font-compute(3xl, medium);
            font-weight: 500;
        }
    }

    .micro-teaser__wrapper {
        margin-top: rr-gridbase(2);
    }

    .micro-teaser__media {
        margin-bottom: rr-gridbase(2);
    }

    .editorial {
        margin-bottom: rr-gridbase(2);
        p {
            @include rr-font-compute(l,medium);
        }
    }

    @include rr-break-directive(m) {
        .micro-teaser__wrapper {
            display: flex;
            margin-top: rr-gridbase(3);
        }
        .micro-teaser__media {
            margin-right: rr-gridbase(3);
            margin-bottom: 0;
            flex: 1 0 26%;
        }

        .micro-teaser__content {
            flex: 1 1 100%;
        }        
    }

    @include rr-break-directive(l) {
        .micro-teaser__wrapper {
            display: flex;
            margin-top: rr-gridbase(4);
        }

        .micro-teaser__media {
            margin-right: rr-gridbase(4);
            flex: 1 0 26%;
        }
    }

    @include rr-break-directive(xl) {
        .micro-teaser__wrapper {
            display: flex;
            margin-top: rr-gridbase(6);
        }

        .micro-teaser__media {
            margin-right: rr-gridbase(6);
            flex: 1 0 26%;
        }
    }
    
}