.teaser {
	.headline-group {
		.headline-group__sub,
		.headline-group__super {
			text-transform: uppercase;
			font-weight: 500;
			@include rr-font-compute(xl,medium);
		}
		.headline-group__head {
			@include rr-font-compute(3xl, medium);
		}
	}
}

.teaser__media {
	margin-bottom: 1.5rem;
}

.teaser__content {
	.editorial {
		margin-top: 1rem;
		@include rr-font-compute(l, medium);
	}
	.editorial + .button {
		margin-top: 1rem;
	}
}

@each $name,$color in $colors {
    .teaser--#{$name} {
        @include block-spacing;
        background-color: $color;
        border-color: $color;
        @if (contrast($color,color(wildcat-black)) < 4.5) {
            @include usescheme($text-colors-dark);
        }
    }
}

