@use 'color-schemes';
@use 'colors';
@use 'root-rhythm';
@use 'color-functions';
@use 'design-variables';


.teaser {
  .headline-group {
    .headline-group__sub,
    .headline-group__super {
      @include root-rhythm.rr-font-compute(xl, medium);
      font-weight: 500;
      text-transform: uppercase;
    }

    .headline-group__head {
      @include root-rhythm.rr-font-compute(3xl, medium);
    }
  }
}

.teaser__media {
  margin-bottom: 1.5rem;

  a {
    display: block;
    background-color: color-functions.color(wildcat-blue);

    img {
      transition: .3s opacity ease-in-out;
    }

    &:hover,
    &:visited {
      img {
        opacity: .7;
      }
    }
  }
}

.teaser__content {
  .editorial {
    @include root-rhythm.rr-font-compute(l, medium);
    margin-top: 1rem;
  }

  .editorial + .button {
    margin-top: 1rem;
  }
}

@each $name, $color in colors.$colors {
  .teaser--#{""+$name} {
    @include block-spacing;
    border-color: $color;
    background-color: $color;
    @if (color-functions.contrast($color, color-functions.color(wildcat-black)) < 4.5) {
      @include design-variables.usescheme(color-schemes.$scheme-dark);
    }
  }
}

.teaser--event {
  position: relative;

  .calendar-preview {
    position: absolute;
    width:100%;
    bottom: 0;
  }

}
