/* Colors
/* remember to turn off any unused swatches in atoms>global>colors.twig
/* _______________________________________________________________ */

$color-undefined: #aaaaaa;
$white: #fff;
$black: #2c2a29;

/// Returns the luminance of `$color` as a float (between 0 and 1)
/// 1 is pure white, 0 is pure black
/// @param {Color} $color - Color
/// @return {Number}
/// @link http://www.w3.org/TR/2008/REC-WCAG20-20081211/#relativeluminancedef Reference
@function luminance($color) {
    $colors: ( 'red': red($color), 'green': green($color), 'blue': blue($color));
    @each $name,
    $value in $colors {
        $adjusted: 0;
        $value: $value / 255;
        @if $value < 0.03928 {
            $value: $value / 12.92;
        }
        @else {
            $value: ($value + .055) / 1.055;
            $value: pow($value, 2.4);
        }
        $colors: map-merge($colors, ($name: $value));
    }
    @return (map-get($colors, 'red') * .2126)+(map-get($colors, 'green') * .7152)+(map-get($colors, 'blue') * .0722);
}

@function contrast($c1,$c2) {
    $l1: luminance($c1);
    $l2: luminance($c2);
    @if $l1 > $l2 {
        @return ($l1 + 0.05) / ($l2 + 0.05);
    }
    @return ($l2 + 0.05) / ($l1 + 0.05);
}

@function color($name: wildcat-blue, $scheme: $colors) {
    @if map-has-key($scheme, $name) {
        @return map-get($scheme, $name);
    }
    @return $color-undefined;
}

@mixin usescheme($textscheme) {
    color: color(text,$textscheme);
    abbr {
        color: $white;
    }
    a {
        &:link,
        &:visited {
            color: color(link,$textscheme);
        }
        &:hover,
        &:active {
            color: color(link-active,$textscheme);
        }
    }
}

@mixin ondark() {
    warning: "ondark-depricated";
    @include usescheme($text-colors-dark);
}



$colors: (
    wildcat-blue: #0033a0,
    wildcat-white: #fff,
    wildcat-black: #2c2a29,
    light-blue: #1897d4,
    medium-blue: #143887,
    dark-blue: #202c5f,
    light-gray: #c8c8c7,
    medium-gray: #a5acaf,
    dark-gray: #63656a,
    success: lawngreen,
    warning: darkorange,
    alert: darkred,
    info: lightsteelblue,
);

$text-colors: (
    link: rebeccapurple,
    link-active: purple,
    text: color(wildcat-black),
    accent: color(alert),
);

$text-colors-dark: (
    link: lightskyblue,
    link-active: lightsteelblue,
    text: color(wildcat-white),
    accent: color(success)
);


// convenience aliases
$white: color(wildcat-white);
$black: color(wildcat-black);
$color-text: color(text);
$color-link: color(link);

