$font-mercury: 'Mercury Display A', 'Mercury Display B', serif;

$font-avenirnext: 'AvenirNextLT', sans-serif;

$global-width: 72rem;
$rr-max-width: $global-width;

$rr-grid-divisions: 2;

$rr-blend-mode: multiply;

$rr-grid-settings: (
  s: (
    mq: max-width,
    size: 35rem,
    columns: 4,
    gutter: 1rem / $rr-grid-divisions,
    offset: 1rem,
    vspace: 2,
    column_color: rgba(200, 200, 255, .2),
    baseline_color: rgba(128, 128, 200, .2)
  ),
  m: (
    mq: min-width,
    size: 35rem,
    gutter: 1rem,
    columns: 8,
    offset: 2rem,
    vspace: 3, //  21px / 42px
    column_color: rgba(255, 200, 200, .2),
    baseline_color: rgba(128, 128, 200, .2)
  ),
  l: (
    size: 58rem,
    columns: 12,
    column_color: rgba(128, 255, 200, .2),
    baseline_color: rgba(128, 128, 200, .2)
  ),
  xl: (
    size: $global-width + 4rem,
    offset: 0,
    gutter: 2rem, //36px 
    vspace: 5, // (36px / 72px)
    column_color: rgba(200, 128, 255, .2),
    baseline_color: rgba(128, 128, 200, .2)
  ),
  xlp: (
    size: $global-width + 8rem
  )

);

$rr-grids: (
  2-up: (
    m: (
      columns: 2,
    )
  ),
  3-up: (
    m: (
      columns: 2,
    ),
    l: (
      columns: 3,
    )
  ),
  4-up: (
    m: (
      columns: 2,
    ),
    l: (
      columns: 4,
    )
  ),
  5-up: (
    m: (
      columns: 3,
    ),
    l: (
      columns: 5,
    )
  ),
  6-up: (
    m: (
      columns: 3,
    ),
    l: (
      columns: 4,
    ),
    xl: (
      columns: 6
    )
  ),
  sidebar-left: (
    m: (
      columns: 3,
      areas: side main main
    ),
    l: (
      columns: 4,
      areas: side main main main
    )
  ),
  sidebar-right: (
    m: (
      columns: 3,
      areas: main main side,
      flex-columns: 2
    ),
    l: (
      columns: 4,
      areas: main main main side
    )
  ),
  major-left: (
    m: (
      columns: 2,
      areas: major minor,
      flex-columns: 2
    ),
    l: (
      columns: 3,
      areas: major major minor,
    )
  ),
  major-right: (
    m: (
      columns: 2,
      areas: minor major,
      flex-columns: 2
    ),
    l: (
      columns: 3,
      areas: minor major major,
    )
  )
);

$lineheights: (
  hpc: -2,
  squeeze: -1,
  tight: 0,
  medium: 1,
  wide: 2,
  huge: 3,
  redic: 4
);

$fonts: (
  s: (
    xs: .75rem, //12  xxs
    s: .875rem, //14  xs
    r: 1rem, //16 s
    l: 1.1667rem, // r
    xl: 1.25rem, // l 
    2xl: 1.5rem,
    3xl: 1.775rem,
    4xl: 2rem,
    5xl: 2.4286rem
  ),
  xl: (
    xs: .75rem,
    s: .875rem,
    r: 1rem,
    l: 1.1667rem,
    xl: 1.25rem,
    2xl: 1.5rem,
    3xl: 1.875rem,
    4xl: 2.375rem,
    5xl: 3.4286rem
  )
);

$font-sizes: rr-font-sizes();

$editorial-headings: (
  h2: (
    size: 4xl,
    lineheight: tight,
    font: $font-mercury,
    weight: normal,
  ),
  h3: (
    size: 3xl,
    lineheight: tight,
    weight: normal,
  ),
  h4: (
    size: xl,
    lineheight: tight,
    weight: normal,
  ),
  h5: (
    size: xl,
    lineheight: tight,
    weight: normal,
    style: italic
  ),
  h6: (
    size: l,
    lineheight: tight,
    weight: normal
  )
);

$colors: (
  wildcat-blue: #0033a0,
  wildcat-white: #fff,
  wildcat-black: #2c2a29,
  light-blue: #1897d4,
  medium-blue: #2b3a82,
  dark-blue: #1f2c5e,
  almost-wildcat-blue: #002678,
  light-blue-tint: #a1d3ed,
  light-blue-shade: #106693,
  blue-black: #000500,
  light-gray: #c8c8c7,
  subtle-gray: #ebebeb,
  barely-gray: #f4f4f5,
  dark-gray: #515664,
  blue-gray: #eff4fd,
  success: #7cfc00,
  warning: #ff8c00,
  alert: #c12c2b,
  info: #a1d3ed,
);

$text-colors: (
  link: color(wildcat-black),
  link-active: color(medium-blue),
  menu-icon-color: color(medium-blue),
  menu-icon-color-active: color(wildcat-blue),
  text: color(wildcat-black),
  accent: color(alert),
  button-border: color(wildcat-blue),
  button-background: color(wildcat-blue),
  button-text: color(wildcat-white),
  button-disabled-border: color(subtle-gray),
  button-disabled-background: color(subtle-gray),
  button-disabled-text: color(dark-gray),
  button-hover-border: color(light-blue),
  button-hover-background: color(light-blue),
  button-hover-text: color(wildcat-white),
  button-active-border: color(medium-blue),
  button-active-background: color(medium-blue),
  button-active-text: color(wildcat-white),
  button-focus-border: color(light-blue),
  button-focus-background: color(wildcat-white),
  button-focus-text: color(wildcat-blue),
  headline-group-super: color(dark-gray),
  headline-group-sub: color(dark-gray),
  media-citation: color(dark-gray),
  carousel-single-button: color(dark-gray),
  carousel-single-button-art: color(wildcat-white),
  carousel-center-button: transparent,
  carousel-center-button-art: color(wildcat-white),
  carousel-dot: color(light-gray),
  carousel-dot-active: color(wildcat-black),
  carousel-center-caption: color(wildcat-black),
  media-background: color(wildcat-blue),
  statistic-head-color: color(wildcat-blue),
  statistic-subhead-color: color(light-blue),
  logo-color: color(wildcat-blue),
  wordmark-color: color(wildcat-black),
  dashed-border-color: rgba(#2c2a29, .3),
  form-borders: color(light-gray)
);

$text-colors-dark: (
  link: color(wildcat-white),
  link-active: color(light-blue-tint),
  text: color(wildcat-white),
  accent: color(success),
  button-border: color(wildcat-white),
  button-background: color(wildcat-white),
  button-text: color(wildcat-blue),
  button-disabled-border: rgba(#ededed, .66),
  button-disabled-background: rgba(#ededed, .66),
  button-disabled-text: color(wildcat-blue),
  button-hover-border: color(light-blue),
  button-hover-background: color(light-blue),
  button-hover-text: color(wildcat-white),
  button-active-border: color(dark-blue),
  button-active-background: color(dark-blue),
  button-active-text: color(wildcat-white),
  button-focus-border: color(light-blue),
  button-focus-background: color(wildcat-white),
  button-focus-text: color(wildcat-blue),
  headline-group-super: color(light-gray),
  headline-group-sub: color(light-gray),
  media-citation: color(wildcat-white),
  carousel-single-button: color(dark-gray),
  carousel-single-button-art: color(wildcat-white),
  carousel-center-button: transparent,
  carousel-center-button-art: color(wildcat-white),
  carousel-dot: color(subtle-gray),
  carousel-dot-active: color(light-blue-tint),
  carousel-center-caption: color(wildcat-black),
  media-background: color(wildcat-black),
  statistic-head-color: color(wildcat-white),
  statistic-subhead-color: color(light-blue-tint),
  logo-color: color(wildcat-white),
  wordmark-color: color(wildcat-white),
  dashed-border-color: rgba(#fff, .3),
  form-borders: transparent
);


// convenience aliases
$white: color(wildcat-white);
$black: color(wildcat-black);
$color-text: color(text);
$color-link: color(link);

// Set rr defaults

$rr-fonts: $fonts;
$rr-lineheights: $lineheights;



