@use "../tokens/typography";
//sass-lint:disable no-url-domains, no-url-protocols, no-duplicate-properties

//Required for Hoefler (typography.com) licensing
@import url('https://cloud.typography.com/7932236/7395812/css/fonts.css');

@import url("https://use.typekit.net/axt6iqz.css");

@font-face {
  font-family: 'blackbikeclean';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/blackbike-clean-webfont.woff2') format('woff2'), url('../fonts/blackbike-clean-webfont.woff') format('woff');
}

@font-face {
  font-family: 'blackbikerough';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/blackbike-rough-webfont.woff2') format('woff2'), url('../fonts/blackbike-rough-webfont.woff') format('woff');
}

body {
  font-family: typography.$font-usual;
  font-weight:300;
}

.font-mercury {
  font-family: typography.$font-mercury;
}

.font-avenirnext {
  font-family: typography.$font-usual;
}

.font-usual {
  font-family: typography.$font-usual;
}

.font-surveyor {
  font-family: typography.$font-bodini;
}

.font-bodini {
  font-family: typography.$font-bodini;
}

.font-tradegothic {
  font-family: typography.$font-gothic-atf;
}

.font-gothic-atf {
  font-family: typography.$font-gothic-atf;
}

.font-blackbikeclean {
  font-family: typography.$font-blackbikeclean;
}

.font-blackbikerough {
  font-family: typography.$font-blackbikerough;
}
