@import url('https://cloud.typography.com/6863274/6747792/css/fonts.css');
//@import url("/count/35e586");
@font-face {
    font-family: 'AvenirNextLTPro';
    font-weight: normal;
    font-style: normal;
    src: url('/fonts/35E586_1_0.eot');
    src: url('/fonts/35E586_1_0.eot?#iefix') format('embedded-opentype'), url('/fonts/35E586_1_0.woff2') format('woff2'), url('/fonts/35E586_1_0.woff') format('woff'), url('/fonts/35E586_1_0.ttf') format('truetype');
}

@font-face {
    font-family: 'AvenirNextLTPro';
    font-weight: normal;
    font-style: italic;
    src: url('/fonts/35E586_3_0.eot');
    src: url('/fonts/35E586_3_0.eot?#iefix') format('embedded-opentype'), url('/fonts/35E586_3_0.woff2') format('woff2'), url('/fonts/35E586_3_0.woff') format('woff'), url('/fonts/35E586_3_0.ttf') format('truetype');
}

@font-face {
    font-family: 'AvenirNextLTPro';
    font-weight: 500;
    font-style: normal;
    src: url('/fonts/35E586_0_0.eot');
    src: url('/fonts/35E586_0_0.eot?#iefix') format('embedded-opentype'), url('/fonts/35E586_0_0.woff2') format('woff2'), url('/fonts/35E586_0_0.woff') format('woff'), url('/fonts/35E586_0_0.ttf') format('truetype');
}

@font-face {
    font-family: 'AvenirNextLTPro';
    font-weight: 500;
    font-style: italic;
    src: url('/fonts/35E586_5_0.eot');
    src: url('/fonts/35E586_5_0.eot?#iefix') format('embedded-opentype'), url('/fonts/35E586_5_0.woff2') format('woff2'), url('/fonts/35E586_5_0.woff') format('woff'), url('/fonts/35E586_5_0.ttf') format('truetype');
}

@font-face {
    font-family: 'AvenirNextLTPro';
    font-weight: bold;
    font-style: normal;
    src: url('/fonts/35E586_4_0.eot');
    src: url('/fonts/35E586_4_0.eot?#iefix') format('embedded-opentype'), url('/fonts/35E586_4_0.woff2') format('woff2'), url('/fonts/35E586_4_0.woff') format('woff'), url('/fonts/35E586_4_0.ttf') format('truetype');
}

@font-face {
    font-family: 'AvenirNextLTPro';
    font-weight: bold;
    font-style: italic;
    src: url('/fonts/35E586_2_0.eot');
    src: url('/fonts/35E586_2_0.eot?#iefix') format('embedded-opentype'), url('/fonts/35E586_2_0.woff2') format('woff2'), url('/fonts/35E586_2_0.woff') format('woff'), url('/fonts/35E586_2_0.ttf') format('truetype');
}

$font-mercury: 'Mercury Display A', 'Mercury Display B', serif;
$font-avenirnext: 'AvenirNextLTPro', sans-serif;

body {
    font-family: $font-avenirnext;
}

.font-mercury {
    font-family: $font-mercury;
}

.font-avenirnext {
    font-family: $font-avenirnext;
}

$fonts: ( s: ( size: .8rem),
m: ( size: 1rem),
l: ( size: 1.5rem),
xl: ( size: 2rem));
$lineheights: ( tight: ( grid-units: 0),
medium: ( grid-units: 1),
wide: ( grid-units: 2),
huge: ( grid-units: 3));