@import url('https://cloud.typography.com/6863274/6747792/css/fonts.css');
//@import url("/count/35e586");
@font-face {
    font-family: 'AvenirNextLTPro';
    font-weight: normal;
    font-style: normal;
    src: url('/fonts/35E586_1_0.eot');
    src: url('/fonts/35E586_1_0.eot?#iefix') format('embedded-opentype'), url('/fonts/35E586_1_0.woff2') format('woff2'), url('/fonts/35E586_1_0.woff') format('woff'), url('/fonts/35E586_1_0.ttf') format('truetype');
}

@font-face {
    font-family: 'AvenirNextLTPro';
    font-weight: normal;
    font-style: italic;
    src: url('/fonts/35E586_3_0.eot');
    src: url('/fonts/35E586_3_0.eot?#iefix') format('embedded-opentype'), url('/fonts/35E586_3_0.woff2') format('woff2'), url('/fonts/35E586_3_0.woff') format('woff'), url('/fonts/35E586_3_0.ttf') format('truetype');
}

@font-face {
    font-family: 'AvenirNextLTPro';
    font-weight: 500;
    font-style: normal;
    src: url('/fonts/35E586_0_0.eot');
    src: url('/fonts/35E586_0_0.eot?#iefix') format('embedded-opentype'), url('/fonts/35E586_0_0.woff2') format('woff2'), url('/fonts/35E586_0_0.woff') format('woff'), url('/fonts/35E586_0_0.ttf') format('truetype');
}

@font-face {
    font-family: 'AvenirNextLTPro';
    font-weight: 500;
    font-style: italic;
    src: url('/fonts/35E586_5_0.eot');
    src: url('/fonts/35E586_5_0.eot?#iefix') format('embedded-opentype'), url('/fonts/35E586_5_0.woff2') format('woff2'), url('/fonts/35E586_5_0.woff') format('woff'), url('/fonts/35E586_5_0.ttf') format('truetype');
}

@font-face {
    font-family: 'AvenirNextLTPro';
    font-weight: bold;
    font-style: normal;
    src: url('/fonts/35E586_4_0.eot');
    src: url('/fonts/35E586_4_0.eot?#iefix') format('embedded-opentype'), url('/fonts/35E586_4_0.woff2') format('woff2'), url('/fonts/35E586_4_0.woff') format('woff'), url('/fonts/35E586_4_0.ttf') format('truetype');
}

@font-face {
    font-family: 'AvenirNextLTPro';
    font-weight: bold;
    font-style: italic;
    src: url('/fonts/35E586_2_0.eot');
    src: url('/fonts/35E586_2_0.eot?#iefix') format('embedded-opentype'), url('/fonts/35E586_2_0.woff2') format('woff2'), url('/fonts/35E586_2_0.woff') format('woff'), url('/fonts/35E586_2_0.ttf') format('truetype');
}


body {
    font-family: $font-avenirnext;
}

.font-mercury {
    font-family: $font-mercury;
}

.font-avenirnext {
    font-family: $font-avenirnext;
}

@mixin font-compute($size : m, $lineheight : medium) {
    $breaks: rr-breakpoint-list();
    $linegridheight: map-get($lineheights, $lineheight);
    @each $break in $breaks {
        @if map-has-key($fonts,$break) {
            $font-size-set: map-get($fonts, $break);
            @if map-has-key($font-size-set, $size) {
                @include rr-break-directive($break) {
                    $fontsize: map-get($font-size-set, $size);
                    @include rr-font-line-height($fontsize, $linegridheight);
                }
            }
        }
    }
}

@function font-sizes() {
    $workingMap: ();
    @each $break, $fontmap in $fonts {
        $workingMap: map-merge($workingMap,$fontmap);
    }
    @return map-keys($workingMap);
}