@use 'includes/color-functions';
// Magnific Popup CSS

// sass-lint:disable no-important, no-duplicate-properties
.mfp-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: color-functions.color(wildcat-black);
  opacity: .8;
  overflow: hidden;
  z-index: 1042;
}

.mfp-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  outline: none !important;
  z-index: 1043;
  backface-visibility: hidden;
}

.mfp-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0 8px;
  text-align: center;
  box-sizing: border-box;
}

.mfp-container::before {
  display: inline-block;
  height: 100%;
  content: '';
  vertical-align: middle;
}

.mfp-align-top .mfp-container::before {
  display: none;
}

.mfp-content {
  display: inline-block;
  position: relative;
  margin: 0 auto;
  text-align: left;
  vertical-align: middle;
  z-index: 1045;
}

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto;
}

.mfp-ajax-cur {
  cursor: progress;
}

.mfp-zoom-out-cur,
.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: zoom-out;
}

.mfp-zoom {
  cursor: pointer;
  cursor: zoom-in;
}

.mfp-auto-cursor .mfp-content {
  cursor: auto;
}

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
  user-select: none;
}

.mfp-loading.mfp-figure {
  display: none;
}

.mfp-hide {
  display: none !important;
}

.mfp-preloader {
  position: absolute;
  top: 50%;
  right: 8px;
  left: 8px;
  width: auto;
  margin-top: -.8em;
  text-align: center;
  z-index: 1044;
}

.mfp-s-ready .mfp-preloader {
  display: none;
}

.mfp-s-error .mfp-content {
  display: none;
}

button.mfp-close,
button.mfp-arrow {
  display: block;
  padding: 0;
  border: 0;
  outline: none;
  background: transparent;
  box-shadow: none;
  cursor: pointer;
  overflow: visible;
  z-index: 1046;
  touch-action: manipulation;
  appearance: none;
}

button::focus-inner {
  padding: 0;
  border: 0;
}

.mfp-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 44px;
  height: 44px;
  padding: 0 0 18px 10px;
  color: color-functions.color(wildcat-white);
  font-family: Arial, Baskerville, monospace;
  font-size: 28px;
  font-style: normal;
  line-height: 44px;
  text-align: center;
  text-decoration: none;
  opacity: .65;
}

.mfp-close:hover,
.mfp-close:focus {
  opacity: 1;
}

.mfp-close:active {
  top: 1px;
}

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap;
}

.mfp-arrow {
  position: absolute;
  top: 50%;
  width: 90px;
  height: 110px;
  margin: 0;
  margin-top: -55px;
  padding: 0;
  opacity: .65;
}

.mfp-arrow:active {
  margin-top: -54px;
}

.mfp-arrow:hover,
.mfp-arrow:focus {
  opacity: 1;
}

.mfp-arrow::before,
.mfp-arrow::after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  margin-top: 35px;
  margin-left: 35px;
  border: medium inset transparent;
  content: '';
}

.mfp-arrow::after {
  top: 8px;
  border-top-width: 13px;
  border-bottom-width: 13px;
}

.mfp-arrow::before {
  border-top-width: 21px;
  border-bottom-width: 21px;
  opacity: .7;
}

.mfp-arrow-left {
  left: 0;
}

.mfp-arrow-left::after {
  margin-left: 31px;
  border-right: 17px solid color-functions.color(wildcat-white);
}

.mfp-arrow-left::before {
  margin-left: 25px;
  border-right: 27px solid color-functions.color(dark-gray);
}

.mfp-arrow-right {
  right: 0;
}

.mfp-arrow-right::after {
  margin-left: 39px;
  border-left: 17px solid color-functions.color(wildcat-white);
}

.mfp-arrow-right::before {
  border-left: 27px solid color-functions.color(dark-gray);
}

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px;
}

.mfp-iframe-holder .mfp-content {
  width: 100%;
  max-width: 900px;
  line-height: 0;
}

.mfp-iframe-holder .mfp-close {
  top: -3rem;
}

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  padding-top: 56.25%;
  overflow: hidden;
}

.mfp-iframe-scaler iframe {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: color-functions.color(wildcat-black);
}

// Main image in popup

img.mfp-img {
  display: block;
  width: auto;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 40px 0;
  line-height: 0;
  box-sizing: border-box;
}

// The shadow behind the image

.mfp-figure {
  line-height: 0;
}

.mfp-figure::after {
  display: block;
  position: absolute;
  top: 40px;
  right: 0;
  bottom: 40px;
  left: 0;
  width: auto;
  height: auto;
  background: color-functions.color(dark-gray);
  content: '';
  z-index: -1;
}

.mfp-figure small {
  display: block;
  font-size: 12px;
  line-height: 14px;
}

.mfp-figure figure {
  margin: 0;
}

.mfp-bottom-bar {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  margin-top: -36px;
  cursor: auto;
}

.mfp-title {
  padding-right: 36px;
  line-height: 18px;
  text-align: left;
  word-wrap: break-word;
}

.mfp-image-holder .mfp-content {
  max-width: 100%;
}

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer;
}

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  .mfp-img-mobile .mfp-image-holder {
    padding-right: 0;
    padding-left: 0;
  }

  .mfp-img-mobile img.mfp-img {
    padding: 0;
  }

  .mfp-img-mobile .mfp-figure::after {
    top: 0;
    bottom: 0;
  }

  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px;
  }

  $background-shade: rgba(0, 0, 0, .6);

  .mfp-img-mobile .mfp-bottom-bar {
    position: fixed;
    top: auto;
    bottom: 0;
    margin: 0;
    padding: 3px 5px;
    background: $background-shade;
    box-sizing: border-box;
  }

  .mfp-img-mobile .mfp-bottom-bar:empty {
    padding: 0;
  }

  .mfp-img-mobile .mfp-counter {
    top: 3px;
    right: 5px;
  }

  .mfp-img-mobile .mfp-close {
    position: fixed;
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    padding: 0;
    background: $background-shade;
    line-height: 35px;
    text-align: center;
  }
}

@media all and (max-width: 900px) {
  .mfp-arrow {
    transform: scale(.75);
  }

  .mfp-arrow-left {
    transform-origin: 0;
  }

  .mfp-arrow-right {
    transform-origin: 100%;
  }

  .mfp-container {
    padding-right: 6px;
    padding-left: 6px;
  }
}
