@charset "UTF-8";

// Default Variables

// Slick icon entity codes outputs the following
// "\2190" outputs ascii character "←"
// "\2192" outputs ascii character "→"
// "\2022" outputs ascii character "•"

$slick-font-path: "./fonts/" !default;
$slick-font-family: "slick" !default;
$slick-loader-path: "./" !default;
$slick-arrow-color: white !default;
$slick-dot-color: black !default;
$slick-dot-color-active: $slick-dot-color !default;
$slick-prev-character: "\2190" !default;
$slick-next-character: "\2192" !default;
$slick-dot-character: "\2022" !default;
$slick-dot-size: 6px !default;
$slick-opacity-default: 0.75 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 0.25 !default;

@function slick-image-url($url) {
    @if function-exists(image-url) {
        @return image-url($url);
    }
    @else {
        @return url($slick-loader-path + $url);
    }
}

@function slick-font-url($url) {
    @if function-exists(font-url) {
        @return font-url($url);
    }
    @else {
        @return url($slick-font-path + $url);
    }
}

/* Slider */

.slick-list {
    .slick-loading & {
        background: #fff slick-image-url("ajax-loader.gif") center center no-repeat;
    }
}

/* Icons */
@if $slick-font-family == "slick" {
    @font-face {
        font-family: "slick";
        src: slick-font-url("slick.eot");
        src: slick-font-url("slick.eot?#iefix") format("embedded-opentype"), slick-font-url("slick.woff") format("woff"), slick-font-url("slick.ttf") format("truetype"), slick-font-url("slick.svg#slick") format("svg");
        font-weight: normal;
        font-style: normal;
    }
}

/* Arrows */

.slick-prev,
.slick-next {
    position: absolute;
    display: block;
    cursor: pointer;
    top: 50%;
    width: rr-gridbase(4);
    height: rr-gridbase(4);
    transform: translate(0, -50%);
    padding: 0;
    border: none;
    outline: none;
    font-size: 0;
    &:hover, &:focus {
        outline: none;
        &:before {
            opacity: 1;
        }
    }
    &.slick-disabled:before {
        opacity: .5e;
    }
    &:before {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        font-family: 'iconfont';
        font-size: 1rem;
        line-height: 1;
        opacity: $slick-opacity-default;
    }

    @include rr-break-directive(m) {
        width: rr-gridbase(8);
        height: rr-gridbase(8);
        &:before {
            font-size: 1.625rem;
        }        
    }
}

button.slick-prev {
    left: -60px;
    [dir="rtl"] & {
        left: auto;
        right: -60px;
    }
    &:before {
        content: $icon-angle-left;
        [dir="rtl"] & {
            content: $icon-angle-right;
        }
    }
    z-index: 1000;
}

button.slick-next {
    right: -60px;
    [dir="rtl"] & {
        left: -60px;
        right: auto;
    }
    &:before {
        content: $icon-angle-right;
        [dir="rtl"] & {
            content: $icon-angle-left;
        }
    }
}



/* Dots */

.slick-dotted.slick-slider {
    margin-bottom: 30px;
}

.slick-dots {
    /*
    position: absolute;
    bottom: -25px;
    */
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;
    li {
        position: relative;
        display: inline-block;
        height: 20px;
        width: 20px;
        margin: 0 5px;
        padding: 0;
        cursor: pointer;
        button {
            border: 0;
            background: transparent;
            display: block;
            height: 20px;
            width: 20px;
            outline: none;
            line-height: 0px;
            font-size: 0px;
            color: transparent;
            padding: 5px;
            cursor: pointer;
            &:hover, &:focus {
                outline: none;
                &:before {
                    opacity: $slick-opacity-on-hover;
                }
            }
            &:before {
                position: absolute;
                top: 0;
                left: 0;
                content: $slick-dot-character;
                width: 20px;
                height: 20px;
                font-family: $slick-font-family;
                font-size: $slick-dot-size;
                line-height: 20px;
                text-align: center;
                opacity: $slick-opacity-not-active;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }
        }
        &.slick-active button:before {
            opacity: $slick-opacity-default;
        }
    }
}

.carousel {
    .slick-next {
        right: 0;
        left: auto;
    }
    .slick-prev {
        left: 0;
        right: auto;
    }
}

.carousel.carousel--single {
}

.carousel.carousel--center {
    @include rr-break-directive(l) {
        figure {
            margin: 0 auto;
        }
        figcaption {
            margin-top: 0;
            transition: .3s max-height ease-in-out;
            overflow: hidden;
            z-index: -1;
            max-height: 0;
        }
    
        .slick-slide {
            transition: 500ms all ease;
            img {
                transition: 300ms all ease;
                opacity: .46;
            }
        }
    
        .slick-current {
            transform: scale(1.105);
            padding-bottom: 3rem;
            z-index: 10;
            img {
                opacity: 1;
            }

            /* 
             * We'd rather the font sizes not scale
             * with the slide, but if we just reverse
             * the scale factor on the figcaption we
             * will end up with undesirable padding
             * around the caption. Instead, we use 
             * ems to adjust the typeface.
             */
               
            figcaption {
                h3, p {
                    font-size: .905em;
                }
                max-height: 500px;
            }
        }
    
        @at-root #{&}__list {
            opacity: 0;
            transition:opacity .3s ease-out;
            &.slick-initialized {
                opacity: 1;
            }
        }
    
        @at-root #{&}__advance {
            position: absolute;
            height: rem-calc(60);
            width: rem-calc(60);
            transform: translateY(-50%);
            top: 50%;
            color: white;
            z-index: 99;
    
            svg {
                width: rem-calc(40);
                height: auto;
            }
    
            span {
                font-size: 0;
            }
        }
    
        .slick-next,
        .slick-prev {
            background-color: transparent;
            &:before {
                color: color(wildcat-white);
            }
        }         
    
        @at-root #{&}__prev {
            left: rem-calc(75);
        }
        @at-root #{&}__next {
            right: rem-calc(75);
        }
    
        @at-root #{&}__wrapper {
            position: relative;
        }
    
    }
}