@use '../../tokens/color-schemes';
@use '../../tokens/layout';
@use '../../includes/root-rhythm';
@use '../../includes/color-functions';

//scheme-dark is dark background image with light text
//scheme-light is light background image with dark text
//the default assumes a dark photo background and uses scheme dark
//slab-light is an alternative for light photo backgrounds

.page-header.page-header--overlay-hero {
    padding: 0;  

    @include usescheme(color-schemes.$scheme-dark);



    &.slab--light {
      @include usescheme(color-schemes.$scheme-light);

      .page-header__content {

        p {
          @include root-rhythm.rr-font-compute(xl, tight);
          text-shadow: none;
      }

      .headline-group {

        .headline-group__head{
          color: color-functions.color(wildcat-black);
          text-shadow: none;
        }

        .headline-group__super{
          color: color-functions.color(wildcat-black);
          text-shadow: none;
        }

      } 

      .cta-group .link--fancy{
        text-shadow: none;
      }
      }
    } 
  
    .page-header__content {
    padding: root-rhythm.rr-gridbase(2) root-rhythm.rr-prop-for-breakpoint(s, offset);
      padding-bottom: root-rhythm.rr-gridbase(2);

        p {
            @include root-rhythm.rr-font-compute(xl, tight);
            text-shadow: 1px 1px 1px rgba(0,0,0,.3);
            display:none;
        }
    }

    .headline-group {

      .headline-group__head {
        color: color-functions.color(wildcat-white);
        text-shadow: 1px 1px 1px rgba(0,0,0,.3);
      }

      .headline-group__super{
        color: color-functions.color(wildcat-white);
        text-shadow: 1px 1px 1px rgba(0,0,0,.3);
      }
      
  }
   



    .cta-group .link--fancy{
      text-shadow: 1px 1px 1px rgba(0,0,0,.3);
    }
    
  
    .slab__wrapper {
      display: flex;
      position: absolute;
      top: 0;
      padding: 0;
      border-width: 0;
      height:100%;
    }
  
    .cta-group {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
  
      a {
        margin-bottom: root-rhythm.rr-gridbase(2);
  
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  
    @include root-rhythm.rr-break-directive(l) {
      .page-header--overlay__hero {
        margin-left: auto;
      }
  
      .slab__wrapper {
        bottom: 0;
        left: 50%;
        display:flex;
        align-items: center;
        width: 100%;
        max-width: layout.$global-width;
        transform: translateX(-50%);
        overflow: hidden;
      }
  
      .page-header__content {
        width: 66.66666667%;
        max-height: 100%;
        padding: root-rhythm.rr-gridbase(4) root-rhythm.rr-gridbase(6);

        p {
          display:block;
        }

      }

      .headline-group {
        margin-bottom: 1rem;
      }

      .headline-group__super {
          margin-bottom: 1rem;
      }
      
      .headline-group__head {
        // @include root-rhythm.rr-font-compute(5xl, tight);
      }
    
       &.slab--light {
        .page-header__content {

          p {
            @include root-rhythm.rr-font-compute(xl, tight);
            text-shadow: none;
        }

        .headline-group__head{
          text-shadow: none;
        }

        .headline-group .headline-group__super{
          color: color-functions.color(wildcat-black);
          text-shadow: none;
        }
        }
      }  
    }

    @include root-rhythm.rr-break-directive(m) {
      .cta-group {
        width: 50%;
      }
    }

    @include root-rhythm.rr-break-directive(l) {
      .page-header--overlay__hero {
        margin-left: auto;
      }
  
      .slab__wrapper {
        bottom: 0;
        left: 50%;
        align-items: center;
        width: 100%;
        max-width: layout.$global-width;
        transform: translateX(-50%);
        overflow: hidden;
      }
  
      .page-header__content {
        width: 66.66666667%;
        max-height: 100%;
        padding: root-rhythm.rr-gridbase(4) root-rhythm.rr-gridbase(6);

        .headline-group .headline-group__super{
          color: color-functions.color(wildcat-white);
        }

        p {
          display:none;
        }
      }

      .cta-group {
        width: auto;
      }

      .headline-group {
        margin-bottom: 1rem;
      }

      .headline-group__super {
          margin-bottom: 1rem;
      }
      
    
       &.slab--light {
        .page-header__content {

          p {
            @include root-rhythm.rr-font-compute(xl, tight);
            text-shadow: none;
        }

        .headline-group__head{
          text-shadow: none;
        }

        .headline-group .headline-group__super{
          color: color-functions.color(wildcat-black);
          text-shadow: none;
        }
        }
      }  
    }
  }

  .page-header.page-header--overlay-hero-right {
    .slab__wrapper { 
      justify-content: flex-end;
    }
  }