ul.stories-list {
	@extend .strip-list;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.news-collection {
	margin-bottom: rem-calc(120);
	@extend .container;
	overflow: hidden;

	.headline-group {
		&.section-title {
			margin-bottom: rem-calc(80);
			@include media-breakpoint-down(sm) {
				margin-bottom: rem-calc(40);
			}
		}
	}

	.stories-wrapper {
		@extend .container;
	}

	ul.stories-list {
		width: 100%;
		& > li {
			width: 24%;
			@include media-breakpoint-down(lg) {
				width: 49%;
			}
			@include media-breakpoint-down(sm) {
				width: 100%;
				.news-teaser {
					display: flex;
					flex-flow: column wrap;
					margin-bottom: rem-calc(20);
					padding-bottom: rem-calc(20);
					border-bottom: $border-hairline $color-shade-light solid;
					.story-thumbnail {
						order: 2;
					}
					.teaser-body {
						order: 1;
					}
				}
				&:last-child {
					.news-teaser {
						border-bottom: 0;
						padding-bottom: 0;
					}
				}
			}
		}
	}

	&.has-collection-summary {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		@include media-breakpoint-down(lg) {
			// display: block;
			justify-content: center;
		}
		.headline-group {
			width: 100%;
		}
		.collection-summary {
			width: 38%;
			display: flex;
			flex-flow: row wrap;
			align-content: center;
			@include media-breakpoint-down(lg) {
				width: 70%;
				margin-bottom: rem-calc(40);
				// margin: 0 auto rem-calc(40) auto;
			}
			@include media-breakpoint-down(sm) {
				// width: 100%;
				width: auto;
			}
			.collection-summary-headline {
				font-family: $font-secondary;
				margin-bottom: rem-calc(30);
			}
			p {
				font-size: rem-calc(20);
				margin-bottom: rem-calc(30);
			}
		}

		.stories-wrapper {
			width: 60%;
			@include media-breakpoint-down(lg) {
				width: 100%;
			}
			li {
				width: 32%;
				@include media-breakpoint-down(sm) {
					width: 100%;
				}
				.news-meta li {
					width: 100%;
				}
			}
		}
	}

	&.narrow {
		$narrow-spacing: rem-calc(30);
		margin-bottom: rem-calc(60);
		ul.stories-list {
			display: block;
			width: 100%;
			& > li {
				width: 100%;
				margin-top: $narrow-spacing;
				padding-top: $narrow-spacing;
				border-top: $color-shade-light $border-hairline solid;
				&:last-child {
					padding-bottom: $narrow-spacing;
					border-bottom: $color-shade-light $border-hairline solid;
				}
			}
		}
		.news-teaser {
			.story-thumbnail {
				vertical-align: top;
				display: inline-block;
				width: 25%;
				margin-bottom: 0;
			}
			.teaser-body {
				vertical-align: top;
				display: inline-block;
				padding-left: $narrow-spacing;
				width: calc(75% - 5px);
				p {
					margin-bottom: 0;
				}
			}
		}
	}


	&.feature-grid {
		$feature-grid-line: $color-shade-lighter $border-hairline solid;
		display: flex;
		flex-flow: row wrap;
		.feature-story {
			width: 40%;
			border: 0;
			padding: 0;
			@include media-breakpoint-down(lg) {
				width: 45%;
			}
			@include media-breakpoint-down(md) {
				width: 100%;
			}
			@include media-breakpoint-down(sm) {
				margin: auto;
			}
			.news-teaser {
				border: $feature-grid-line;
				margin-right: rem-calc(50);
				display: flex;
				flex-flow: column wrap;
				@include media-breakpoint-down(md) {
					margin-right: rem-calc(100);
					margin-left: rem-calc(100);
					margin-bottom: rem-calc(40);
				}
				@include media-breakpoint-down(sm) {
					margin-right: 0;
					margin-left: 0;
				}
				.story-thumbnail {
					margin-bottom: 0;
					@include media-breakpoint-down(sm) {
						order: 2;
					}
				}
				.teaser-body {
					padding: rem-calc(40);
					text-align: center;
					position: relative;
					@include media-breakpoint-down(xs) {
						padding: rem-calc(20);
					}
					@include media-breakpoint-down(sm) {
						order: 1;
					}
					.news-meta {
						position: absolute;
						top: rem-calc(-40);
						left: 0;
						right: 0;
						@include media-breakpoint-down(sm) {
							position: static;
						}
						ul {
							height: rem-calc(40);
							justify-content: center;
							align-items: stretch;
							@include media-breakpoint-down(sm) {
								height: auto;
							}
							li {
								background: #fff;
								padding-top: rem-calc(10);
								padding-bottom: rem-calc(10);
								@include media-breakpoint-down(sm) {
									background: transparent;
									// padding: 0 0 0 0;
									padding-top: 0;
									padding-bottom: 0;
								}
								&:first-child {
									padding-left: rem-calc(10);
									@include media-breakpoint-down(sm) {
										// padding: 0;
									}
								}
								&:last-child {
									padding-right: rem-calc(16);
									@include media-breakpoint-down(sm) {
										padding: 0;
									}
								}
								&.media-type-icon {
									@include media-breakpoint-down(sm) {
										float: none;
									}
									.media-icon {
										margin-top: -3px;
										@include media-breakpoint-down(sm) {
											margin: 0 auto;
										}
									}
								}
							}
						}
						.media-icon {
							// @extend .invert;
						}
					}
					.story-title {
						font-size: rem-calc(40);
						@include media-breakpoint-down(sm) {
							font-size: rem-calc(30);
						}
					}
				}
			}
		}
		.feature-wrapper {
			width: 60%;
			@include media-breakpoint-down(lg) {
				width: 55%;
			}
			@include media-breakpoint-down(md) {
				width: 100%;
			}
		}

		.secondary-headline {
			margin-bottom: rem-calc(30);
			@include media-breakpoint-down(md) {
				text-align: center;
			}
			.head {
				text-transform: uppercase
			}
		}

		ul.stories-list {
			border-bottom: $feature-grid-line;
			align-items: stretch;
			@include media-breakpoint-down(sm) {
				border-bottom: 0;
			}
			& > li {
				width: 48%;
				border-bottom: $feature-grid-line;
				padding-bottom: rem-calc(30);
				margin-bottom: rem-calc(30);
				&:last-child,
				&:nth-last-child(2) {
					border-bottom: 0;
					padding-bottom: 0;
				}
				@include media-breakpoint-down(sm) {
					width: 100%;
					border-bottom: 0;
					padding-bottom: 0;
					&:last-child {
						margin-bottom: 0;
					}
				}
			}
		}

		.buttons {
			justify-content: flex-start;
			@include media-breakpoint-down(md) {
				justify-content: center;
			}
		}
	}


	&.feature-list {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;

		.headline-group {
			text-align: center;
			width: 100%;
		}

		.feature-story {
			max-width: 80%;
			width: 100%; // weird nonsense for ie11
			margin-bottom: rem-calc(40);
			@include media-breakpoint-down(md) {
				max-width: $max-width;
			}
			.news-teaser {
				display: flex;
				@include media-breakpoint-down(sm) {
					flex-flow: row wrap;
				}
				.story-thumbnail,
				.teaser-body {
					-ms-flex: 0 1 auto; 
				}
				.story-thumbnail {
					order: 2;
					// width: 35%;
					// max-width: 35%;
					flex: 0 1 35%;
					@include media-breakpoint-down(sm) {
						// width: 100%;
						// max-width: none;
						flex: 0 1 100%;
					}
				}
				.teaser-body {
					order: 1;
					// width: 65%;
					// max-width: 65%;
					flex: 0 1 65%;
					margin-right: rem-calc(40);
					@include media-breakpoint-down(sm) {
						// width: 100%;
						// max-width: none;
						flex: 0 1 100%;
						margin-right: 0;
					}
					.story-title {
						font-size: rem-calc(30);
					}
				}
			}
		}

		.headline-group.secondary-headline {
			text-transform: uppercase;
			margin-bottom: rem-calc(30);
		}

		ul.stories-list {
			display: block;
			max-width: 70%;
			margin: 0 auto;
			@include media-breakpoint-down(md) {
				max-width: $max-width;
			}
			& > li {
				width: 100%;
				border-bottom: $border-hairline $color-shade-lighter solid;
				padding: 0 rem-calc(120) rem-calc(20);
				margin-bottom: rem-calc(20);
				@include media-breakpoint-down(lg) {
					padding-right: rem-calc(40);
					padding-left: rem-calc(40);
				}
				@include media-breakpoint-down(sm) {
					border-bottom: 0;
					padding: 0;
				}
				.news-teaser {
					display: flex;
					.large-media-icon {
						margin-right: rem-calc(20);
						@include media-breakpoint-down(sm) {
							display: none;
						}
						.media-icon {
							// width: rem-calc(50);
							// height: rem-calc(50);
							.icon-wrapper {
								svg {
									// max-width: 100%;
									// max-height: 100%;
								}
							}
						}
					}
				}
			}
		}
	}


}