.news-story {
	display: flex;
	flex-flow: column wrap;
	align-items: center;

	.news-story-header,
	.news-story-body,
	.news-story-footer {
		max-width: rem-calc(700);
	}

	.news-story-video {
		width: 100%;
	}

	.news-story-header {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		.news-meta {
			margin-top: rem-calc(20);
			margin-bottom: rem-calc(20);
			ul {
				@include media-breakpoint-down(sm) {
					text-align: center;
				}
				li {
					@include media-breakpoint-down(xs) {
						padding: 0;
					}
					&.media-type-icon {
						@include media-breakpoint-down(sm) {
							float: none;
							margin: 0 auto rem-calc(8);
						}
						.media-icon {
							@include media-breakpoint-down(xs) {
								margin: 0 auto;
							}
						}
					}
				}
			}
		}
		.headline-group {
			width: 100%;
			@extend .rainbow3;
			@include media-breakpoint-down(sm) {
				line-height: rem-calc(40);
			}
			@include media-breakpoint-down(xs) {
				line-height: rem-calc(34);
			}
			.head {
				text-transform: none;
				font-family: $font-secondary;
				font-size: rem-calc(50);
				font-weight: $weight-bold;
				@include media-breakpoint-down(sm) {
					font-size: rem-calc(38);
				}
				@include media-breakpoint-down(xs) {
					font-size: rem-calc(32);
				}
			}
		}
	}

	.news-story-video {
		margin-bottom: rem-calc(50);
	}

	.news-story-body {
		margin-bottom: rem-calc(120);
		position: relative;
		&:after {
			display: block;
			content: '';
			height: 3px;
			width: 60%;
			background: $rainbow3;
			margin-top: rem-calc(30);
			margin-right: auto;
			margin-left: auto;
			@include media-breakpoint-up(md) {
				width: 350px;
				position: absolute;
				left: 0;
				right: 0;
				margin-top: rem-calc(20);
			}
		}

		& > {
			h1, h2, h3, h4, h5, h6 {
				font-family: $font-secondary;
			}
			p {
				margin-bottom: rem-calc(40);
			}
		}

		.fit-media {
			margin-bottom: rem-calc(40);
		}

		.aside {
			float: right;
			max-width: 40%;
			margin-right: -15%;
			@include media-breakpoint-down(lg) {
				margin-right: 0;
			}
			@include media-breakpoint-down(sm) {
				float: none;
				max-width: none;
			}
		}
	}


	.news-story-footer {

		& > div {
			border-bottom: $border-hairline $color-shade-light solid;
			margin-bottom: rem-calc(40);
			padding-bottom: rem-calc(40);
			&:last-child {
				border-bottom: 0;
				padding-bottom: 0;
			}
		}

		.share-story {
			a {
				font-size: rem-calc(20);
			}
		}

		.news-collection {
			.headline-group {
				margin-bottom: rem-calc(20);
			}
			ul.stories-list {
				& > li {
					width: 31%;
					@include media-breakpoint-down(sm) {
						width: 100%;
					}
					.news-teaser {
						.story-title {
							font-size: rem-calc(24);
						}
					}
				}
			}
		}
	}
}