{% embed 'molecules-slab' with { slab_variant: 'universal-header' } %}
    {% block slab_content %}
        <div class="universal-header__layout">
            {% if not hide_breadcrumb %}
            {% include 'molecules-universal-breadcrumb' %}
            {% endif %}
            {% include 'molecules-universal-nav' with { extra_links: ['#UKY4Y','Resources'] } %}
        </div>
    {% endblock %}
{% endembed %}