{% set logo = (is_main) ? 'atoms-uky-logo-main' : 'molecules-lockup' %}
{% include 'components-universal-header' %}

<header id="MainHeader" class="global-header">
{% embed 'molecules-slab' with { slab_variant: 'masthead'} %}
    {% block slab_content %}
        <div class="global-header__banner">
            {% include logo %}
            {% include 'molecules-utility-nav' %}
            {% include 'molecules-menu-button' %}
        </div>
    {% endblock %}
{% endembed %}
{% embed 'molecules-slab' with { slab_variant: 'global-nav-bar' } %}
    {% block slab_content %}
        {% include 'molecules-global-nav' %}
    {% endblock %}
{% endembed %}
{% embed 'molecules-slab' with { slab_variant: 'mobile-nav', props: ['hidden'], attrs: { id : 'MobileNav' } } %}
    {% block slab_content %}
        {% include 'components-mobile-tab-nav' %}
    {% endblock %}
{% endembed %}
</head>