{% set is_main = ((not clamp_variant) or clamp_variant == 'clamp--wildcat') %}
{% set logo = (is_main) ? 'atoms-uky-logo-main' : 'molecules-lockup' %}
{% include 'components-universal-header' with { universal_header_variant : clamp_variant, hide_breadcrumb: is_main } %}
<header id="MainHeader" class="global-header {{ clamp_variant }}">
{% embed 'molecules-slab' with { slab_variant: 'masthead'} %}
    {% block slab_content %}
        <div class="global-header__banner">
            {% include logo %}
            {% include 'molecules-utility-nav' %}
            {% include 'molecules-menu-button' %}
        </div>
    {% endblock %}
{% endembed %}
{% embed 'molecules-slab' with { slab_variant: 'global-nav-bar' } %}
    {% block slab_content %}
        {% include 'molecules-global-nav' %}
    {% endblock %}
{% endembed %}
{% embed 'molecules-slab' with { slab_variant: 'mobile-nav', props: ['hidden'], attrs: { id : 'MobileNav' } } %}
    {% block slab_content %}
        {% include 'components-mobile-tab-nav' %}
    {% endblock %}
{% endembed %}
</head>