<div class="captioned-media">
	{% if show_headline %}
		{% include 'molecules-headline-group' %}
	{% endif %}
	{% embed 'atoms-figure' %}
		{% block figure_media %}
			{% include media_placeholder|default('atoms-image') %}
		{% endblock %}
		{% block figure_caption %}
			{% include 'atoms-paragraph' %}
			{% if show_cite %}{% include 'atoms-cite' %}{% endif %}
		{% endblock %}
	{% endembed %}
</div>
