.carousel {
    .slick-next {
        right: 0;
        left: auto;
    }
    .slick-prev {
        left: 0;
        right: auto;
    }
}

.carousel.carousel--single {
}

.carousel.carousel--center {
    @include rr-break-directive(l) {
        figure {
            background-color: color(wildcat-blue);
            margin: 0 auto;
        }
        figcaption {
            margin-top: 0;
            background-color: color(wildcat-white);
            transition: .3s max-height ease-in-out;
            overflow: hidden;
            z-index: -1;
            max-height: 0;
        }
    
        .slick-slide {
            transform: scale(.9);
            transition: 500ms all ease;
            img {
                transition: 300ms all ease;
                opacity: .46;
            }
        }
    
        .slick-current {
            transform: scale(1.105);
            padding-bottom: 3rem;
            img {
                opacity: 1;
            }
            figcaption {
                max-height: 500px;
                font-size: .905em;
            }
        }
    
        @at-root #{&}__list {
            opacity: 0;
            transition:opacity .3s ease-out;
            &.slick-initialized {
                opacity: 1;
            }
        }
    
        @at-root #{&}__advance {
            position: absolute;
            height: rem-calc(60);
            width: rem-calc(60);
            transform: translateY(-50%);
            top: 50%;
            color: white;
            z-index: 99;
    
            svg {
                width: rem-calc(40);
                height: auto;
            }
    
            span {
                font-size: 0;
            }
        }
    
        .slick-next,
        .slick-prev {
            background-color: transparent;
            &:before {
                color: color(wildcat-white);
            }
        }         
    
        @at-root #{&}__prev {
            left: rem-calc(75);
        }
        @at-root #{&}__next {
            right: rem-calc(75);
        }
    
        @at-root #{&}__wrapper {
            position: relative;
        }
    
    }
}