.image-gallery {
    // -1 gridblock in all directions to make up for gutter
    // around each of the image grid items
    margin: rr-gridbase(-1);
}

.image-gallery__block {
    @include usescheme($text-colors-dark);
    figure {
        display: block;
        position: relative;
        overflow: hidden;

        img {
            display: block;
        }

        figcaption {
            display: none;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            margin: 0;
            background-color: #000000cc;
            transform: translateY(100%);
            transition: .3s transform ease-in-out;
            padding: rr-gridbase(2);

            p:first-child {
                margin-top: 0;
            }

            p:last-child {
                margin-bottom: 0;
            }
        }

        &:hover,
        &:focus {
            figcaption {
                transform: none;
            }
        }
    }
}

.image-gallery__block__title {
    @include rr-font-compute(l,tight);
    font-weight: 500;
}

.image-gallery__block-sizer,
.image-gallery__block {
    width: 33.3333%;
    padding: rr-gridbase();
}
.image-gallery__block--width2 {
    width: 66.6666%;
}

// magnific popup 

.mfp-image-holder {
    .mfp-bottom-bar {
        position: relative;
        margin-top: 0;
        top: auto;
    }

    .mfp-figure::after {
        display: none;
    }

    figure img {
        padding: 40 0;
        max-height: 90vh;
        max-width: 90vh;
    }

    @include rr-break-directive(m) {
        .mfp-landscape figure {
            figcaption {
                margin: -20px 2rem 2rem;
            }
        }

        .mfp-portrait figure {
            display: flex;
            img {
                margin-right: 2rem;
            }
            figcaption {
                margin-right: 2rem;
            }
            .mfp-bottom-bar {
                margin-top: 56px;
            }
        }
    }
}