.menu-button {
  margin-right: rr-gridbase(2);
  padding: 0;
  border-width: 0;
  width:auto;
}

.menu-button:focus{
  border-color: #ffffff;
  outline: 2px solid #ffffff;
  background-color: #0033a0;
  color: #DCDDDE;
}

.menu-button:active {
  background: #0033a0;
  color: #DCDDDE;
}