// Initial styles for .nice-video assume no javascript

.nice-video {
	position: relative;
	background-color: color(wildcat-blue);

	img {
		opacity: .57;
	}
}

.nice-video--control {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
	text-decoration: none;
	background-color: white;
	width: 3rem;
	height: 3rem;
	border-radius: 100%;
	color: color(wildcat-blue);

	display: flex;
	align-items: center;
	justify-content: center;

	transition: .2s color ease-in-out, .2s background-color ease-in-out;

	&:hover {
		background-color: color(light-blue);
		color: color(wildcat-white);
	}

	.icon-label {
		line-height: 1;
		font-size: 1.8rem;
		vertical-align: middle;
		text-align: center;
	}

	/* Special tuning for this icon position */
	.ic.ic--play-triangle {
		height: 1em;
		width: .78em;
		position: relative;
		top: .14em;
		left: .17em;
	}

	.label {
		position: absolute;
		left: -99999em;
	}
}

