// Initial styles for .nice-video assume no javascript

.nice-video {
  position: relative;
  background-color: color(wildcat-blue);

  img {
    opacity: .57;
  }
}

.nice-video--control {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  text-decoration: none;
  color: color(wildcat-blue);
  transition: .2s color ease-in-out, .2s background-color ease-in-out;

  /* Special tuning for this icon position */
  .ic--play-triangle {
    display: block;
    line-height: 1;
    font-size: 3rem;    
    width: 3.1rem;
    height: 3.1rem;
    border-radius: 100%;
    border: 1px transparent solid;
    padding-right: 0;  
    background-color: white;      
  }

  .label {
    position: absolute;
    left: -99999em;
  }

  &:hover {
    .ic--play-triangle {
      background-color: color(light-blue);
      color: color(wildcat-white);  
    }
  }
  
}

