.js-tablist {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.js-tablist__item {
  flex: 1 1 100%;
  margin-bottom: 0;

  a {
    @include rr-font-compute(s, tight);
    display: block;
    margin: 0 auto;
    padding: rr-gridbase(2) 0;
    background-color: color(blue-gray);
    color: color(dark-blue);

    text-align: center;
    text-transform: uppercase;

    &:hover,
    &:active {
      color: color(dark-blue);
    }

    &[aria-selected='true'] {
      background-color: color(wildcat-blue);
      color: color(wildcat-white);
      font-weight: 600;

      &:hover,
      &:active {
        color: color(light-blue-tint);
      }
    }
  }

  // "In this section" has a different backgrond color of course
  &:nth-child(2n) {
    [aria-selected='true'] {
      background-color: color(dark-blue);
    }
  }

}

.js-tabcontent {
  padding: rr-gridbase(2);
  background-color: color(wildcat-blue);
  @include usescheme($text-colors-dark);

  &[aria-hidden='true'] {
    display: none;
  }

  &:nth-child(2n + 1) {
    background-color: color(dark-blue);
  }

  @include rr-break-directive(m) {
    padding: rr-gridbase(3);
  }

  @include rr-break-directive(l) {
    padding: rr-gridbase(4);
  }

  .section-nav {
    margin: 0;
    padding: 0;
    border-width: 0;
    background-color: transparent;
  }

  .universal-header {
    display: block;
  }
}
