.js-tablist {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.js-tablist__item {
  flex: 1 1 100%;

  a {
    @include rr-font-compute(l, tight);
    display: block;
    padding: rr-gridbase(2);
    background-color: color(dark-blue);
    color: color(wildcat-white);

    &:hover,
    &:active {
      color: color(light-blue-tint);
    }

    &:focus {
      outline: 0;
      text-decoration: underline;
    }

    &[aria-selected='true'] {
      background-color: color(blue-gray);
      color: color(wildcat-black);

      &:hover,
      &:active {
        color: color(wildcat-blue);
      }
    }
  }
}

.js-tabcontent {
  padding: rr-gridbase(2);
  background-color: color(blue-gray);

  &[aria-hidden='true'] {
    display: none;
  }

  @include rr-break-directive(m) {
    padding: rr-gridbase(3);
  }

  @include rr-break-directive(l) {
    padding: rr-gridbase(4);
  }
}
