.section-nav {

  + label {
    font-size: 1.1667rem;
    line-height: 1.5rem;
    display: block;
    margin-bottom: 1rem;
    font-weight: 500;
    text-transform: uppercase;
  }
  
  ol li,
  ul li {
        a:active {
          font-weight: bold;
        }
    }
}
