
$head-border-color: #02246E;

$table-shade-color: lighten($color-shade-lighter, 15%);

table {
	font-size: rem-calc(18);
	tr {
		td,
		th {
			border: $border-hairline $color-shade-lighter solid;
			padding: rem-calc(10) rem-calc(20);
			text-align: left;
		}
	}
	thead {
		background: $color-primary;
		color: #fff;
		// border-top: $head-border-color $border-hairline solid;
		th {
			border-top-color: $head-border-color;
			&:not(last-child) {
				border-right-color: $head-border-color;
			}
		}
	}
	tbody {
		tr {
			&.shade-row {
				background: $table-shade-color;
			}
			td {
				&.shade-cell {
					background: $table-shade-color;
				}
			}
		}
	}
	caption {
		font-size: rem-calc(20);
		font-family: $font-secondary;
		font-style: italic;
		color: $color-shade-dark;
		text-align: center;
		padding: rem-calc(20) 0;
	}
}

table.auto-stripe {
	tbody {
		tr {
			&:nth-child(even) {
				background: $table-shade-color;
			}
		}
	}
}