{% include 'atoms-paragraph' with { paragraph_variant : 'intro'} %}

<div class="intro">
  {% include 'atoms-paragraph' %}
  {% include 'atoms-paragraph' %}
  {% include 'atoms-paragraph' %}
  {% include 'atoms-paragraph' %}
</div>