{% set heading_level = 2 %}
<div class="formatted-text {{ formatted_text_style }}">
{% for i in 0..formatted_text_paragraphs|default(0) %}
	{% set heading_chance = random(10) %}
	{% if heading_chance >= heading_frequency|default(20) %}
		{% include 'atoms-heading' with { level: heading_level } %}
		{% set heading_switch = random(10) %}
		{% if heading_switch >= 1 %}
			{% set heading_level = (heading_level < 6) ? heading_level + 1 : 2 %}
		{% endif %}
	{% endif %}
	<p>{{ random.editorial(formatted_text_sentences) }}</p>
{% endfor %}
</div>
