
<span class="icon-label">
	{% if icon is not null %}
	<span class="ic ic--{{ icon }}" aria-hidden="true"></span>
	{% endif %}
	<span class="label">{{ label|default("Default Icon Label") }}</span>
</span>
