@use '../../includes/color-functions';

.checker-endmark {

  &::after {
    width: 100%;
    font-family: "iconfont";
    content: "î¨ˆ";
    display: block;
    color: color-functions.color(wildcat-blue);
    font-style: normal;
    font-weight: normal;
    line-height: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 2.5rem;
    padding:2rem;
    text-align: center;
  }

}

