

@each $name, $size in $fonts {
    $fontsize: map-get($size,size);
    @each $linename, $lineheight in $lineheights {
        $height: map-get($lineheight,grid-units);
        .text-#{$name}-#{$linename} {
            @include rr-font-line-height($fontsize, $height);
            background-color: rgba(200,255,200,.3);
        }
    }
}