.nc-placeholder {
    box-shadow: goldenrod 0 0 0 6px inset;
    text-align: center;
    font-weight: bold;
    font-family: sans-serif;
    padding-top: rr-gridbase() * 4;
    padding-bottom: rr-gridbase() * 4;
    p {
        @include rr-font-compute(l,wide);
    }
}