@use 'root-rhythm';
@use 'color-functions';

.nc-placeholder {
  padding-top:root-rhythm.rr-gridbase(4);
  padding-bottom:root-rhythm.rr-gridbase(4);
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
  box-shadow: color-functions.color(wildcat-blue) 0 0 0 6px inset;

  p {
    @include root-rhythm.rr-font-compute(l, wide);
  }
}
