{% set searchid = "search-keywords"|uniqid %}
<form class="search" method="post">
  <label for="{{ searchid }}">{{search_label | default('Search our Site')}}</label>
  <div class="control-group">
    <input type="text" id="{{ searchid }}" />
    <button class="icon-only">
      {% include 'atoms-icon-label' with { icon: 'magnify', label: 'search' } %}
    </button>
  </div>
</form>