<div class="teaser {{ teaser_style }}">
	{% if teaser_has_image is sameas(true) %}
		<div class="teaser__image">
			{% include 'atoms-image' with {width: image_width|default(800), height: image_height|default(600)} %}
		</div>
	{% endif %}

	<div class="teaser__body">
		{% if teaser_has_headline is sameas(true) %}
		<div class="teaser__headline">
			{% include 'molecules-headline-group' with { superhead : true, subhead : true, linked: teaser_headline_linked } %}
		</div>
		{% endif %}
		{% if teaser_has_editorial is sameas(true) %}
		<div class="teaser__editorial">
			{% include 'atoms-formatted-text' with { formatted_text_sentences : 2 } %}
		</div>
		{% endif %}
		{% if not teaser_headline_linked %}
		<div class="teaser__links">
			{% include 'molecules-button-group' with { button_group_number : teaser_number_links|default(2) } %}
		</div>
		{% endif %}
	</div>
</div>
