<div class="teaser-full-row {{ teaser_full_row_style }}">
	<div class="row row--full-width">
		{% include 'organisms-teaser' with {
				teaser_has_image: true,
				teaser_has_editorial: true,
				teaser_has_headline: true,
				teaser_headline_linked: false
			}
		%}
	</div>
</div>
