.news-teaser {

	.news-meta {
		margin-bottom: rem-calc(10);
	}

	.story-title {
		font-family: $font-secondary;
	}

	.story-thumbnail {
		position: relative;
		margin-bottom: rem-calc(20);
		a {
			display: block;
		}
		.media-icon {
			position: absolute;
			bottom: 0;
			left: 0;
		}
	}
}