<div class="teaser__text {{ teaser_text_variant }}">
    {% include 'molecules-headline-group' %}
    {% include 'atoms-paragraph' %}
    {% include 'atoms-link' with { link_variant: 'button' } %}
</div>