@use 'root-rhythm';
@use 'color-functions';


.editorial table,
.content-table {
  border-collapse: collapse;

  thead,
  tfoot {
    background-color: color-functions.color(wildcat-blue);
    color: color-functions.color(wildcat-white);
  }

  tbody {
    border: 1px color-functions.color(wildcat-white) solid;
    border-width: 8px 0;

    tr:nth-child(odd) {
      th {
        background-color: color-functions.color(blue-gray);
      }

      td {
        background-color: color-functions.color(subtle-gray);
      }
    }

    tr:nth-child(even) {
      th {
        background-color: color-functions.color(blue-gray);
      }

      td {
        background-color: color-functions.color(barely-gray);
      }
    }

    th,
    td {
      border: 4px color-functions.color(wildcat-white) solid;

      &:first-child {
        border-left-width: 0;
      }

      &:last-child {
        border-right-width: 0;
      }
    }
  }

  th,
  td {
    padding: root-rhythm.rr-gridbase(2);
    text-align: left;

    &.align-right {
      text-align: right;
    }
  }

  th {
    @include root-rhythm.rr-font-compute(xl, tight);
    font-weight: 500;
  }

  td {
    @include root-rhythm.rr-font-compute(l, tight);
  }

  caption {
    @include root-rhythm.rr-font-compute(r, medium);
    padding: root-rhythm.rr-gridbase(2);
    font-style: italic;
  }
}

.table-wrapper {
  &.table-wrapper--overflow {
    max-width: 100%;
    overflow: auto;
  }

  &.table-wrapper--columnize {
    table {
      width: 100%;
    }

    thead {
      display: none;
    }

    tbody tr {
      border-bottom: 4px color-functions.color(wildcat-white) solid;
    }

    th,
    td {
      display: block;
      border-width: 0;

      &.align-right {
        text-align: initial;
      }
    }

    .responsive-label {
      display: inline;
      font-weight: 500;

      &::after {
        content: ': ';
      }
    }

    @supports (display: grid) {
      tr {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-gap: 4px;

        th {
          grid-column: 1 / -1;
        }
      }
    }

    @include root-rhythm.rr-break-directive(l) {
      thead {
        display: table-header-group;
      }

      tr {
        display: table-row;
      }

      th,
      td {
        display: table-cell;
        padding-top: root-rhythm.rr-gridbase(1);
        padding-bottom: root-rhythm.rr-gridbase(1);
        border-width: 4px;

        &.align-right {
          text-align: right;
        }
      }

      tbody tr {
        border-bottom-width: 0;
      }

      .responsive-label {
        display: none;
      }
    }
  }
}
