<footer class="main-footer">
	{% embed 'molecules-three-columns' %}
		{% block three_columns_left %}
			{% include 'atoms-logo-vertical-white' %}
		{% endblock %}
		{% block three_columns_center %}
			<h2>Location</h2>
			{% include 'molecules-address' %}
		{% endblock %}
		{% block three_columns_right %}
			{% include 'molecules-social-media' %}
			<p>{% include 'atoms-copyright' %}</p>
		{% endblock %}
	{% endembed %}

	<div class="main-footer__ribbon">
		{% embed 'molecules-one-column' %}
			{% block one_column_col %}
				{% include 'molecules-sitenav-footer' %}
			{% endblock %}
		{% endembed %}
	</div>
</footer>
