.cta {
    @include block-header-font;
    @include block-spacing;

    &.cta--dark {
        @include usescheme($text-colors-dark);
        background-color: color(wildcat-blue);
    }

    &.cta--light {
        background-color: color(subtle-gray);
        border-color: color(subtle-gray);
    }
}

