@use 'color-functions';
@use 'root-rhythm';
@use 'design-variables';
@use 'typography';
@use 'color-schemes';
@use 'colors';

.cta {
  @include block-header-font;
  @include block-spacing;
  height: 100%;

  .editorial {
    margin-bottom: root-rhythm.rr-gridbase(3);
  }

  &.cta--dark {
    @include usescheme(color-schemes.$scheme-dark);
    background-color: color-functions.color(wildcat-blue);
  }

  &.cta--ghost {
    @include usescheme(color-schemes.$scheme-light);
    background-color: color-functions.color(wildcat-white);
    border-width: 2px;
  }

  &.cta--light {
    border-color: color-functions.color(blue-gray);
    background-color: color-functions.color(blue-gray);
  }

  &.large-cta {
    align-items: center;
    .headline-group {
      margin: auto;
      color: color-functions.color(wildcat-blue);
      .headline-group__head {
        @include root-rhythm.rr-font-compute(6xl, squeeze);
        display: inline-block;
        font-weight: 500;
        font-family: typography.$font-surveyor;
      }

      .headline-group__super,
      .headline-group__sub {
        @include root-rhythm.rr-font-compute(xl, tight);
        font-weight: 600;
        text-transform: uppercase;
      }

      .headline-group__sub {
        padding-top: root-rhythm.rr-gridbase();
      }
    }
  }

  $skins: transparent;
  @each $name, $color in colors.$colors {
    &.cta--#{""+$name} {
      background-color: $color;
      border: none;
      @if (color-functions.contrast($color, color-functions.color(wildcat-black)) < 4.5) {
        @include design-variables.usescheme(color-schemes.$scheme-dark);
      }

      .heading--display span {
        background-color: $color;
      }
    }
    $skins: append($skins, cta--#{$name});
  }


  @at-root .grid__column > #{&} {
    display: flex;
    flex-direction: column;

    :last-child {
      margin-top: auto;
    }
  }

}
