@use '../../includes/root-rhythm';
@use '../../includes/color-functions';

.contact-table {
  width: 100%;
  border-collapse: collapse;

  th {
    @include root-rhythm.rr-font-compute(l, tight);
    display: block;
    padding: root-rhythm.rr-gridbase(1) 0 0;
    font-weight: 400;
    text-align: left;
  }

  td {
    @include root-rhythm.rr-font-compute(l, tight);
    display: block;
    padding: 0 0 root-rhythm.rr-gridbase(1);
    border-bottom: 1px color-functions.color(wildcat-black) dashed;
    font-weight: 500;
  }

  tr:last-child {
    th,
    td {
      border-width: 0;
    }
  }

  @include root-rhythm.rr-break-directive(l) {
    th,
    td {
      display: table-cell;
      padding: root-rhythm.rr-gridbase(1) 0;
      border-bottom: 1px color-functions.color(wildcat-black) dashed;
    }

    td {
      padding-left: .3em;
    }
  }
}
