.contact-info {
    &__heading {
        margin-bottom: rr-gridbase(2);
        p {
            @include rr-font-compute(r,medium);
        }
    }
    
    &__content {
        position: relative;
        @include rr-break-directive('m') {
            margin-top: rr-gridbase(4.5);
        }
    }

    &__identity {
        @include rr-break-directive('m') {
            border-top: 1px transparent solid;
            position: relative;
            top: -1px;
            margin-top: rr-gridbase(4.5);
            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                height: 4px;
                width: 50px;
                background-color: color(wildcat-blue);
            }            
        }        
    }

    &__photo {
        width: 66vw;
        height: auto;
        margin: 0 auto #{rr-grid-remainder(3px, 2)};

        @include rr-break-directive('m') {
            width: 6.25rem;
            float: right;
            position: relative;
            margin-left: rr-gridbase(2);
            margin-bottom: rr-gridbase(2);
            margin-right: calc(#{rr-gridbase(-3)} + 6px);
        }
        @include rr-break-directive('l') {
            margin-left: rr-gridbase(2);
            margin-bottom: rr-gridbase(2);
            margin-right: calc(#{rr-gridbase(-6)} + 8px);
        }
    }

    &__name {
        @include rr-font-compute(l,medium);
        display: block;
        font-weight: 500;

        @include rr-break-directive('m') {
            margin-top: rr-gridbase(4.5);
        }
    }

    &__title {
        @include rr-font-compute(r, medium);
        display: block;
    }

    dd {
        @include rr-font-compute(l, medium);
        padding-left: rr-gridbase(3);
        .link--fancy {
            @include rr-font-compute(l, medium);
            margin-left: rr-gridbase(-3);
        }
    }

    $base: #{&};

    &#{$base}--sheet {
        background-color: color(wildcat-white);
        border-width: 0;
        padding: 0;
        margin-bottom: rr-gridbase(4);

        #{$base}__content {
            display: flex;
            align-items: center;
            margin: 0;
        }

        #{$base}__photo {
            align-self: flex-start;
            margin: 0;
            width: auto;
            float: none;
            flex: 0 1 37%;
            margin-right: rr-gridbase(2);
        }

        .invisible-labels {
            flex: 1 1 63%;
        }
    }
}
