@use 'color-schemes';
@use 'typography';
@use 'root-rhythm';
@use 'color-functions';

.pulltext {
  @include block-spacing($border-color: transparent);

  &__content {
    p {
      @include root-rhythm.rr-font-compute(4xl, medium, typography.$fonts, typography.$lineheights);
      margin-top: 0;
      font-family: typography.$font-surveyor;
      font-style: italic;
      font-weight: 300;
    }
  }

  $root: &;

  &--dark {
    @include usescheme(color-schemes.$scheme-dark);
    padding: root-rhythm.rr-gridbase(4);
    border-color: color-functions.color(wildcat-blue);
    background-color: color-functions.color(wildcat-blue);
  }

  &--brief {
    #{$root}__content p {
      @include root-rhythm.rr-font-compute(2xl, medium, typography.$fonts, typography.$lineheights);
    }
  }
}
