<footer class="main-footer">

	<div class="footer-main">
		{% include 'atoms-logo-university' %}

		<div class="footer-content">
			<h4 class="office"><a href="/">Office of the Vice President for Research</a></h4>

			<div class="address">
				<ul>
					<li>311 Main Building</li>
					<li>University of Kentucky</li>
					<li>Lexington, Kentucky 40506</li>
				</ul>
				<ul>
					<li>Phone: 859-257-8294</li>
					<li><a href="#">rescomm@uky.edu</a></li>
					<li>
						<div class="social">
							<ul>
								<li><a href="#">{% include 'atoms-icon' with { icon: 'facebook-square' }%}</a></li>
								<li><a href="#">{% include 'atoms-icon' with { icon: 'twitter-square' }%}</a></li>
								<li><a href="#">{% include 'atoms-icon' with { icon: 'instagram' }%}</a></li>
							</ul>
						</div>
					</li>
				</ul>
			</div>

			{# <div class="social">
				<ul>
					<li><a href="#">{% include 'atoms-icon' with { icon: 'facebook-square' }%}</a></li>
					<li><a href="#">{% include 'atoms-icon' with { icon: 'twitter-square' }%}</a></li>
					<li><a href="#">{% include 'atoms-icon' with { icon: 'instagram' }%}</a></li>
				</ul>
			</div> #}
		</div>
	</div>

	<div class="footer-bottom">
		<ul>
			<li>&copy; University of Kentucky</li>
			<li>An Equal Opportunity University</li>
			<li><a href="#">Accreditation</a></li>
			<li><a href="#">Directory</a></li>
		</ul>
	</div>

</footer>