.main-header {
	background-color: $color-shade-lightest;
}

.main-header__sitenav-main {
	@include ondark;
	background-color: $color-accent-secondary;
}

.main-header__sitenav-util {
	@include ondark;
	background-color: $color-secondary;
	text-align: right;
	padding: {
		top: 0.5rem;
		bottom: 0.5rem;
	}
}

.main-header__brand {
	padding: 1rem 0;

	img {
		max-width: 100%;
		height: auto;
	}
}

@include breakpoint(medium) {
	.main-header__brand {

		img {
			max-width: rem-calc(300);
		}
	}
}
