<form class="webform-submission-form webform-submission-add-form webform-submission-forgotten_events-form webform-submission-forgotten_events-add-form js-webform-details-toggle webform-details-toggle" data-drupal-selector="webform-submission-forgotten-events-add-form" enctype="multipart/form-data" action="/form/forgotten-events" method="post" id="webform-submission-forgotten-events-add-form" accept-charset="UTF-8">
  
  <div class="webform-element--title-inline js-form-item form-item js-form-type-textfield form-item-event-name js-form-item-event-name">
      <label for="edit-event-name" class="js-form-required form-required">Event Name</label>
        <input data-drupal-selector="edit-event-name" aria-describedby="edit-event-name--description" type="text" id="edit-event-name" name="event_name" value="" size="60" maxlength="255" class="form-text required" required="required" aria-required="true" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAfBJREFUWAntVk1OwkAUZkoDKza4Utm61iP0AqyIDXahN2BjwiHYGU+gizap4QDuegWN7lyCbMSlCQjU7yO0TOlAi6GwgJc0fT/fzPfmzet0crmD7HsFBAvQbrcrw+Gw5fu+AfOYvgylJ4TwCoVCs1ardYTruqfj8fgV5OUMSVVT93VdP9dAzpVvm5wJHZFbg2LQ2pEYOlZ/oiDvwNcsFoseY4PBwMCrhaeCJyKWZU37KOJcYdi27QdhcuuBIb073BvTNL8ln4NeeR6NRi/wxZKQcGurQs5oNhqLshzVTMBewW/LMU3TTNlO0ieTiStjYhUIyi6DAp0xbEdgTt+LE0aCKQw24U4llsCs4ZRJrYopB6RwqnpA1YQ5NGFZ1YQ41Z5S8IQQdP5laEBRJcD4Vj5DEsW2gE6s6g3d/YP/g+BDnT7GNi2qCjTwGd6riBzHaaCEd3Js01vwCPIbmWBRx1nwAN/1ov+/drgFWIlfKpVukyYihtgkXNp4mABK+1GtVr+SBhJDbBIubVw+Cd/TDgKO2DPiN3YUo6y/nDCNEIsqTKH1en2tcwA9FKEItyDi3aIh8Gl1sRrVnSDzNFDJT1bAy5xpOYGn5fP5JuL95ZjMIn1ya7j5dPGfv0A5eAnpZUY3n5jXcoec5J67D9q+VuAPM47D3XaSeL4AAAAASUVORK5CYII=&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%;">

            <div id="edit-event-name--description" class="description visually-hidden">
      Name of the event
    </div>
  </div>
<div class="webform-element--title-inline js-form-item form-item js-form-type-date form-item-start-date js-form-item-start-date">
      <label for="edit-start-date" class="js-form-required form-required">Start Date</label>
        <input min="10/06/2017" data-min-year="2017" type="text" data-drupal-date-format="m/d/Y" data-drupal-selector="edit-start-date" id="edit-start-date" name="start_date" value="10/07/2017" class="form-text required hasDatepicker" required="required" aria-required="true">

        </div>
<div class="webform-element--title-inline js-form-item form-item js-form-type-webform-time form-item-start-time js-form-item-start-time">
      <label for="edit-start-time" class="js-form-required form-required">Start Time</label>
        <input data-drupal-selector="edit-start-time" data-webform-time-format="g:i A" type="time" id="edit-start-time" name="start_time" value="08:00" size="10" min="08:00:00" max="23:59:00" step="900" class="form-time webform-time required" required="required" aria-required="true">

        </div>
<div class="webform-element--title-inline js-form-item form-item js-form-type-date form-item-end-date js-form-item-end-date">
      <label for="edit-end-date" class="js-form-required form-required">End Date</label>
        <input min="10/06/2017" data-min-year="2017" type="text" data-drupal-date-format="m/d/Y" data-drupal-selector="edit-end-date" id="edit-end-date" name="end_date" value="10/07/2017" class="form-text required hasDatepicker" required="required" aria-required="true">

        </div>
<div class="webform-element--title-inline js-form-item form-item js-form-type-webform-time form-item-end-time js-form-item-end-time">
      <label for="edit-end-time" class="js-form-required form-required">End Time</label>
        <input data-drupal-selector="edit-end-time" data-webform-time-format="g:i A" type="time" id="edit-end-time" name="end_time" value="08:00" size="10" min="08:00:00" max="23:59:00" step="900" class="form-time webform-time required" required="required" aria-required="true">

        </div>
<div class="webform-element--title-inline form-composite js-form-item form-item js-form-type-webform-address form-item-event-location js-form-item-event-location form-no-label" id="edit-event-location--wrapper">
      <label for="edit-event-location" class="visually-hidden">Event Location</label>
        
  <div class="js-form-item form-item js-form-type-textfield form-item-event-location-address js-form-item-event-location-address">
      <label for="edit-event-location-address">Address</label>
        <input data-drupal-selector="edit-event-location-address" type="text" id="edit-event-location-address" name="event_location[address]" value="" size="60" maxlength="255" class="form-text">

        </div>
<div class="js-form-item form-item js-form-type-textfield form-item-event-location-address-2 js-form-item-event-location-address-2">
      <label for="edit-event-location-address-2">Address 2</label>
        <input data-drupal-selector="edit-event-location-address-2" type="text" id="edit-event-location-address-2" name="event_location[address_2]" value="" size="60" maxlength="255" class="form-text">

        </div>
<div class="js-form-item form-item js-form-type-textfield form-item-event-location-city js-form-item-event-location-city">
      <label for="edit-event-location-city">City/Town</label>
        <input data-drupal-selector="edit-event-location-city" type="text" id="edit-event-location-city" name="event_location[city]" value="" size="60" maxlength="255" class="form-text">

        </div>
<div class="js-form-item form-item js-form-type-select form-item-event-location-state-province js-form-item-event-location-state-province">
      <label for="edit-event-location-state-province">State/Province</label>
        <select data-drupal-selector="edit-event-location-state-province" id="edit-event-location-state-province" name="event_location[state_province]" class="form-select"><option value="" selected="selected"></option><option value="Alabama">Alabama</option><option value="Alaska">Alaska</option><option value="American Samoa">American Samoa</option><option value="Arizona">Arizona</option><option value="Arkansas">Arkansas</option><option value="Armed Forces (Canada, Europe, Africa, or Middle East">Armed Forces (Canada, Europe, Africa, or Middle East</option><option value="Armed Forces Americas">Armed Forces Americas</option><option value="Armed Forces Pacific">Armed Forces Pacific</option><option value="California">California</option><option value="Colorado">Colorado</option><option value="Connecticut">Connecticut</option><option value="Delaware">Delaware</option><option value="District of Columbia">District of Columbia</option><option value="Federate States of Micronesia">Federate States of Micronesia</option><option value="Florida">Florida</option><option value="Georgia">Georgia</option><option value="Guam">Guam</option><option value="Hawaii">Hawaii</option><option value="Idaho">Idaho</option><option value="Illinois">Illinois</option><option value="Indiana">Indiana</option><option value="Iowa">Iowa</option><option value="Kansas">Kansas</option><option value="Kentucky">Kentucky</option><option value="Louisiana">Louisiana</option><option value="Maine">Maine</option><option value="Marshall Islands">Marshall Islands</option><option value="Maryland">Maryland</option><option value="Massachusetts">Massachusetts</option><option value="Michigan">Michigan</option><option value="Minnesota">Minnesota</option><option value="Mississippi">Mississippi</option><option value="Missouri">Missouri</option><option value="Montana">Montana</option><option value="Nebraska">Nebraska</option><option value="Nevada">Nevada</option><option value="New Hampshire">New Hampshire</option><option value="New Jersey">New Jersey</option><option value="New Mexico">New Mexico</option><option value="New York">New York</option><option value="North Carolina">North Carolina</option><option value="North Dakota">North Dakota</option><option value="Northern Mariana Islands">Northern Mariana Islands</option><option value="Ohio">Ohio</option><option value="Oklahoma">Oklahoma</option><option value="Oregon">Oregon</option><option value="Palau">Palau</option><option value="Pennsylvania">Pennsylvania</option><option value="Puerto Rico">Puerto Rico</option><option value="Rhode Island">Rhode Island</option><option value="South Carolina">South Carolina</option><option value="South Dakota">South Dakota</option><option value="Tennessee">Tennessee</option><option value="Texas">Texas</option><option value="Utah">Utah</option><option value="Vermont">Vermont</option><option value="Virgin Islands">Virgin Islands</option><option value="Virginia">Virginia</option><option value="Washington">Washington</option><option value="West Virginia">West Virginia</option><option value="Wisconsin">Wisconsin</option><option value="Wyoming">Wyoming</option></select>
        </div>
<div class="js-form-item form-item js-form-type-textfield form-item-event-location-postal-code js-form-item-event-location-postal-code">
      <label for="edit-event-location-postal-code">Zip/Postal Code</label>
        <input data-drupal-selector="edit-event-location-postal-code" type="text" id="edit-event-location-postal-code" name="event_location[postal_code]" value="" size="60" maxlength="255" class="form-text">

        </div>


            <div id="edit-event-location--description" class="description visually-hidden">
      Location where the event is taking place.&nbsp;
    </div>
  </div>
<div class="webform-element--title-inline js-form-item form-item js-form-type-textarea form-item-description js-form-item-description">
      <label for="edit-description" class="js-form-required form-required">Description</label>
        <div>
  <textarea data-drupal-selector="edit-description" aria-describedby="edit-description--description" id="edit-description" name="description" rows="5" cols="60" class="form-textarea required" required="required" aria-required="true"></textarea>
</div>

            <div id="edit-description--description" class="description visually-hidden">
      Description and/or additional details about the event.
    </div>
  </div>
<div class="webform-element--title-inline form-composite js-form-item form-item js-form-type-webform-contact form-item-event-contact js-form-item-event-contact form-no-label" id="edit-event-contact--wrapper">
      <label for="edit-event-contact" class="visually-hidden js-form-required form-required">Event Contact</label>
        
  <div class="js-form-item form-item js-form-type-textfield form-item-event-contact-name js-form-item-event-contact-name">
      <label for="edit-event-contact-name">Name</label>
        <input data-drupal-selector="edit-event-contact-name" type="text" id="edit-event-contact-name" name="event_contact[name]" value="" size="60" maxlength="255" class="form-text">

        </div>
<div class="js-form-item form-item js-form-type-email form-item-event-contact-email js-form-item-event-contact-email">
      <label for="edit-event-contact-email">Email</label>
        <input data-drupal-selector="edit-event-contact-email" type="email" id="edit-event-contact-email" name="event_contact[email]" value="" size="60" maxlength="254" class="form-email">

        </div>
<div class="js-form-item form-item js-form-type-tel form-item-event-contact-phone js-form-item-event-contact-phone">
      <label for="edit-event-contact-phone">Phone</label>
        <input data-drupal-selector="edit-event-contact-phone" type="tel" id="edit-event-contact-phone" name="event_contact[phone]" value="" size="30" maxlength="128" class="form-tel">

        </div>


            <div id="edit-event-contact--description" class="description visually-hidden">
      Contact for the individual in charge of the event/in charge of registration/participation for the event
    </div>
  </div>
<div class="webform-element--title-inline js-form-item form-item js-form-type-url form-item-registration-link js-form-item-registration-link">
      <label for="edit-registration-link">Registration link</label>
        <input data-drupal-selector="edit-registration-link" type="url" id="edit-registration-link" name="registration_link" value="" size="60" maxlength="255" class="form-url">

        </div>
<div id="ajax-wrapper"><div class="webform-element--title-inline js-form-item form-item js-form-type-webform-document-file form-item-flyer js-form-item-flyer">
      <label for="edit-flyer-upload">Flyer</label>
        <div id="edit-flyer-upload" class="js-webform-document-file webform-document-file js-form-managed-file form-managed-file">
  <div id="ajax-wrapper"><input data-drupal-selector="edit-flyer-upload" type="file" id="edit-flyer-upload" name="files[flyer]" size="22" class="js-form-file form-file">
<input class="js-hide button js-form-submit form-submit" data-drupal-selector="edit-flyer-upload-button" formnovalidate="formnovalidate" type="submit" id="edit-flyer-upload-button" name="flyer_upload_button" value="Upload">
<div class="description">One file only.<br>100 MB limit.<br>Allowed types: txt rtf pdf doc docx odt ppt pptx odp xls xlsx ods.
</div><input data-drupal-selector="edit-flyer-fids" type="hidden" name="flyer[fids]">
</div>
</div>

        </div>
</div><fieldset class="webform-has-field-suffix fieldgroup form-composite required js-form-item form-item js-form-wrapper form-wrapper" data-drupal-selector="edit-sponsor-unit" id="edit-sponsor-unit--wrapper" required="required" aria-required="true">
      <legend>
    <span class="fieldset-legend js-form-required form-required">Hosting Unit</span>
  </legend>
  <div class="fieldset-wrapper">
            <div id="edit-sponsor-unit" class="js-webform-checkboxes webform-options-display-three-columns form-checkboxes"><div class="js-form-item form-item js-form-type-checkbox form-item-sponsor-unit-rafa js-form-item-sponsor-unit-rafa">
        <input class="webform-has-field-suffix form-checkbox" data-drupal-selector="edit-sponsor-unit-rafa" type="checkbox" id="edit-sponsor-unit-rafa" name="sponsor_unit[RAFA]" value="RAFA">

        <label for="edit-sponsor-unit-rafa" class="option">Administrative &amp; Fiscal Affairs</label>
      </div>
<div class="js-form-item form-item js-form-type-checkbox form-item-sponsor-unit-vet js-form-item-sponsor-unit-vet">
        <input class="webform-has-field-suffix form-checkbox" data-drupal-selector="edit-sponsor-unit-vet" type="checkbox" id="edit-sponsor-unit-vet" name="sponsor_unit[Vet]" value="Vet">

        <label for="edit-sponsor-unit-vet" class="option">Attending Veterinarian</label>
      </div>
<div class="js-form-item form-item js-form-type-checkbox form-item-sponsor-unit-caer js-form-item-sponsor-unit-caer">
        <input class="webform-has-field-suffix form-checkbox" data-drupal-selector="edit-sponsor-unit-caer" type="checkbox" id="edit-sponsor-unit-caer" name="sponsor_unit[CAER]" value="CAER">

        <label for="edit-sponsor-unit-caer" class="option">Center for Applied Energy Research</label>
      </div>
<div class="js-form-item form-item js-form-type-checkbox form-item-sponsor-unit-ccts js-form-item-sponsor-unit-ccts">
        <input class="webform-has-field-suffix form-checkbox" data-drupal-selector="edit-sponsor-unit-ccts" type="checkbox" id="edit-sponsor-unit-ccts" name="sponsor_unit[CCTS]" value="CCTS">

        <label for="edit-sponsor-unit-ccts" class="option">Center for Clinical &amp; Translational Science</label>
      </div>
<div class="js-form-item form-item js-form-type-checkbox form-item-sponsor-unit-crvaw js-form-item-sponsor-unit-crvaw">
        <input class="webform-has-field-suffix form-checkbox" data-drupal-selector="edit-sponsor-unit-crvaw" type="checkbox" id="edit-sponsor-unit-crvaw" name="sponsor_unit[CRVAW]" value="CRVAW">

        <label for="edit-sponsor-unit-crvaw" class="option">Center for Research on Violence Against Women</label>
      </div>
<div class="js-form-item form-item js-form-type-checkbox form-item-sponsor-unit-vis js-form-item-sponsor-unit-vis">
        <input class="webform-has-field-suffix form-checkbox" data-drupal-selector="edit-sponsor-unit-vis" type="checkbox" id="edit-sponsor-unit-vis" name="sponsor_unit[Vis]" value="Vis">

        <label for="edit-sponsor-unit-vis" class="option">Center for Visualization &amp; Virtual Environments</label>
      </div>
<div class="js-form-item form-item js-form-type-checkbox form-item-sponsor-unit-cdar js-form-item-sponsor-unit-cdar">
        <input class="webform-has-field-suffix form-checkbox" data-drupal-selector="edit-sponsor-unit-cdar" type="checkbox" id="edit-sponsor-unit-cdar" name="sponsor_unit[CDAR]" value="CDAR">

        <label for="edit-sponsor-unit-cdar" class="option">Center on Drug and Alcohol Research</label>
      </div>
<div class="js-form-item form-item js-form-type-checkbox form-item-sponsor-unit-cafe js-form-item-sponsor-unit-cafe">
        <input class="webform-has-field-suffix form-checkbox" data-drupal-selector="edit-sponsor-unit-cafe" type="checkbox" id="edit-sponsor-unit-cafe" name="sponsor_unit[CAFE]" value="CAFE">

        <label for="edit-sponsor-unit-cafe" class="option">College of Agriculture, Food &amp; Environment</label>
      </div>
<div class="js-form-item form-item js-form-type-checkbox form-item-sponsor-unit-as js-form-item-sponsor-unit-as">
        <input class="webform-has-field-suffix form-checkbox" data-drupal-selector="edit-sponsor-unit-as" type="checkbox" id="edit-sponsor-unit-as" name="sponsor_unit[A&amp;S]" value="A&amp;S">

        <label for="edit-sponsor-unit-as" class="option">College of Arts &amp; Sciences</label>
      </div>
<div class="js-form-item form-item js-form-type-checkbox form-item-sponsor-unit-com js-form-item-sponsor-unit-com">
        <input class="webform-has-field-suffix form-checkbox" data-drupal-selector="edit-sponsor-unit-com" type="checkbox" id="edit-sponsor-unit-com" name="sponsor_unit[Com]" value="Com">

        <label for="edit-sponsor-unit-com" class="option">College of Communication &amp; Information</label>
      </div>
<div class="js-form-item form-item js-form-type-checkbox form-item-sponsor-unit-dentistry js-form-item-sponsor-unit-dentistry">
        <input class="webform-has-field-suffix form-checkbox" data-drupal-selector="edit-sponsor-unit-dentistry" type="checkbox" id="edit-sponsor-unit-dentistry" name="sponsor_unit[Dentistry]" value="Dentistry">

        <label for="edit-sponsor-unit-dentistry" class="option">College of Dentistry</label>
      </div>
<div class="js-form-item form-item js-form-type-checkbox form-item-sponsor-unit-design js-form-item-sponsor-unit-design">
        <input class="webform-has-field-suffix form-checkbox" data-drupal-selector="edit-sponsor-unit-design" type="checkbox" id="edit-sponsor-unit-design" name="sponsor_unit[Design]" value="Design">

        <label for="edit-sponsor-unit-design" class="option">College of Design</label>
      </div>
<div class="js-form-item form-item js-form-type-checkbox form-item-sponsor-unit-ed js-form-item-sponsor-unit-ed">
        <input class="webform-has-field-suffix form-checkbox" data-drupal-selector="edit-sponsor-unit-ed" type="checkbox" id="edit-sponsor-unit-ed" name="sponsor_unit[Ed]" value="Ed">

        <label for="edit-sponsor-unit-ed" class="option">College of Education</label>
      </div>
<div class="js-form-item form-item js-form-type-checkbox form-item-sponsor-unit-engineering js-form-item-sponsor-unit-engineering">
        <input class="webform-has-field-suffix form-checkbox" data-drupal-selector="edit-sponsor-unit-engineering" type="checkbox" id="edit-sponsor-unit-engineering" name="sponsor_unit[Engineering]" value="Engineering">

        <label for="edit-sponsor-unit-engineering" class="option">College of Engineering</label>
      </div>
<div class="js-form-item form-item js-form-type-checkbox form-item-sponsor-unit-arts js-form-item-sponsor-unit-arts">
        <input class="webform-has-field-suffix form-checkbox" data-drupal-selector="edit-sponsor-unit-arts" type="checkbox" id="edit-sponsor-unit-arts" name="sponsor_unit[Arts]" value="Arts">

        <label for="edit-sponsor-unit-arts" class="option">College of Fine Arts</label>
      </div>
<div class="js-form-item form-item js-form-type-checkbox form-item-sponsor-unit-health-sci js-form-item-sponsor-unit-health-sci">
        <input class="webform-has-field-suffix form-checkbox" data-drupal-selector="edit-sponsor-unit-health-sci" type="checkbox" id="edit-sponsor-unit-health-sci" name="sponsor_unit[Health_Sci]" value="Health_Sci">

        <label for="edit-sponsor-unit-health-sci" class="option">College of Health Sciences</label>
      </div>
<div class="js-form-item form-item js-form-type-checkbox form-item-sponsor-unit-law js-form-item-sponsor-unit-law">
        <input class="webform-has-field-suffix form-checkbox" data-drupal-selector="edit-sponsor-unit-law" type="checkbox" id="edit-sponsor-unit-law" name="sponsor_unit[Law]" value="Law">

        <label for="edit-sponsor-unit-law" class="option">College of Law</label>
      </div>
<div class="js-form-item form-item js-form-type-checkbox form-item-sponsor-unit-med js-form-item-sponsor-unit-med">
        <input class="webform-has-field-suffix form-checkbox" data-drupal-selector="edit-sponsor-unit-med" type="checkbox" id="edit-sponsor-unit-med" name="sponsor_unit[Med]" value="Med">

        <label for="edit-sponsor-unit-med" class="option">College of Medicine</label>
      </div>
<div class="js-form-item form-item js-form-type-checkbox form-item-sponsor-unit-nursing js-form-item-sponsor-unit-nursing">
        <input class="webform-has-field-suffix form-checkbox" data-drupal-selector="edit-sponsor-unit-nursing" type="checkbox" id="edit-sponsor-unit-nursing" name="sponsor_unit[Nursing]" value="Nursing">

        <label for="edit-sponsor-unit-nursing" class="option">College of Nursing</label>
      </div>
<div class="js-form-item form-item js-form-type-checkbox form-item-sponsor-unit-pharm js-form-item-sponsor-unit-pharm">
        <input class="webform-has-field-suffix form-checkbox" data-drupal-selector="edit-sponsor-unit-pharm" type="checkbox" id="edit-sponsor-unit-pharm" name="sponsor_unit[Pharm]" value="Pharm">

        <label for="edit-sponsor-unit-pharm" class="option">College of Pharmacy</label>
      </div>
<div class="js-form-item form-item js-form-type-checkbox form-item-sponsor-unit-public-health js-form-item-sponsor-unit-public-health">
        <input class="webform-has-field-suffix form-checkbox" data-drupal-selector="edit-sponsor-unit-public-health" type="checkbox" id="edit-sponsor-unit-public-health" name="sponsor_unit[Public_health]" value="Public_health">

        <label for="edit-sponsor-unit-public-health" class="option">College of Public Health</label>
      </div>
<div class="js-form-item form-item js-form-type-checkbox form-item-sponsor-unit-social js-form-item-sponsor-unit-social">
        <input class="webform-has-field-suffix form-checkbox" data-drupal-selector="edit-sponsor-unit-social" type="checkbox" id="edit-sponsor-unit-social" name="sponsor_unit[Social]" value="Social">

        <label for="edit-sponsor-unit-social" class="option">College of Social Work</label>
      </div>
<div class="js-form-item form-item js-form-type-checkbox form-item-sponsor-unit-gatton js-form-item-sponsor-unit-gatton">
        <input class="webform-has-field-suffix form-checkbox" data-drupal-selector="edit-sponsor-unit-gatton" type="checkbox" id="edit-sponsor-unit-gatton" name="sponsor_unit[Gatton]" value="Gatton">

        <label for="edit-sponsor-unit-gatton" class="option">Gatton College of Business &amp; Economics</label>
      </div>
<div class="js-form-item form-item js-form-type-checkbox form-item-sponsor-unit-kgs js-form-item-sponsor-unit-kgs">
        <input class="webform-has-field-suffix form-checkbox" data-drupal-selector="edit-sponsor-unit-kgs" type="checkbox" id="edit-sponsor-unit-kgs" name="sponsor_unit[KGS]" value="KGS">

        <label for="edit-sponsor-unit-kgs" class="option">Kentucky Geologic Survey</label>
      </div>
<div class="js-form-item form-item js-form-type-checkbox form-item-sponsor-unit-markey js-form-item-sponsor-unit-markey">
        <input class="webform-has-field-suffix form-checkbox" data-drupal-selector="edit-sponsor-unit-markey" type="checkbox" id="edit-sponsor-unit-markey" name="sponsor_unit[Markey]" value="Markey">

        <label for="edit-sponsor-unit-markey" class="option">Markey Cancer Center</label>
      </div>
<div class="js-form-item form-item js-form-type-checkbox form-item-sponsor-unit-ori js-form-item-sponsor-unit-ori">
        <input class="webform-has-field-suffix form-checkbox" data-drupal-selector="edit-sponsor-unit-ori" type="checkbox" id="edit-sponsor-unit-ori" name="sponsor_unit[ORI]" value="ORI">

        <label for="edit-sponsor-unit-ori" class="option">Office of Research Integrity</label>
      </div>
<div class="js-form-item form-item js-form-type-checkbox form-item-sponsor-unit-ospa js-form-item-sponsor-unit-ospa">
        <input class="webform-has-field-suffix form-checkbox" data-drupal-selector="edit-sponsor-unit-ospa" type="checkbox" id="edit-sponsor-unit-ospa" name="sponsor_unit[OSPA]" value="OSPA">

        <label for="edit-sponsor-unit-ospa" class="option">Office of Sponsored Projects Administration</label>
      </div>
<div class="js-form-item form-item js-form-type-checkbox form-item-sponsor-unit-otc js-form-item-sponsor-unit-otc">
        <input class="webform-has-field-suffix form-checkbox" data-drupal-selector="edit-sponsor-unit-otc" type="checkbox" id="edit-sponsor-unit-otc" name="sponsor_unit[OTC]" value="OTC">

        <label for="edit-sponsor-unit-otc" class="option">Office of Technology Commercialization</label>
      </div>
<div class="js-form-item form-item js-form-type-checkbox form-item-sponsor-unit-pdo js-form-item-sponsor-unit-pdo">
        <input class="webform-has-field-suffix form-checkbox" data-drupal-selector="edit-sponsor-unit-pdo" type="checkbox" id="edit-sponsor-unit-pdo" name="sponsor_unit[PDO]" value="PDO">

        <label for="edit-sponsor-unit-pdo" class="option">Proposal Development Office</label>
      </div>
<div class="js-form-item form-item js-form-type-checkbox form-item-sponsor-unit-ris js-form-item-sponsor-unit-ris">
        <input class="webform-has-field-suffix form-checkbox" data-drupal-selector="edit-sponsor-unit-ris" type="checkbox" id="edit-sponsor-unit-ris" name="sponsor_unit[RIS]" value="RIS">

        <label for="edit-sponsor-unit-ris" class="option">Research Information Services</label>
      </div>
<div class="js-form-item form-item js-form-type-checkbox form-item-sponsor-unit-spd js-form-item-sponsor-unit-spd">
        <input class="webform-has-field-suffix form-checkbox" data-drupal-selector="edit-sponsor-unit-spd" type="checkbox" id="edit-sponsor-unit-spd" name="sponsor_unit[S&amp;PD]" value="S&amp;PD">

        <label for="edit-sponsor-unit-spd" class="option">Students &amp; Postdocs</label>
      </div>
<div class="js-form-item form-item js-form-type-checkbox form-item-sponsor-unit-vpr js-form-item-sponsor-unit-vpr">
        <input class="webform-has-field-suffix form-checkbox" data-drupal-selector="edit-sponsor-unit-vpr" type="checkbox" id="edit-sponsor-unit-vpr" name="sponsor_unit[VPR]" value="VPR">

        <label for="edit-sponsor-unit-vpr" class="option">Vice President for Research</label>
      </div>
<div class="js-form-item form-item js-form-type-checkbox form-item-sponsor-unit-resources js-form-item-sponsor-unit-resources">
        <input class="webform-has-field-suffix form-checkbox" data-drupal-selector="edit-sponsor-unit-resources" type="checkbox" id="edit-sponsor-unit-resources" name="sponsor_unit[resources]" value="resources">

        <label for="edit-sponsor-unit-resources" class="option">General Resource Event</label>
      </div>
</div>

          <span class="field-suffix"><div class="description visually-hidden">College, core, or center hosting the event</div></span>
          </div>
</fieldset>
<div class="webform-element--title-inline js-form-item form-item js-form-type-textfield form-item-sponsor js-form-item-sponsor">
      <label for="edit-sponsor">Sponsor</label>
        <input data-drupal-selector="edit-sponsor" aria-describedby="edit-sponsor--description" type="text" id="edit-sponsor" name="sponsor" value="" size="60" maxlength="255" class="form-text">

            <div id="edit-sponsor--description" class="description visually-hidden">
      name of sponsoring department, company, etc.&nbsp;
    </div>
  </div>
<input data-drupal-selector="form-3pnxohniblbyphn23i1ertzcn4w18wack7vodtcjecw" type="hidden" name="form_build_id" value="form-3PnxOhnIblbYphN23I1eRtZCn4W18WAck7VODtcjECw">
<input data-drupal-selector="edit-webform-submission-forgotten-events-add-form" type="hidden" name="form_id" value="webform_submission_forgotten_events_add_form">
<div data-drupal-selector="edit-actions" class="form-actions js-form-wrapper form-wrapper" id="edit-actions"><input class="webform-button--submit button button--primary js-form-submit form-submit" data-drupal-selector="edit-submit" type="submit" id="edit-submit" name="op" value="Submit">
<input class="webform-button--reset js-webform-novalidate button js-form-submit form-submit" data-drupal-selector="edit-reset" type="submit" id="edit-reset" name="op" value="Reset">

</div>

  
</form>