{% extends 'base.twig' %}

{% block base %}



 	{% include 'organisms-page-header' with { 
 		headline: 'News',
 		tagline: 'by telling the stories behind our research'
	} %}
  


	<ul>
		<li>List item</li>
		<li>
			List item
			<ul>
				<li>Nested list item</li>
				<li>Nested list item</li>
				<li>Nested list item</li>
			</ul>
		<li>List item</li>
		<li>List item</li>
		<li>List item</li>
	</ul>


	<ul class="angle-list">
		<li>List item</li>
		<li>
			List item
			<ul>
				<li>Nested list item</li>
				<li>Nested list item</li>
				<li>Nested list item</li>
			</ul>
		<li>List item</li>
		<li>List item</li>
		<li>List item</li>
	</ul>

	<ul class="no-bullet">
		<li>List item</li>
		<li>
			List item
			<ul>
				<li>Nested list item</li>
				<li>Nested list item</li>
				<li>Nested list item</li>
			</ul>
		<li>List item</li>
		<li>List item</li>
		<li>List item</li>
	</ul>

	<ul class="secondary-font">
		<li>List item</li>
		<li>
			List item
			<ul>
				<li>Nested list item</li>
				<li>Nested list item</li>
				<li>Nested list item</li>
			</ul>
		<li>List item</li>
		<li>List item</li>
		<li>List item</li>
	</ul>

	<ul class="strip-list">
		<li>List item</li>
		<li>
			List item
			<ul>
				<li>Nested list item</li>
				<li>Nested list item</li>
				<li>Nested list item</li>
			</ul>
		<li>List item</li>
		<li>List item</li>
		<li>List item</li>
	</ul>


	{% include 'molecules-sticky-nav' with { 
		links: [
			{
				link_title: 'Test Link 1',
				jumplink_target: 'test1'
			},
			{
				link_title: 'Another Link',
				jumplink_target: 'any-unique-id'
			},
			{
				link_title: 'One More that is Really Long and Annoying',
				jumplink_target: 'test3'
			}
		]
	} %}



	{% include 'molecules-headline-group' with {
		jumplink_target: 'test1'
	} %}
	{% for i in 0 .. 6 %}
	{% include 'atoms-paragraph' %}
	{% endfor %}



		{% include 'molecules-headline-group' with {
			jumplink_target: 'any-unique-id'
		} %}
		{% for i in 0 .. 6 %}
		{% include 'atoms-paragraph' %}
		{% endfor %}



		{% include 'molecules-headline-group' with {
			jumplink_target: 'test3'
		} %}
		{% for i in 0 .. 6 %}
		{% include 'atoms-paragraph' %}
		{% endfor %}


{% endblock %}
