.block-list {
    // First of type, last of type adjustments to make 
    // the first and last blocks in the list flush with the container space
    aside:first-of-type {
        padding-top: 0;
    }
    aside:last-of-type {
        padding-bottom: 0;
    }
}