@use 'root-rhythm';
@use 'color-functions';
@use 'typography';
@use 'layout';


.slab-series {
    width:100%;
    display: flex;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;

    .slab {
        width:100%;
        flex-shrink: 0;
        position: relative;
        scroll-snap-align: start;
    }

    .slab-series__next {
        position: absolute;
        bottom: root-rhythm.rr-gridbase(2); 
        right: root-rhythm.rr-gridbase(2);
        max-width: calc(layout.$global-width/4);
    }

    .slab-series__next-super {
        @include root-rhythm.rr-font-compute(xl, wide, typography.$fonts);
    }

    .slab-series__next-super {
        color: color-functions.color(wildcat-white);
        text-shadow: 1px 1px 1px rgba(0,0,0,.3);
    }

    .link--fancy {
        color: color-functions.color(wildcat-white);
        text-shadow: 1px 1px 1px rgba(0,0,0,.3);
    }
    

    .slab--light {
        .slab-series__next-super {
            color: color-functions.color(wildcat-black);
            text-shadow: none;
        }

        .link--fancy {
            color: color-functions.color(wildcat-black);
            text-shadow: none;
        }
    }

}