.slab-series {
    width:100%;
    display: flex;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;

    .slab {
        width:100%;
        flex-shrink: 0;
        display: relative;
        scroll-snap-align: start;
    }

    .slab-series__next {
        position: absolute;
        bottom: rr-gridbase(2); 
        right: rr-gridbase(2);
        max-width: $global-width/4;
    }

    .slab-series__next-super {
        @include rr-font-compute(xl, wide);
    }

    .slab--dark {
        .slab-series__next-super {
            color: color(light-blue);
        }

        .link--fancy {
            color: color(wildcat-white);
        }
    }


}