@use '../../includes/color-functions';
@use '../../includes/root-rhythm';

.page-header.page-header--hero {
  padding-top: 0;
  padding-right: 0;
  padding-left: 0;

  img {
    display: block;
    margin: 0;
  }

  &.popout {
    padding-bottom: 0;
  }

  $altcolors: wildcat-blue dark-blue;

  @each $color in $altcolors {
    &.slab--#{$color} {
      border-width: 0;
      background-color: transparent;

      .slab__wrapper {
        border-width: 4px;
        border-color: color-functions.color(light-blue);
        background-color: color-functions.color($color);
      }
    }
  }

  .slab__wrapper {
    position: relative;
    margin-top: root-rhythm.rr-gridbase(-2);
    padding: 0 root-rhythm.rr-prop-for-breakpoint(s, offset);
    border-color: color-functions.color(light-gray);
    background-color: color-functions.color(blue-gray);
  }

  .page-header__content {
    width: 100%;
    padding-top: root-rhythm.rr-gridbase(2);
    padding-right: root-rhythm.rr-gridbase(2);
  }

  .page-header__secondary-img {
    margin-right: root-rhythm.rr-prop-for-breakpoint(s, offset) * -1;
    margin-left: root-rhythm.rr-prop-for-breakpoint(s, offset) * -1;
  }

  @include root-rhythm.rr-break-directive(m) {
    .slab__wrapper {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      padding: 0 root-rhythm.rr-prop-for-breakpoint(m, offset);
    }

    .page-header__secondary-img {
      margin-right: root-rhythm.rr-prop-for-breakpoint(m, offset) * -1;
      margin-left: 0;
    }
  }

  @include root-rhythm.rr-break-directive(l) {
    .slab__wrapper {
      align-items: center;
      margin-top: root-rhythm.rr-gridbase(-15);
      padding: 0;
    }

    .page-header__content {
      padding: root-rhythm.rr-gridbase(4) root-rhythm.rr-gridbase(9);
    }

    .page-header__secondary-img {
      align-self: stretch;
      max-width: 355px;
      margin-right: 0;
    }
  }

  &.page-header--overlay-hero {
    position:relative;
    padding-bottom:0;

    .slab__wrapper {
      border:none;
      margin-top:0;
      margin-bottom:0;
    }

    .page-header__content {
      position: absolute;
      bottom: 0;
      padding: 0;
      width: calc(100% - (2 * #{root-rhythm.rr-prop-for-breakpoint(s, offset)}));
      margin-bottom: root-rhythm.rr-gridbase(2);
      @include root-rhythm.rr-break-directive(l) {
        width: 100%;
      }
    }

    .headline-group,
    .headline-group .headline-group__super {
      color:color-functions.color(wildcat-white);
      text-shadow: 1px 1px 2px black;
      //font-family: $font-surveyor;

      a:link, a:visited {
        text-decoration: none;
        color:color-functions.color(wildcat-white);
      }

      a:hover, a:active{
        text-decoration: underline;
        color:color-functions.color(wildcat-white);
      }
    }

  }
}
