{% embed 'molecules-slab' with { slab_variant: slab_variant } %}
    {% block slab_outer %}
        <div class="grid grid--sidebar-right">
            <div class="grid__column grid__column--article">
                {% include 'atoms-placeholder' %}
            </div>
            <div class="grid__column grid__column--sidebar">
                {% include 'atoms-placeholder' %}
            </div>            
        </div>
    {% endblock %}
{% endembed %}