<div class="four-columns {{ row_constraint }}">
	<div class="four-columns__left">
		{% block four_columns_left %}
			{% include 'atoms-paragraph' %}
		{% endblock %}
	</div>
	<div class="four-columns__center-left">
		{% block four_columns_center_left %}
			{% include 'atoms-paragraph' %}
		{% endblock %}
	</div>
	<div class="four-columns__center-right">
		{% block four_columns_center_right %}
			{% include 'atoms-paragraph' %}
		{% endblock %}
	</div>
	<div class="four-columns__right">
		{% block four_columns_right %}
			{% include 'atoms-paragraph' %}
		{% endblock %}
	</div>
</div>
