<div class="two-columns {{ row_constraint }}">
	<div class="two-columns__left">
		{% block two_columns_left %}
			{% include 'atoms-paragraph' %}
		{% endblock %}
	</div>
	<div class="two-columns__right">
		{% block two_columns_right %}
			{% include 'atoms-paragraph' %}
		{% endblock %}
	</div>
</div>
